/* =============================================================================
//  Button module
// ========================================================================== */

// @import "../core/*";

/*doc
---
title: Buttons
name: button
category: atoms
---

You can apply button styles to pretty much anything you'd like. Anchors and button elements, though, would be the winners on the semantics front.

You can mix and match classes to get the hierarchy/size you need. "small primary" and "large tertiary" are both kosher.

```html_example
<a href="#" class="button">Default</a>
<a href="#" class="button primary">Primary</a>
<a href="#" class="button secondary">Secondary</a>
<a href="#" class="button tertiary">Tertiary</a>
<a href="#" class="button small">Small</a>
<a href="#" class="button large">Large</a>
```

*/

$button-radius--default: 3px;


/* Base
// -------------------------------------------------------------------------- */

button, .button {
    @extend %font-accent;
    @include border('all', 'thick', $color: theme('text' 'primary'));
    @include font-scale(2);
    display: inline-block;
    padding: em(fs(1)) em(fs(4));
    border-radius: $button-radius--default;
    color: theme('text' 'primary');

    &:hover, &:active {
        border-color: theme('highlight');
        color: theme('highlight'); // override default link hover color

        @include jacket(highlights) {
            border-color: black;
            color: black;
        }
    }

    sup {
        font-size: 0.618em;
    }
}



/* Modifiers
// -------------------------------------------------------------------------- */
button, .button {

    // --- sizes ---------------------------------------------------------------
    // -> default size is "medium." add these classes to go bigger or smaller.

    &.small {
        @include font-scale(1);
        padding: em(6px) em(fs(2));
        border-radius: 1px;
        border-width: border-w('mid');
    }

    // --- special variations --------------------------------------------------
    // -> buttons of a strange and amazing nature

    // a "buy this" button, usually with a price
    &.purchase {
        padding: 0 em(fs(4)) 0 0; // override default button padding
        vertical-align: middle;
    }

    // icon for type of edition
    &.initial {
        @extend %font-accent--bold;
        text-align: center;
        text-transform: uppercase;

        &:before { content: attr(data-initial); }
    }

    &.text {
        @extend %font-accent--bold;
        @include font-scale(1);
        padding: 0;
        border: none;
        text-transform: uppercase;
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

// group/row of buttons joined together
.button-group {

}

// price callout on a purchase button
// -> use inside .button.purchase
.button-price {
    @extend %base-transition;
    @extend %theme--reverse;
    display: inline-block;
    margin-right: 1em;
    padding: em(9px) em(fs(4));
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    color: theme('text' 'primary', 'reverse');

    &:hover, &:active,
    .button:hover &, .button:active & {
        background-color: theme('highlight', 'reverse');
    }
}

// label applied to a button
// -> for applying special formatting to button contents
// -> hidden on "initial" variant
.button-label {
    .button.initial > & { @include visually_hidden(true); }
}
