/* =============================================================================
//  Global heading styles
// ========================================================================== */

@import "../core/*";

/*doc
---
title: Headings
name: heading
category: atoms
---

You can make individual headings and groups of headings with both the usual `h1 - h6` tags and also a few helper/microclasses to add special behaviors.

#### Helper classes

`h1 - h6` get global styles, which you can imitate with other tags (like `span`) if needed using these greek fraternity-esque helpers:

```
.alpha // looks like h1
.beta // looks like h2
.cappa // looks like h3
.delta // looks like h4
.epsilon // looks like h5
.zeta // looks like h6
```

`.highlight` is useful for making a heading bright and obnoxious. It will adapt the highlight color of its context (ie blue, orange, whatever).

##### Note on titles and subtitles

It's important to remember that the `h1, h2, h3`, etc. elements are not just for looks: they have a specific purpose in HTML. They're essential to the DOM Tree and, to your browser, they represent the beginning of a new section of content. HTML5 has a variety of what are called "sectioning" elements and headings are the most basic of those (`section`, `article`, and `aside` being more sophisticated sectioning containers).

What does this mean? Don't use an `h3` tag just because you wnat that size and style of type somewhere. Use it only to mark up a third-level section heading. If you just want the look of an `h3` in a non-sectioning context (like an article subtitle), use a generic element like `span` or `p` with the `.cappa` helper class.

Many modules (like `media-box`, `profile`, etc.) define their own special heading submodules to achieve a certain style regardless of the actual markup. If you're working in one of those modules, reach for the submodules first.

*/

%heading-defaults {
    line-height: 1.2;
    margin: 0;
    color: theme('text' 'primary');

    a { color: inherit; }

    strong {
        font-family: inherit;
        font-style: normal;
        font-weight: normal;
        color: theme(highlight);
    }
}

/* Globals
// -------------------------------------------------------------------------- */

h1, .alpha, %alpha {
    @extend %heading-defaults;
    @extend %font-display;
    @include font-scale(8);
    letter-spacing: -0.03em;
    line-height: 1.1;
}

h2, .beta, %beta {
    @extend %heading-defaults;
    @extend %font-display;
    @include font-scale(6);
}

h3, .cappa, %cappa {
    @extend %heading-defaults;
    @extend %font-accent;
    @include font-scale(5);

    // strong { @extend %font-accent--bold; }
}

h4, .delta, %delta {
    @extend %heading-defaults;
    @extend %font-accent;
    @include font-scale(3);
}

h5, .epsilon, %epsilon {
    @extend %heading-defaults;
    @extend %font-accent--bold;
    @include font-scale(2);
}

h6, .zeta, %zeta {
    @extend %heading-defaults;
    @extend %font-accent--bold;
    @include font-scale(1);
}

/* Modules
// -------------------------------------------------------------------------- */
// -> specific types of headings or groups of headings

// make an element look like a primary heading
.title {
    @extend %font-display;
    display: block;
    margin: 0.5em 0;
    color: theme(text-primary);
}

// make an element look like a secondary heading
.subtitle {
    @extend %font-accent;
    display: block;
    margin: 0.5em 0;
    color: theme(text secondary);
    margin-top: 0.2em;

    .title + & { margin-top: 0; }

    strong { color: theme('text' 'primary'); }
}

// make a heading a secondary label, a "meta header"
.slug {
    @extend %font-accent--bold;
    @extend %epsilon;
    text-transform: uppercase;
    color: lighte(theme(text primary), 10);
}
