/* ==========================================================================
// icon styles
// ========================================================================== */

/* Base
// ---------------------------------------------------------------------------*/

.icon {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
}

/* Modifiers
// ---------------------------------------------------------------------------*/

.icon {
    &.logo-jp {
        @include rem(width, 40px);
        @include rem(height, 39px);
        fill: $blue;
        color: white;
    }

    &.edition {
        @extend %base-transition;
        @include rem(width, 30px);
        @include rem(height, 30px);
        font-size: 0;
        fill: white;
        border: 2px solid $black;
        color: $black;
        border-radius: 5px;

        &:hover {
            fill: $black;
            color: white;
        }
    }
}

.logo-jp-bg {
    fill: $blue;
}
.logo-jp-letter {
    fill: white;
}

/* Submodules
// ---------------------------------------------------------------------------*/

.icon {

}

