/* =============================================================================
//  Global list styles
// ========================================================================== */

@import "../core/*";

/* Globals
// -------------------------------------------------------------------------- */

li {
    @include font-scale(2);

    strong {
        font-weight: bold;
    }
}

li {
    margin-bottom: 0.5em;
}

ol, ul {
    margin-left: 1.5em; /* bump to the right a little @ mobile sizes so the numbers/bullets don't run off */
    padding-left: 0;

    @include respond-to("small") {
        margin-left: 0;
    }
}

dl {
    @include font-scale(2);
    margin: 0;
    color: theme('text--tertiary');
}

    dt {
        @extend %font-accent;
        color: theme(text secondary);
    }
    dd {
        @extend %font-accent;
        margin-left: 0;
    }

.tabular {
    @include clearfix;
    display: block;

    .tabular-key, dt {
        display: inline-block;
        float: left;
        clear: left;
        width: 7em;

        &:after {
            content: ":";
        }
    }

    .tabular-value, dd {
        display: inline-block;
        float: left;
    }
}
