/* =============================================================================
// Tag/tag list styles
// ========================================================================== */

@import "../core/*";

$tag-color: theme(text tertiary);

/* Base
// -------------------------------------------------------------------------- */

.tag {
    @extend a;
    @extend %font-accent;
    @include font-scale(2);
    display: inline;
    text-transform: uppercase;
    color: $tag-color;

    &:hover, &:active {
        color: theme(highlight);
    }

    a {
        @extend %font-accent;
        color: $tag-color;

        &:hover, &:active {
            color: theme(highlight);
        }
    }
}

// list of tags
.tags {
    @include inline-list();
    display: inline-block;
    margin: 0.5em 0;
    vertical-align: top;

    &:last-child { margin-bottom: 0; }

    & > li, & > dd {
        margin-top: 0;

        &:after {
            content: ",";
            color: $tag-color;
        }
        &:last-child:after {
            content: none;
        }
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

.tags-label {
    @extend %font-accent--bold;
    @include font-scale(2);
    display: inline;
    text-transform: uppercase;
    color: $tag-color;
    margin-right: 0.3em;

    &:after { content: ":"; }
}
