/* =============================================================================
//  Global type styles
// ========================================================================== */

@import "../core/*";

/*doc

Inline text is mostly styled globally and doesn't change a whole lot from one context to another. If you mark it up with relevant tags it should take care of itself. But there are a few helper classes to define special styles:

`.intro`: an italicized introduction to an article. Pretty common in Handshake's features and interviews.

`.caption`: small, secondary text appearing in sidebars and, of course, captions.

`.callout`: a featured passage. It isn't a header, per se, but it's the most important part of the article body. Used, for example, to highlight the question in _1 Question, 9 Experts_.

`.lead`: the first paragraph of an article, decorated with a drop cap, etc. This is usually selected via `.content > p:first-child`, but if you need to imitate those styles in another context, use this class.

*/


/* Globals
// -------------------------------------------------------------------------- */

body {
    @extend %font-body;
    // @include enable-ligatures;
    font-feature-settings: "liga","dlig";
    line-height: $type-line_height;
}

p {
    @extend %font-body;
    @include font-scale(3);
    color: theme('text' 'body');
}

a {
    @extend %base-transition;
    font-family: inherit;
    text-decoration: none;
    color: theme('highlight');

    &:hover, &:active {
        color: darken(theme('highlight'), 10);
    }
}

strong, em {
    @extend %font-body--italic;
    font-style: italic;
}

small {
    font-size: 0.6em;
}

sup {
    font-size: 0.618em;
}

time {
    @extend .date;
}

figcaption {
    @extend %font-body;
    @include font-scale(1);
    color: theme(text secondary);
}

address {

}

/* Modules
// -------------------------------------------------------------------------- */

// the first paragraph, often set slightly bigger
.lead {
    @include font-scale(3);

    &:first-letter {
        @extend %font-display;
        display: inline-block;
        float: left;
        vertical-align: baseline;
        margin: 0em 0.04em -0.1em -0.03em;
        font-size: 3.6em;
        line-height: 1;
        color: theme(text primary);
    }
}

// a caption
.caption { @extend figcaption; }

.meta {
    @extend %font-accent;
    @include font-scale(2);
    // display: block;
    text-transform: uppercase;
    color: theme(text tertiary);

    a { color: inherit; }
}

.date {
    @extend .meta;
    @extend %font-accent--bold;
}
