@charset "UTF-8";


/* ==========================================================================
//  Global type styles
// ========================================================================== */

/* ----- Config & mixins ---------------------------------------------------- */

$font-scale: 13px 16px 19px 26px 30px 42px 48px 68px 78px 110px;

@function fs($step) {
    @return nth($font-scale, $step);
}

@mixin font-scale($step) {
    @include rem(font-size, fs($step));
}

/* ----- Styles ------------------------------------------------------------- */

body {

}

header {
    #{headers()} {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 1.2;
    }
}

#{headers()} {
    // @extend %font-display;
    @include enable-ligatures;
    margin: 0;
    // padding: 0.5em 0;

    strong, em { @extend %font-display--bold; }

    a {
        color: inherit;

        &:hover, &:active {
            color: inherit;
            border-bottom: none;
        }

        strong, em { @extend %font-display--bold; }
    }
}

h1, %h1 {
    @extend %font-headline;
    @include font-scale(6);
    letter-spacing: -0.05em;
}

h2, %h2 {
    @extend %font-headline;
    @include font-scale(5);
    letter-spacing: -0.03em;
}

h3, %h3 {
    @include font-scale(4);
}

h4, %h4 {
    @include font-scale(3);
}

h5, %h5 {
    @include font-scale(2);
}

h6, %h6 {
    @include font-scale(1);
    text-transform: uppercase;
}

/* bigger first paragraph */
.intro {
    @include font-scale(3);
}

p, table, li {
    @extend %font-body;
    @include font-scale(2);

    strong { @extend %font-body--bold; }
    em { @extend %font-body--bold; }
}

li {
    margin-bottom: 0.5em;
}

ol, ul {
    margin-left: 1.5em; /* bump to the right a little @ mobile sizes so the numbers/bullets don't run off */
    padding-left: 0;

    @include breakpoint($screen--small) {
        margin-left: 0;
    }
}

a {
    @extend %base-transition;
    font-family: inherit;
    text-decoration: none;
}

form, input, textarea, select, label {

}

small {
    @include font-scale(1);
}

figcaption {

}

/* use the best ampersands from common system fonts... */
.amp {
    @extend %amp-system;
    font-size: $type-size-amp; /* relative to whatever type surrounds it -- it renders slightly bigger */
    color: inherit !important;
}


