/* Layout child elements in a line, spread from end to end */

.bookend {
	--gap-vertical: var(--space-narrow);
	--gap-horizontal: var(--space-wide);

	display: flex;
	flex-direction: column;
	gap: var(--gap-vertical);
	padding-left: 0;
	list-style: none;
}

.bookend-item {
	display: block;
}

@media screen and (min-width: 40em) {
	.bookend {
		align-items: flex-start;
		flex-direction: row;
		gap: var(--gap-horizontal);
		justify-content: space-between;
	}

	/* push the last nav link to the right/end of line */
	/* -> use this in addition to justify-content because it works with only one child */
	.justify-end .bookend-item:last-child {
		margin-inline-start: auto;
		text-align: right;
	}
}
