.tooltip {
  --bg: hsl(var(--color-bg-h), var(--color-bg-s), calc(var(--color-bg-l) + 15%));
  --border: var(--color-border);
  --pointer-margin: var(--space-xnarrow);
  --pointer-size: 0.6em;
  --show: 0;
  --transition-duration: 0.25s;
  --parent-height: 1em;

  background-color: var(--bg);
  border-radius: 0.25em;
  border: 1px solid var(--border);
  bottom: calc(var(--parent-height) + var(--pointer-size) + 1em);
  box-shadow: 0 0.05rem 0.5rem var(--color-shadow);
  color: var(--color-primary);
  content: attr(title);
  display: block;
  font-family: var(--type-font-accent);
  font-size: var(--type-scale-zeta);
  line-height: var(--type-leading-tight);
  max-width: 18rem;
  min-width: 12rem;
  opacity: var(--show);
  padding: var(--space-xnarrow) var(--pointer-margin);
  position: absolute;
  transition: var(--transition-duration) opacity ease-in-out;
  will-change: opacity;
  z-index: 4;
}

.tooltip::before,
.tooltip::after {
  border-left: var(--pointer-size) solid transparent;
  border-right: var(--pointer-size) solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  position: absolute;
  width: 0;
}

.tooltip.start {
  left: calc(var(--pointer-margin) * -1);
  text-align: left;
}

.tooltip.end {
  right: calc(var(--pointer-margin) * -1);
  text-align: right;
}

.tooltip.center {
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.tooltip::before {
  border-top: var(--pointer-size) solid var(--border);
  bottom: calc(var(--pointer-size) * -1);
}

.tooltip::after {
  border-top: var(--pointer-size) solid var(--bg);
  bottom: calc((var(--pointer-size) - 0.1em) * -1);
}

.tooltip.start::before,
.tooltip.start::after {
  left: var(--pointer-margin);
}

.tooltip.end::before,
.tooltip.end::after {
  right: var(--pointer-margin);
}

.tooltip.center::before,
.tooltip.center::after {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.center {
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}

.tooltip.show {
  --show: 1;
}