/* ==========================================================================
// card box styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/button";

$card-grid: ms(1) ms(7);
$card-grid--large: ms(7) ms(1);
$card-bp: 'medium';

@mixin col($loc, $grid: $card-grid, $gutter: $gutter) {
    display: inline-block;
    width: percentage(nth($grid, $loc)/sl-sum($grid));
    padding: 0 ($gutter/2);

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }

    @if ($loc == length($grid)) {
        .flexbox & {
            display: block;
            width: auto;
            flex: 1;
        }
    }
}

/* Base
// ---------------------------------------------------------------------------*/

.card {
    display: block;
}

/* Modifiers
// ---------------------------------------------------------------------------*/

.card.horizontal {
    @include align-items(flex-start);
    font-size: 0;

    > * { @include type-default; }

    @include respond-to('xsmall') {
        .flexbox & { @include display(flex); }
    }
}

.card.large {}

.card.horizontal.large {
    @include respond-to('xsmall') {
        .flexbox & { display: block; }
    }
    @include respond-to('medium') {
        .flexbox & { @include display(flex); }
    }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.card-figure {
    display: block;

    .card.horizontal & {
        @include type-default;

        @include respond-to('xsmall') {
            @include col(1);

            .flexbox & { display: block; }
        }
    }

    .card.horizontal.large & {
        @include respond-to('xsmall') {
            display: block;
            width: 100%;
            padding: 0;
        }

        @include respond-to('medium') { @include col(1, $grid: $card-grid--large); }
    }
}

.card-content {
    display: block;
    margin-top: 1.5em;

    .card.horizontal & {
        @include respond-to('xsmall') {
            @include col(2);
            margin-top: 0;
        }
    }

    .card.horizontal.large & {
        display: block;
        margin-top: 1.5em;
        padding: 0;
        width: 100%;
        flex: none;

        @include respond-to('medium') {
            @include col(2, $grid: $card-grid--large);
            flex: 1;
            margin-top: 0;
        }
    }

    p:first-child { margin-top: 0; }
}

.card-button {
    @extend .button;
    @extend .button.text;
    display: block;
    margin-top: 1em;
}

.card-stats {
    @extend .tabular;
    @include font-scale(1);
}

.card-caption {
    @include font-scale(1);
    color: theme('text--tertiary');

    // .card-stats + & {
    //     @include border(top);
    //     padding-top: 1em;
    // }
}
