/* ==========================================================================
// card box styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/button";

$card-grid: ms(1) ms(3);
$card-bp: 'medium';

@mixin col($loc, $gutter: $gutter, $grid: $card-grid) {
    display: inline-block;
    width: percentage(nth($grid, $loc)/sl-sum($grid));
    padding: 0 ($gutter/2);

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
}

/* Base
// ---------------------------------------------------------------------------*/

.card {
    display: block;
}

/* Modifiers
// ---------------------------------------------------------------------------*/

.card.horizontal {
    font-size: 0;

    > * { @include type-default; }

    @include respond-to('xsmall') {
        .flexbox & {
            @include display(flex);
            @include align-items(flex-start);
        }
    }
}

.card.full {
    @include clearfix;
    @include rem(margin, 0 0 $gutter 0);
    @include rem(padding, 0 0 $gutter 0);
    @include border('bottom');

    display: block;

    &:last-child { border-bottom: none; }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.card-figure {
    display: block;

    .card.horizontal & {
        @include type-default;

        @include respond-to('xsmall') {
            @include col(1);

            .flexbox & {
                display: block;
            }
        }
    }
}

.card-content {
    display: block;
    margin-top: 1.5em;

    .card.horizontal & {
        @include respond-to('xsmall') {
            @include col(2);
            margin-top: 0;

            .flexbox & {
                display: block;
                width: auto;
                flex: 1;
            }
        }
    }

    p:first-child { margin-top: 0; }
}

.card-read_more {
    @extend .button;
    @extend .read_more;
    display: block;
    margin-top: 1em;
}

.card-stats {
    @extend .tabular;
    @include font-scale(1);
}

.card-caption {
    @include font-scale(1);
    color: theme('text--tertiary');

    // .card-stats + & {
    //     @include border(top);
    //     padding-top: 1em;
    // }
}
