/* ==========================================================================
// card box styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/button";

$card-grid: (ms(3) ms(1));
$card-bp: 'medium';


/* Base
// ---------------------------------------------------------------------------*/

.card {

}

/* Modifiers
// ---------------------------------------------------------------------------*/

.card.full {
    @include clearfix;
    @include rem(margin, 0 0 $gutter 0);
    @include rem(padding, 0 0 $gutter 0);
    @include border('bottom');

    display: block;

    &:last-child { border-bottom: none; }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.card-thumb {
    @include respond-to($card-bp) {
        // @include grid-span(1, 1, $card-grid);
    }
}

.card-content {
    margin-top: 1.5em;

    @include respond-to($card-bp) {
        // @include grid-span(1, 2, $card-grid);
        margin-top: 0;
    }
}

.card-read_more {
    @extend .button;
    @extend .read_more;
    display: block;
    margin-top: 1em;
}

.card-stats {
    @extend .tabular;
    @include font-scale(1);
}

.card-caption {
    @include font-scale(1);
    color: theme('text--tertiary');

    // .card-stats + & {
    //     @include border(top);
    //     padding-top: 1em;
    // }
}
