/* ==========================================================================
// Cover image styles
// ========================================================================== */

@import "../core/*";


/* Base
// ---------------------------------------------------------------------------*/

.cover {
    @include rem(margin, 0 auto);
    display: block;
    padding: 0 $gutter-outside;
    max-height: 600px;
    max-height: 80vh;
}
