/* ==========================================================================
// Header styles
// ========================================================================== */

@import "../core/*";


// $header-h: 50px;

/* Base
// ---------------------------------------------------------------------------*/

.feed {
    display: block;
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    ul, li { padding-left: 0; }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.feed-item { display: block; }
