/* ==========================================================================
// Headline module
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";


/* Base
// ---------------------------------------------------------------------------*/

.headline {
    line-height: 1;

    #{headers()} { margin: 0; }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.headline-title {
    @extend %alpha;
}

.headline-subtitle {
    @extend %cappa;
}

.headline-date {
    @extend %delta;
    color: theme('highlight');
}
