/* ==========================================================================
// Hero unit styles
// ========================================================================== */

@import "../core/*";


/* Base
// ---------------------------------------------------------------------------*/

.hero {
    @include rem(margin, 0 auto fs(5));
    display: block;
    max-height: 600px;
    max-height: 80vh;
}
