/* ==========================================================================
// Nav styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/button";

$jump-w: 30px;
$jump-margin: $gutter-outside;

/* Base
// -------------------------------------------------------------------------- */

.jump_nav {
    // @extend %l-abs;
    @include unstyled-list;
    // @include rem(width, $jump-w);
    display: block;
    position: absolute;
    margin-top: -1em; // make a little room against the browser window
    padding-top: 1em;
    left: $jump-margin;
    z-index: $z--high;

    > ul {
        @include unstyled-list;
        margin: 0;
    }

    > li { display: block; }
}

/* Submodules
// -------------------------------------------------------------------------- */

/* --- nav items ------------------------------------------------------------ */

.jump_nav-item {
    @extend %font-accent--bold;
    @include font-scale(2);
    // @include rem(width, $jump-w);
    display: block;
    margin-bottom: 0.5em;
    padding: 0.4em 0.8em 0.2em;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: theme('text' 'primary');

    &:before { content: attr(data-initial); }

    &:hover, &:active {  }

    &.is-active {
        @include border;
        color: theme('text' 'primary');
    }
}

/* --- nav labels ----------------------------------------------------------- */
// -> label hidden on larger screens

.jump_nav-label {
    @extend %font-accent--bold;
    @include visually_hidden(true);
    text-align: center;
    text-transform: uppercase;
}


/* States
// -------------------------------------------------------------------------- */

.has-jump {
    position: relative;

    // add left margin to a jump nav's siblings
    .jump_nav ~ * {
        @include respond-to('small') { @include rem(padding-left, ($jump-margin + $jump-w + $gutter)); }
    }
}

.jump_nav.is-sticky {
    position: fixed !important;
    top: 1em !important;
    margin-top: 0;
}
