/* ==========================================================================
// Nav styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/button";

$jump-w: 30px;
$jump-margin: $gutter $gutter-outside;

/* Base
// -------------------------------------------------------------------------- */

.jump_nav {
    // @extend %l-abs;
    @include unstyled-list;
    // @include rem(width, $jump-w);
    display: none;
    position: relative;
    left: nth($jump-margin, 1);
    float: left;
    // top: 1em; // make a little room against the browser window
    margin-top: -1em;
    padding-top: 1em;
    z-index: $z--high;

    > ul {
        @include unstyled-list;
        margin: 0;
    }

    > li { display: block; }

    @include respond-to("xsmall") {
        display: block;
    }

    @include respond-to("small") {
        left: nth($jump-margin, 2);
    }
}


/* Modifers
// -------------------------------------------------------------------------- */

/* --- States --------------------------------------------------------------- */
.jump_nav.is-sticky {
    position: fixed !important;
    top: 0 !important;
    margin-top: 0;
    float: none;
}

.has-jump {
    position: relative;

    // add left margin to a jump nav's siblings
    .jump_nav ~ * {
        @include respond-to('xsmall') { @include rem(padding-left, (nth($jump-margin, 1) + $jump-w + $gutter)); }
        @include respond-to('small') { @include rem(padding-left, (nth($jump-margin, 2) + $jump-w + $gutter)); }
    }
}

/* Submodules
// -------------------------------------------------------------------------- */

/* --- nav items ------------------------------------------------------------ */

.jump_nav-item {
    @extend %font-accent--bold;
    @include font-scale(2);
    @include rem(width, $jump-w);
    display: block;
    margin-bottom: 0.5em;
    padding: 0.4em 0.8em 0.2em;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: theme('text' 'primary');

    &:before { content: attr(data-initial); }

    &:hover, &:active {  }

    &.is-active {
        @include border;
        color: theme('text' 'primary');
    }
}

/* --- nav labels ----------------------------------------------------------- */
// -> label hidden on larger screens

.jump_nav-label {
    @extend %font-accent--bold;
    @include visually_hidden(true);
    display: block;
    text-align: center;
    text-transform: uppercase;
}
