/* ==========================================================================
// Media box styles
// ========================================================================== */

@import "../core/*";

$media-grid: (ms(3) ms(1));
$media-bp: 'medium';


/* Base
// ---------------------------------------------------------------------------*/

.media {

}

/* Modifiers
// ---------------------------------------------------------------------------*/

.media.full {
    @include clearfix;
    @include rem(margin, 0 0 $gutter 0);
    @include rem(padding, 0 0 $gutter 0);
    @include border('bottom');

    display: block;

    &:last-child { border-bottom: none; }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.media-img {
    @include respond-to($media-bp) {
        @include grid-span(1, 1, $media-grid);
    }
}

.media-description {
    margin-top: 1.5em;

    @include respond-to($media-bp) {
        @include grid-span(1, 2, $media-grid);
        margin-top: 0;
    }
}

.media-stats {
    @extend .tabular;
    @include font-scale(1);
}

.media-caption {
    @include font-scale(1);
    color: theme('text--tertiary');

    // .media-stats + & {
    //     @include border(top);
    //     padding-top: 1em;
    // }
}
