/* --- Global custom properties --- */
:root {
	/* --- Color --- */
	--color-primary: hsl(0, 0, 27);
	--color-secondary: hsl(0, 0, 40);
	--color-tertiary: hsl(223, 7, 78);
	--color-highlight: hsl(223, 75, 70);
	--color-bg: hsl(0, 0, 100);
	--color-island: hsl(0, 0, 100);
	--color-well: hsl(223, 0, 90);
	--color-border: hsl(223, 0, 85);
	--color-shadow: hsla(223, 0, 0, 0.2);

	/* --- Breakpoints --- */

	--breakpoint-xsmall: 30em;

	--breakpoint-small: 42em;

	--breakpoint-medium: 62em;

	--breakpoint-large: 75em;

	--breakpoint-xlarge: 100em;

	/* --- Spacing --- */

	--space-xxxnarrow: 0.11rem;

	--space-xxnarrow: 0.23rem;

	--space-xnarrow: 0.48rem;

	--space-narrow: 0.69rem;

	--space-medium: 1.2rem;

	--space-wide: 1.73rem;

	--space-xwide: 2.99rem;
}

/* --- Base styles --- */

/* --- Color --- */

@media screen and (prefers-color-scheme: dark) {
	body {
		--color-primary: hsl(0, 0, 100);
		--color-secondary: hsl(223, 0, 40);
		--color-tertiary: hsl(0, 0, 50);
		--color-highlight: hsl(223, 75, 70);
		--color-bg: hsl(0, 0, 27);
		--color-island: hsl(0, 0, 35);
		--color-well: hsl(0, 0, 17);
		--color-border: hsl(0, 0, 20);
		--color-shadow: hsla(0, 0, 0, 0.4);
	}
}

/* --- Type --- */

/* webfonts */

@font-face {
	font-display: swap;
	font-family: "Publico Headline";
	font-style: normal;
	font-weight: regular;
	src: url("/fonts/PublicoHeadline-Roman-Web.woff") format("woff"),
		url("/fonts/PublicoHeadline-Roman-Web.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Publico Text";
	font-style: normal;
	font-weight: regular;
	src: url("/fonts/PublicoText-Roman-Web.woff") format("woff"),
		url("/fonts/PublicoText-Roman-Web.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Publico Text Italic";
	font-style: italic;
	font-weight: regular;
	src: url("/fonts/PublicoText-Italic-Web.woff") format("woff"),
		url("/fonts/PublicoText-Italic-Web.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Guardian Sans Light";
	font-style: normal;
	font-weight: light;
	src: url("/fonts/GuardianSans-Light-Web.woff") format("woff"),
		url("/fonts/GuardianSans-Light-Web.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Guardian Sans";
	font-style: normal;
	font-weight: regular;
	src: url("/fonts/GuardianSans-Regular-Web.woff") format("woff"),
		url("/fonts/GuardianSans-Regular-Web.ttf") format("ttf");
}

@font-face {
	font-display: swap;
	font-family: "Guardian Sans Bold";
	font-style: normal;
	font-weight: bold;
	src: url("/fonts/GuardianSans-Semibold-Web.woff") format("woff"),
		url("/fonts/GuardianSans-Semibold-Web.ttf") format("ttf");
}

/* global type */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: hsl(0, 0, 27);
	color: var(--color-primary);

	font-family: Publico Headline, Publico, Georgia, Times, Times New Roman, serif;

	display: block;
	line-height: 1.7;
	margin: 0;
}

p {
	color: inherit;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 60;
}

a {
	border: 1px dashed hsl(223, 0, 85);
	border: 1px dashed var(--color-border);

	transition: all 0.25s ease;
	border-color: inherit;
	color: inherit;
	text-decoration: none;
}

/* --- Utility classes --- */

/* --- Color --- */

.color-fg-primary {
	color: hsl(0, 0, 27);
	color: var(--color-primary);
}

.color-bg-primary {
	background-color: hsl(0, 0, 27);
	background-color: var(--color-primary);
}

.color-fg-secondary {
	color: hsl(0, 0, 40);
	color: var(--color-secondary);
}

.color-bg-secondary {
	background-color: hsl(0, 0, 40);
	background-color: var(--color-secondary);
}

.color-fg-tertiary {
	color: hsl(223, 7, 78);
	color: var(--color-tertiary);
}

.color-bg-tertiary {
	background-color: hsl(223, 7, 78);
	background-color: var(--color-tertiary);
}

.color-fg-highlight {
	color: hsl(223, 75, 70);
	color: var(--color-highlight);
}

.color-bg-highlight {
	background-color: hsl(223, 75, 70);
	background-color: var(--color-highlight);
}

.color-fg-bg {
	color: hsl(0, 0, 100);
	color: var(--color-bg);
}

.color-bg-bg {
	background-color: hsl(0, 0, 100);
	background-color: var(--color-bg);
}

.color-fg-island {
	color: hsl(0, 0, 100);
	color: var(--color-island);
}

.color-bg-island {
	background-color: hsl(0, 0, 100);
	background-color: var(--color-island);
}

.color-fg-well {
	color: hsl(223, 0, 90);
	color: var(--color-well);
}

.color-bg-well {
	background-color: hsl(223, 0, 90);
	background-color: var(--color-well);
}

.color-fg-border {
	color: hsl(223, 0, 85);
	color: var(--color-border);
}

.color-bg-border {
	background-color: hsl(223, 0, 85);
	background-color: var(--color-border);
}

/* --- Spacing --- */

/* padding */

/* all sides */
.padding {
	padding: 1.2rem;
}

.no-padding {
	padding: 0 !important;
}

/* vertical and horizontal spacing */
.padding-x {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

.padding-y {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.padding-x-flow > * + * {
	padding-left: 1.2rem;
}

.padding-y-flow > * + * {
	padding-top: 1.2rem;
}

/* size variations */

.padding-xxxnarrow {
	padding: 0.11rem;
}

.padding-x-xxxnarrow {
	padding-left: 0.11rem;
	padding-right: 0.11rem;
}

.padding-y-xxxnarrow {
	padding-top: 0.11rem;
	padding-bottom: 0.11rem;
}

.padding-x-flow-xxxnarrow > * + * {
	padding-left: 0.11rem;
}

.padding-y-flow-xxxnarrow > * + * {
	padding-top: 0.11rem;
}
,
.padding-xxnarrow {
	padding: 0.23rem;
}

.padding-x-xxnarrow {
	padding-left: 0.23rem;
	padding-right: 0.23rem;
}

.padding-y-xxnarrow {
	padding-top: 0.23rem;
	padding-bottom: 0.23rem;
}

.padding-x-flow-xxnarrow > * + * {
	padding-left: 0.23rem;
}

.padding-y-flow-xxnarrow > * + * {
	padding-top: 0.23rem;
}
,
.padding-xnarrow {
	padding: 0.48rem;
}

.padding-x-xnarrow {
	padding-left: 0.48rem;
	padding-right: 0.48rem;
}

.padding-y-xnarrow {
	padding-top: 0.48rem;
	padding-bottom: 0.48rem;
}

.padding-x-flow-xnarrow > * + * {
	padding-left: 0.48rem;
}

.padding-y-flow-xnarrow > * + * {
	padding-top: 0.48rem;
}
,
.padding-narrow {
	padding: 0.69rem;
}

.padding-x-narrow {
	padding-left: 0.69rem;
	padding-right: 0.69rem;
}

.padding-y-narrow {
	padding-top: 0.69rem;
	padding-bottom: 0.69rem;
}

.padding-x-flow-narrow > * + * {
	padding-left: 0.69rem;
}

.padding-y-flow-narrow > * + * {
	padding-top: 0.69rem;
}
,
.padding-medium {
	padding: 1.2rem;
}

.padding-x-medium {
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

.padding-y-medium {
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

.padding-x-flow-medium > * + * {
	padding-left: 1.2rem;
}

.padding-y-flow-medium > * + * {
	padding-top: 1.2rem;
}
,
.padding-wide {
	padding: 1.73rem;
}

.padding-x-wide {
	padding-left: 1.73rem;
	padding-right: 1.73rem;
}

.padding-y-wide {
	padding-top: 1.73rem;
	padding-bottom: 1.73rem;
}

.padding-x-flow-wide > * + * {
	padding-left: 1.73rem;
}

.padding-y-flow-wide > * + * {
	padding-top: 1.73rem;
}
,
.padding-xwide {
	padding: 2.99rem;
}

.padding-x-xwide {
	padding-left: 2.99rem;
	padding-right: 2.99rem;
}

.padding-y-xwide {
	padding-top: 2.99rem;
	padding-bottom: 2.99rem;
}

.padding-x-flow-xwide > * + * {
	padding-left: 2.99rem;
}

.padding-y-flow-xwide > * + * {
	padding-top: 2.99rem;
}

/* sides */

.padding-left {
	padding-left: 1.2rem;
}

.no-padding-left {
	padding-left: 0 !important;
}

.padding-left-xxxnarrow {
	padding-left: 0.11rem;
}

.padding-left-xxnarrow {
	padding-left: 0.23rem;
}

.padding-left-xnarrow {
	padding-left: 0.48rem;
}

.padding-left-narrow {
	padding-left: 0.69rem;
}

.padding-left-medium {
	padding-left: 1.2rem;
}

.padding-left-wide {
	padding-left: 1.73rem;
}

.padding-left-xwide {
	padding-left: 2.99rem;
}

.padding-right {
	padding-right: 1.2rem;
}

.no-padding-right {
	padding-right: 0 !important;
}

.padding-right-xxxnarrow {
	padding-right: 0.11rem;
}

.padding-right-xxnarrow {
	padding-right: 0.23rem;
}

.padding-right-xnarrow {
	padding-right: 0.48rem;
}

.padding-right-narrow {
	padding-right: 0.69rem;
}

.padding-right-medium {
	padding-right: 1.2rem;
}

.padding-right-wide {
	padding-right: 1.73rem;
}

.padding-right-xwide {
	padding-right: 2.99rem;
}

.padding-top {
	padding-top: 1.2rem;
}

.no-padding-top {
	padding-top: 0 !important;
}

.padding-top-xxxnarrow {
	padding-top: 0.11rem;
}

.padding-top-xxnarrow {
	padding-top: 0.23rem;
}

.padding-top-xnarrow {
	padding-top: 0.48rem;
}

.padding-top-narrow {
	padding-top: 0.69rem;
}

.padding-top-medium {
	padding-top: 1.2rem;
}

.padding-top-wide {
	padding-top: 1.73rem;
}

.padding-top-xwide {
	padding-top: 2.99rem;
}

.padding-bottom {
	padding-bottom: 1.2rem;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.padding-bottom-xxxnarrow {
	padding-bottom: 0.11rem;
}

.padding-bottom-xxnarrow {
	padding-bottom: 0.23rem;
}

.padding-bottom-xnarrow {
	padding-bottom: 0.48rem;
}

.padding-bottom-narrow {
	padding-bottom: 0.69rem;
}

.padding-bottom-medium {
	padding-bottom: 1.2rem;
}

.padding-bottom-wide {
	padding-bottom: 1.73rem;
}

.padding-bottom-xwide {
	padding-bottom: 2.99rem;
}

/* margin */

/* all sides */
.margin {
	margin: 1.2rem;
}

.no-margin {
	margin: 0 !important;
}

/* vertical and horizontal spacing */
.margin-x {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
}

.margin-y {
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.margin-x-flow > * + * {
	margin-left: 1.2rem;
}

.margin-y-flow > * + * {
	margin-top: 1.2rem;
}

/* size variations */

.margin-xxxnarrow {
	margin: 0.11rem;
}

.margin-x-xxxnarrow {
	margin-left: 0.11rem;
	margin-right: 0.11rem;
}

.margin-y-xxxnarrow {
	margin-top: 0.11rem;
	margin-bottom: 0.11rem;
}

.margin-x-flow-xxxnarrow > * + * {
	margin-left: 0.11rem;
}

.margin-y-flow-xxxnarrow > * + * {
	margin-top: 0.11rem;
}
,
.margin-xxnarrow {
	margin: 0.23rem;
}

.margin-x-xxnarrow {
	margin-left: 0.23rem;
	margin-right: 0.23rem;
}

.margin-y-xxnarrow {
	margin-top: 0.23rem;
	margin-bottom: 0.23rem;
}

.margin-x-flow-xxnarrow > * + * {
	margin-left: 0.23rem;
}

.margin-y-flow-xxnarrow > * + * {
	margin-top: 0.23rem;
}
,
.margin-xnarrow {
	margin: 0.48rem;
}

.margin-x-xnarrow {
	margin-left: 0.48rem;
	margin-right: 0.48rem;
}

.margin-y-xnarrow {
	margin-top: 0.48rem;
	margin-bottom: 0.48rem;
}

.margin-x-flow-xnarrow > * + * {
	margin-left: 0.48rem;
}

.margin-y-flow-xnarrow > * + * {
	margin-top: 0.48rem;
}
,
.margin-narrow {
	margin: 0.69rem;
}

.margin-x-narrow {
	margin-left: 0.69rem;
	margin-right: 0.69rem;
}

.margin-y-narrow {
	margin-top: 0.69rem;
	margin-bottom: 0.69rem;
}

.margin-x-flow-narrow > * + * {
	margin-left: 0.69rem;
}

.margin-y-flow-narrow > * + * {
	margin-top: 0.69rem;
}
,
.margin-medium {
	margin: 1.2rem;
}

.margin-x-medium {
	margin-left: 1.2rem;
	margin-right: 1.2rem;
}

.margin-y-medium {
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
}

.margin-x-flow-medium > * + * {
	margin-left: 1.2rem;
}

.margin-y-flow-medium > * + * {
	margin-top: 1.2rem;
}
,
.margin-wide {
	margin: 1.73rem;
}

.margin-x-wide {
	margin-left: 1.73rem;
	margin-right: 1.73rem;
}

.margin-y-wide {
	margin-top: 1.73rem;
	margin-bottom: 1.73rem;
}

.margin-x-flow-wide > * + * {
	margin-left: 1.73rem;
}

.margin-y-flow-wide > * + * {
	margin-top: 1.73rem;
}
,
.margin-xwide {
	margin: 2.99rem;
}

.margin-x-xwide {
	margin-left: 2.99rem;
	margin-right: 2.99rem;
}

.margin-y-xwide {
	margin-top: 2.99rem;
	margin-bottom: 2.99rem;
}

.margin-x-flow-xwide > * + * {
	margin-left: 2.99rem;
}

.margin-y-flow-xwide > * + * {
	margin-top: 2.99rem;
}

/* sides */

.margin-left {
	margin-left: 1.2rem;
}

.no-margin-left {
	margin-left: 0 !important;
}

.margin-left-xxxnarrow {
	margin-left: 0.11rem;
}

.margin-left-xxnarrow {
	margin-left: 0.23rem;
}

.margin-left-xnarrow {
	margin-left: 0.48rem;
}

.margin-left-narrow {
	margin-left: 0.69rem;
}

.margin-left-medium {
	margin-left: 1.2rem;
}

.margin-left-wide {
	margin-left: 1.73rem;
}

.margin-left-xwide {
	margin-left: 2.99rem;
}

.margin-right {
	margin-right: 1.2rem;
}

.no-margin-right {
	margin-right: 0 !important;
}

.margin-right-xxxnarrow {
	margin-right: 0.11rem;
}

.margin-right-xxnarrow {
	margin-right: 0.23rem;
}

.margin-right-xnarrow {
	margin-right: 0.48rem;
}

.margin-right-narrow {
	margin-right: 0.69rem;
}

.margin-right-medium {
	margin-right: 1.2rem;
}

.margin-right-wide {
	margin-right: 1.73rem;
}

.margin-right-xwide {
	margin-right: 2.99rem;
}

.margin-top {
	margin-top: 1.2rem;
}

.no-margin-top {
	margin-top: 0 !important;
}

.margin-top-xxxnarrow {
	margin-top: 0.11rem;
}

.margin-top-xxnarrow {
	margin-top: 0.23rem;
}

.margin-top-xnarrow {
	margin-top: 0.48rem;
}

.margin-top-narrow {
	margin-top: 0.69rem;
}

.margin-top-medium {
	margin-top: 1.2rem;
}

.margin-top-wide {
	margin-top: 1.73rem;
}

.margin-top-xwide {
	margin-top: 2.99rem;
}

.margin-bottom {
	margin-bottom: 1.2rem;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.margin-bottom-xxxnarrow {
	margin-bottom: 0.11rem;
}

.margin-bottom-xxnarrow {
	margin-bottom: 0.23rem;
}

.margin-bottom-xnarrow {
	margin-bottom: 0.48rem;
}

.margin-bottom-narrow {
	margin-bottom: 0.69rem;
}

.margin-bottom-medium {
	margin-bottom: 1.2rem;
}

.margin-bottom-wide {
	margin-bottom: 1.73rem;
}

.margin-bottom-xwide {
	margin-bottom: 2.99rem;
}

/* outside spacing */
.padding-x-outside {
	padding-left: 0.69rem;
	padding-right: 0.69rem;
}

@media screen and (min-size: 42em) {
	.padding-x-outside {
		padding-left: 1.2rem;
		padding-right: 1.2rem;
	}
}

@media screen and (min-size: 62em) {
	.padding-x-outside {
		padding-left: 1.73rem;
		padding-right: 1.73rem;
	}
}

/* --- Type --- */

.type-heading {
	color: hsl(0, 0, 27);
	color: var(--color-primary);

	font-family: Publico Headline, Publico, Georgia, Times, Times New Roman, serif;

	display: block;
	line-height: 1.7;
	margin: 0;
}

.type-heading strong {
	font-family: inherit;
	font-style: normal;
}

.type-link-undecorated {
	border-bottom: none;
}

.type-link-undecorated::hover,
.type-link-undecorated::active {
	border-bottom: none;
}

/* scale */

h1,
.type-scale-alpha {
	font-size: 3.18rem;
	font-size: clamp(2.07rem, calc(1rem + 5vw), 4.3rem);
}

h2,
.type-scale-beta {
	font-size: 2.36rem;
	font-size: clamp(1.73rem, calc(1rem + 3vw), 2.99rem);
}

h3,
.type-scale-gamma {
	font-size: 1.75rem;
	font-size: clamp(1.44rem, calc(1rem + 2vw), 2.07rem);
}

h4,
.type-scale-delta {
	font-size: 1.32rem;
	font-size: clamp(1.2rem, calc(1rem + 1vw), 1.44rem);
}

h5,
.type-scale-epsilon {
	font-size: 1rem;
}

h6,
.type-scale-zeta {
	font-size: 0.83rem;
}

/* leading */

.type-leading-tight {
	line-height: 1.2;
}

.type-leading-default {
	line-height: 1.7;
}

/* --- undefined --- */

.border {
	border: 1px dashed hsl(223, 0, 85);
	border: 1px dashed var(--color-border);
}

.no-border {
	border: 0 !important;
}

/* variations */
.border.solid {
	border-style: solid;
}

.border-round {
	border-radius: 0.2rem;
}

.border-top {
	border-top: 1px dashed hsl(223, 0, 85);
	border-top: 1px dashed var(--color-border);
}

.no-border-top {
	border-top: 0 !important;
}

.border-top.solid {
	border-top-style: solid;
}
,
.border-right {
	border-right: 1px dashed hsl(223, 0, 85);
	border-right: 1px dashed var(--color-border);
}

.no-border-right {
	border-right: 0 !important;
}

.border-right.solid {
	border-right-style: solid;
}
,
.border-bottom {
	border-bottom: 1px dashed hsl(223, 0, 85);
	border-bottom: 1px dashed var(--color-border);
}

.no-border-bottom {
	border-bottom: 0 !important;
}

.border-bottom.solid {
	border-bottom-style: solid;
}
,
.border-left {
	border-left: 1px dashed hsl(223, 0, 85);
	border-left: 1px dashed var(--color-border);
}

.no-border-left {
	border-left: 0 !important;
}

.border-left.solid {
	border-left-style: solid;
}

.border-y-flow > * + * {
	border-top: 1px dashed hsl(223, 0, 85);
	border-top: 1px dashed var(--color-border);
}

.border-y-flow.solid > * + * {
	border-top-style: solid;
}

.border-x-flow > * + * {
	border-left: 1px dashed hsl(223, 0, 85);
	border-left: 1px dashed var(--color-border);
}

.border-x-flow.solid > * + * {
	border-left-style: solid;
}

/* --- Visibility --- */

/* hide and show visually */
.hide-visually {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.show-visually {
	clip: auto;
	clip-path: none;
	height: auto;
	overflow: visible;
	position: static;
	width: auto;
}

@media screen and (min-width: 30em) {
	.xsmall\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 42em) {
	.small\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 62em) {
	.medium\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 75em) {
	.large\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 100em) {
	.xlarge\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 30em) {
	.xsmall\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 42em) {
	.small\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 62em) {
	.medium\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 75em) {
	.large\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 100em) {
	.xlarge\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

/* hide and show */

.hide {
	display: none !important;
}

.show {
	display: unset;
}

@media screen and (min-width: 30em) {
	.xsmall\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 42em) {
	.small\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 62em) {
	.medium\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 75em) {
	.large\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 100em) {
	.xlarge\:hide {
		display: none !important;
	}
}

@media screen and (max-width: 29.99em) {
	.xsmall\:show {
		display: none !important;
	}
}

@media screen and (max-width: 41.99em) {
	.small\:show {
		display: none !important;
	}
}

@media screen and (max-width: 61.99em) {
	.medium\:show {
		display: none !important;
	}
}

@media screen and (max-width: 74.99em) {
	.large\:show {
		display: none !important;
	}
}

@media screen and (max-width: 99.99em) {
	.xlarge\:show {
		display: none !important;
	}
}

/* hide and show if JS is supported */
.js js\:hide {
	display: none !important;
}

.no-js js\:show {
	display: none !important;
}

/* hide and show if touch is supported */
.touch .touch\:hide {
	display: none !important;
}

.no-touch .touch\:show {
	display: none !important;
}

/* hide and show for print */
.print\:show {
	display: none !important;
}

@media print {
	.print\:hide {
		display: none !important;
	}

	.print\:show {
		display: unset;
	}
}
