
	/* --- color ---*/
	:root {
		
			--color-primary: hsl(0, 0, 30);
		
			--color-secondary: hsl(0, 0, 30);
		
			--color-tertiary: hsla(223, 7, 100, 0.2);
		
			--color-highlight: hsl(223, 75, 70);
		
			--color-bg: hsl(0, 0, 100);
		
			--color-island: hsl(0, 0, 100);
		
			--color-well: hsla(223, 7, 100, 0.2);
		
			--color-border: hsla(223, 7, 100, 0.2);
		
			--color-shadow: hsla(223, 7, 100, 0.2);
		
	}

	/* themes */
	
		.color-theme-dark {
			
			--color-primary: hsl(0, 0, 100);
		
			--color-secondary: hsla(223, 7, 100, 0.2);
		
			--color-tertiary: hsl(0, 0, 30);
		
			--color-highlight: hsl(223, 75, 70);
		
			--color-bg: hsl(0, 0, 30);
		
			--color-island: hsl(0, 0, 30);
		
			--color-well: hsl(0, 0, 30);
		
			--color-border: hsl(0, 0, 30);
		
			--color-shadow: hsl(0, 0, 30);
		
		}
	

		.color-theme-default {
			
			--color-primary: hsl(0, 0, 30);
		
			--color-secondary: hsl(0, 0, 30);
		
			--color-tertiary: hsla(223, 7, 100, 0.2);
		
			--color-highlight: hsl(223, 75, 70);
		
			--color-bg: hsl(0, 0, 100);
		
			--color-island: hsl(0, 0, 100);
		
			--color-well: hsla(223, 7, 100, 0.2);
		
			--color-border: hsla(223, 7, 100, 0.2);
		
			--color-shadow: hsla(223, 7, 100, 0.2);
		
		}
	

	/* utilities */
	
			.color-fg-primary {
				
		color: hsl(0, 0, 30);
		color: var(--color-primary);
	
			}

			.color-bg-primary {
				
		background-color: hsl(0, 0, 30);
		background-color: var(--color-primary);
	
			}
		

			.color-fg-secondary {
				
		color: hsl(0, 0, 30);
		color: var(--color-secondary);
	
			}

			.color-bg-secondary {
				
		background-color: hsl(0, 0, 30);
		background-color: var(--color-secondary);
	
			}
		

			.color-fg-tertiary {
				
		color: hsla(223, 7, 100, 0.2);
		color: var(--color-tertiary);
	
			}

			.color-bg-tertiary {
				
		background-color: hsla(223, 7, 100, 0.2);
		background-color: var(--color-tertiary);
	
			}
		

			.color-fg-highlight {
				
		color: hsl(223, 75, 70);
		color: var(--color-highlight);
	
			}

			.color-bg-highlight {
				
		background-color: hsl(223, 75, 70);
		background-color: var(--color-highlight);
	
			}
		

			.color-fg-bg {
				
		color: hsl(0, 0, 100);
		color: var(--color-bg);
	
			}

			.color-bg-bg {
				
		background-color: hsl(0, 0, 100);
		background-color: var(--color-bg);
	
			}
		

			.color-fg-island {
				
		color: hsl(0, 0, 100);
		color: var(--color-island);
	
			}

			.color-bg-island {
				
		background-color: hsl(0, 0, 100);
		background-color: var(--color-island);
	
			}
		

			.color-fg-well {
				
		color: hsla(223, 7, 100, 0.2);
		color: var(--color-well);
	
			}

			.color-bg-well {
				
		background-color: hsla(223, 7, 100, 0.2);
		background-color: var(--color-well);
	
			}
		

			.color-fg-border {
				
		color: hsla(223, 7, 100, 0.2);
		color: var(--color-border);
	
			}

			.color-bg-border {
				
		background-color: hsla(223, 7, 100, 0.2);
		background-color: var(--color-border);
	
			}
		
