.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
npm-debug.log
/cypress/screenshots/
/__sapper__/
prismic.config.js

# ignore generated static files
/static/sitemap.xml
/static/rss.xml
/static/_redirects
/static/images/resizes
/static/stylesheets
/static/admin/config.yml
