<!-- bio card for footer -->

<div class="card horizontal l-wrapper narrow">
    <img class="card-figure" src="http://placehold.it/600x400" alt="Jay Perry">
    <div class="card-content">
        <p>Jay Perry is a designer, illustrator, and writer living near Baltimore. He likes books, old rusty cars, and forests.</p>
        <dl class="tags">
            <dt class="tags-label inline">Say hi</dt>
            <% data.site.social.each do |site| %>
            <dd><%= link_to site.name, site.link, :class => "tag" %></dd>
            <% end %>
        </dl>
    </div>
</div>

<!-- color local styles -->

<% if current_page.data.color.present? %>
<style>

    /* local highlight colors */
    .highlight,
    .highlight-hover:hover,
    .highlight-hover:active { color: <%= highlight current_page.data.color %>; }

    .highlight-border,
    .highlight-border-hover:hover,
    .highlight-border-hover:active,
    .highlight-border-hover:focus {
        border-color: <%= highlight current_page.data.color %>; }

    .highlight-bg,
    .highlight-bg-hover:hover,
    .highlight-bg-hover:active,
    .highlight-bg-hover:focus { background-color: <%= highlight current_page.data.color %>; }

</style>
<% end %>

<% if current_page.data.color.present? %>
<style>
    <%= partial("assets/stylesheets/highlights", :locals => { :color => highlight(current_page.data.color) }) %>
</style>
<% end %>

// SVG sprites
// -> Load the inline spritemap via AJAX to take advantage of caching
// -> https://css-tricks.com/ajaxing-svg-sprite/
// -----------------------------------------------------------------------------
jpw.sprites = (function($){
    'use strict';

    var exports = {};

    exports.init = function(file) {
        if (Modernizr.inlinesvg) {
            // if the browser supports inline SVG...
            $.get(file, function(data) {
                // create a div at the very top of the body...
                var div = document.createElement("div");
                // ... and inject the svg definitions
                div.innerHTML = new XMLSerializer().serializeToString(data.documentElement);
                document.body.insertBefore(div, document.body.childNodes[0]);

                console.log("yay sprites!");
            });
        }
    }

    return exports;
})(jQuery);
