/* =============================================================================
//  Your module/component name
// -> short description
// ========================================================================== */

/*doc
---
title: Component title
name: short name
category: components
---

Documentation here

*/

// @import "../core/all";

// $component-variable: false; // always scope to namespace

/* Base
// -------------------------------------------------------------------------- */

// .component {}


/* Subcomponents
// -------------------------------------------------------------------------- */

/* --- section -------------------------------------------------------------- */
// .component-subcomponent {}


/* Modifiers
// -------------------------------------------------------------------------- */

// .component--modifier {}


/* State
// -------------------------------------------------------------------------- */

// .has-component {}
// .component.is-active {}
