//= require normalize-css/normalize.css
//# require html5-boilerplate/dist/css/main.css
// Pull normalize.css & html5bp in via sprockets, because SASS doesn't compile it
//-> doing this via @import generates an "@import" in the CSS, which is undesirable


/* /////////////////////////////////////////////////////////////////////////////
// Core style helpers
// -> global settings, resets, helper classes
///////////////////////////////////////////////////////////////////////////// */

@import "core/libs"; // vendor libs, dependencies
@import "core/settings"; // global settings
@import "core/animation"; // global animation/behaviors
@import "core/fonts"; // all @font-face things and base type scale
@import "core/borders"; // global border styles
@import "core/color"; // global/base color schemes
@import "core/layout"; // global layout styles/helpers

/* /////////////////////////////////////////////////////////////////////////////
// Atoms
// -> individual elements
///////////////////////////////////////////////////////////////////////////// */

@import "atoms/*";

/* /////////////////////////////////////////////////////////////////////////////
// Molecules
// -> simple groups of things that can be easily combined & reused
///////////////////////////////////////////////////////////////////////////// */

@import "molecules/*";

/* /////////////////////////////////////////////////////////////////////////////
// Organisms
// -> self-contained, reusable groups of molecules
///////////////////////////////////////////////////////////////////////////// */

@import "organisms/*";

/* /////////////////////////////////////////////////////////////////////////////
// Regions
// -> reusable, major content regions containing specific combinations of organisms
///////////////////////////////////////////////////////////////////////////// */

@import "regions/*";

/* /////////////////////////////////////////////////////////////////////////////
// Styles of Shame
// -> put quick and dirty hacks here, then clean up & organize later
///////////////////////////////////////////////////////////////////////////// */


