// Border config
@use 'color';
@use 'helpers';
@use 'scale';

// --- Rounded corners
$radius: 0.2rem;
$corner-radius: scale.get(2);

@mixin radius {
  border-radius: $radius;
}

// --- Border width & style

// getter function for border style
@function style($name) {
  @return map-get($styles, unquote($name));
}

$_widths: (
  'thin': 1px,
  'thick': 4px,
  'frame': 10px
) !default;

// getter function for border widths
@function width($w: 'thin') {
  @if type-of($w) == 'number' {
    @return #{$w};
  } @else {
    @return map-get($_widths, $w);
  }
}

// properties for border seam effect
// note 'marker-w' should match width('frame') above
$_seam: (
  'marker-h': 5,
  'marker-w': 10,
  'offset': 8
);

@function seam($attr) {
  @return map-get($_seam, $attr);
}

// make a standard border/hairline that works with the parent color theme
@mixin add(
  $sides: all,
  $width: 'thin',
  $color: 'border',
  $style: 'dashed',
  $important: false
) {
  @if $sides == all {
    border: helpers.important(#{width($width)} #{$style} #{color.get($color)}, $important);
    border: helpers.important(#{width($width)} #{$style} var(#{color.custom-prop($color)}), $important);
  } @else {
    @each $side in $sides {
      border-#{$side}: helpers.important(#{width($width)} #{$style} #{color.get($color)}, $important);
      border-#{$side}: helpers.important(#{width($width)} #{$style} var(#{color.custom-prop($color)}), $important);
    }
  }
}
