// Border config
@use 'color';
@import 'helpers';
@import 'libs';

// --- Rounded corners

$radius: 3px !default;

@mixin radius {
  radius: $radius;
}

// --- Border width & style

$w-default: 'thin' !default;

// getter function for border style
@function style($name) {
  @return map-get($styles, unquote($name));
}

$widths: (
  'thin': 1px,
  'thick': 4px,
  'frame': 10px
) !default;

// getter function for border widths
@function width($w: $w-default) {
  @if type-of($w) == 'number' {
    @return #{$w};
  } @else {
    @return map-get($widths, $w);
  }
}

// properties for border seam effect
// note 'marker-w' should match width('frame') above
$seam: (
  'marker-h': 5,
  'marker-w': 10,
  'offset': 3
);

@function seam($attr) {
  @return map-get($seam, $attr);
}

// make a standard border/hairline that works with the parent color theme
@mixin add(
  $sides: all,
  $width: $w-default,
  $color: 'border',
  $style: dashed,
  $important: false
) {
  @if $sides == all {
    border: important(#{width($width)} #{$style} #{color.get($color)}, $important);
    border: important(#{width($width)} #{$style} var(#{color.custom-prop($color)}), $important);
  } @else {
    @each $side in $sides {
      border-#{$side}: important(#{width($width)} #{$style} #{color.get($color)}, $important);
      border-#{$side}: important(#{width($width)} #{$style} var(#{color.custom-prop($color)}), $important);
    }
  }
}
