//  Mixins and such for special effects
@use 'color';

// default box shadow
@mixin shadow(
  $position: 0 0,
  $blur: 0.5rem,
  $spread: 0
) {
  box-shadow: $position $blur $spread color.get('shadow');
  box-shadow: $position $blur $spread var(#{color.custom-prop('shadow')});
}
