<%#
  Card component
  - A content reference with headline, excerpt, action, and optional image

  Locals:
  - STRING link: url the card links to
  - STRING heading: card heading
  - STRING subheading (optional): a subheading, if you'd like one
  - STRING image (optional): path or url of image to include
  - STRING action (optional): the action for the button, e.g. "Read more"
  - STRING classes (optional): additional modifier classes, e.g. .l-margin

  Styles:
  - components/card.scss
%>

<%
  image ||= false
  alt ||= false
  classes ||= false
%>


<a class="card<%= ' #{classes}' if classes %>" href="<%= link %>">
  <% if image %>
    <div class="card-figure">
      <%= image_tag image, :alt => alt || "Figure" %>
    </div>
  <% end %>
  <div class="card-content">
    <%= yield %>
  </div>
</a>
