<%#
  Feature image component
  -> a large image shown in the content

  Locals:
  STRING source: the images to display
  STRING alt (optional): alt tag
  BOOLEAN outcrop (optional): should it 'outcrop' from its container?
  ARRAY margins (optional): add margins to various sides

  Styles:
  components/gallery
%>

<%
  alt ||= ''
  full_path ||= false
  outcrop ||= 'true'
  margins ||= [ 'top', 'bottom' ]
  border ||= false
  classes ||= ''

  # make a list of border classes from the borders array
  margin_list = ''

  if margins != 'none'
    margins.each do |side|
      margin_list << " margin-#{side}-wide"
    end
  end

  src = (full_path ? source : "uploads/#{source}")

  utils = [
    margin_list,
    't-center',
    ('padding-x-outside' if outcrop == 'true'),
    classes
  ]
%>

<div<%= ' data-ui-wrapper-outcrop' if outcrop == 'true' %><%= class_list(utils) %>>
  <%= image_tag src, alt: alt, class: border ? 'border' : '' %>
</div>
