<%#
  Logo component
  - the "JP" box appearing in the main header

  Locals:
  - HEX color (optional): the fill color
%>

<% color ||= "currentColor" %>

<% link_to "/", :class => "logo-jp" do %>
    <svg width="39" height="40" viewBox="0 0 39 40" xmlns="http://www.w3.org/2000/svg">
        <title>Jay Perry</title>
        <path class="logo-jp-bg" d="M.008 0H39v39.992H.008V0z" fill="<%= color %>"/>
        <path class="logo-jp-letter" d="M11.002 29.648h.237c.45 0 .807-.192 1.068-.432.38-.385.546-1.08.546-1.56V15.55c0-1.177.784-1.49 1.117-1.49 0 0 .57 0 .57.577 0 .12-.023.36-.427.577-.12.072-.166.216-.166.336v12.153c0 .985-.285 1.705-.76 2.185-.475.48-1.188.745-2.09.745-.31 0-.57-.192-.57-.504 0-.29.19-.482.475-.482zm2.375-18.902c-.546 0-.903-.384-.903-.912 0-.505.357-.865.903-.865.522 0 .902.36.902.864 0 .528-.38.912-.903.912zM18.65 16.87c1.26-2.16 2.97-2.81 4.585-2.81 3.326 0 5.63 2.98 5.63 6.39 0 3.266-2.376 6.1-5.63 6.1-1.806 0-3.255-.505-4.585-2.57v5.164c0 1.177-.783 1.49-1.116 1.49 0 0-.57 0-.57-.577 0-.12.024-.36.428-.577.118-.072.166-.216.166-.336V15.55c0-.12-.048-.264-.166-.336-.404-.217-.428-.456-.428-.577 0-.576.57-.576.57-.576.333 0 1.116.313 1.116 1.49v1.32zm4.56 8.575c2.78 0 4.56-2.354 4.56-4.995 0-2.595-1.732-5.285-4.56-5.285-2.826 0-4.56 2.667-4.56 5.116v.193c0 2.715 1.877 4.972 4.56 4.972z" fill="#fff"/>
        <image src="<%= asset_url("#{config[:images_dir]}/icons/logo-jp.png") %>" xlink:href="" />
    </svg>
<% end %>
