<%#
  Main Header component
  - lives at the top of each page

  Locals:
  BOOLEAN show_intro (optional): want to show the intro?
  STRING intro (optional): the intro statement
  STRING status (optional): the status statement

  Styles:
  base/type
  layout/wrapper
  layout/gutter
%>

<%
  show_intro ||= false
  intro ||= false
  status ||= false
  theme ||= "default"
%>

<header class="t-centered <%= " c-theme-#{theme}" if theme != "default" %>" role="banner">
  <%= component "logo-jp" %>

  <% if show_intro == true %>
    <div class="l-wrapper l-wrapper--full l-margin-top-wide l-padding-bottom-xwide">
      <% if intro %>
        <p class="t-display t-scale-gamma"><%= intro %></p>
      <% end %>
      <% if status %>
        <p class="t-display t-scale-delta c-text-tertiary l-margin-top-xxnarrow"><%= status %></p>
      <% end %>
      <% component 'button_link', locals: {
        url: '/about',
        classes: 'l-margin-top'
      } do %>
        A bit more about me &rsaquo;
      <% end %>
    </div>
  <% end %>
</header>
