<%#
    Panel component
    - For short content in scrolling sections. Meant to be full-width.

    Locals:
    - STRING slug (optional): a slug header for the top of the panel, e.g. "Recent work"
    - STRING theme (optional): name of color theme, e.g. "reverse" or "wash"
    - STRING classes (optional): additional modifier classes for the container

    Styles:
    core/color
    base/type
    components/panel
%>

<%
  theme ||= "default"
  classes ||= false
  slug ||= false

%>

<section class="panel<%= " c-theme-#{theme}" if theme != "default" %><%= " #{classes}" if classes %>">
    <% if slug %>
        <h1 class="t-heading t-heading--slug t-scale-zeta t-centered"><%= slug %></h1>
    <% end %>
    <%= yield %>
</section>
