<%
  # Work Gallery component
  # -> A content reference with headline, excerpt, action, and optional image

  # locals:
  # pictures - ARRAY: list of pictures to display
  current ||= false # BOOLEAN (optional): show the current page in the list?
%>
<ul data-ui-gallery>
  <% pictures.each do |picture| %>
    <% unless !current && picture.title == current_page.data.title %>
      <li data-ui-gallery-item>
          <% link_to picture.url, class: "t-link-undecorated" do %>
            <% source = picture.data.thumb.present? ? picture.data.thumb : picture.data.cover %>
            <%= image_tag (picture.data.full_path ? source : "uploads/#{source}"), :alt => picture.data.title, :class => "border border-solid" %>
          <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
