<%#
  Table component

  Locals:
  URL file: a CSV file to display

  Styles:
  base/table
%>

<%
  # data = csv_data("papers-ratings.csv")
%>

<table>
  <thead>
    <th>
      <% data.each do | table | %>
      <td><%= table %></td>
      <% end %>
    </th>
  </thead>
  <tbody>
    <%# data.each do | table | %>
    <tr>
      <td><%# table["name"] %></td>
    </tr>
    <%# end %>
  </tbody>
</table>
