<%#
  Writing Feed component
  - A feed of blog article excerpts

  Locals:
  - ARRAY articles: articles to list
  - STRING classes (optional): additional modifier classes (e.g. .l-margin, etc.)

  Styles:
  - components/feed.scss
  - components/card.scss
%>

<% classes ||= false %>

<ul class="feed<%= ' #{classes}' if classes %>">
  <% articles.each do |article| %>
    <li class="feed-item">
      <% component "card", locals: {
        link: article.url,
        image: article.data.image.present? ? article.url + article.data.image : false
      } do %>
        <h2 class="t-heading t-beta"><%= article.title %></h2>
        <% if article.data.subtitle.present? %>
          <span class="t-heading t-heading--sub t-cappa"><%= article.data.subtitle %></span>
        <% end %>
        <%= article.summary %>
        <button class="button button--text l-margin-top">Read more &rsaquo;</button>
      <% end %>
    </li>
  <% end %>
</ul>
