// Border utlities
@use '../config/border';
@use '../config/spacing';
@import '../config/breakpoints';

// --- Base

// .border, .border@[screen]
@include breakpointify(".border", true) {
  @include border.add();
}

// .no-border, .no-border@[screen]
@include breakpointify(".no-border", true) { border: none !important; }

@each $side in (top, right, bottom, left) {
  // .border-[side], .border-[side]@[screen]
  @include breakpointify(".no-border-#{$side}", true) {
    border-#{$side}: none !important;
  }

  // .no-border-[side], .no-border-[side]@[screen]
  @include breakpointify(".border-#{$side}", true) {
    @include border.add($side);
  }
}

// --- Variations
.border-thick { border-width: border.width('thick'); }
.border-round { border-radius: border.$radius; }
.border-solid { border-style: solid !important; }

// --- 'Seam' effect
// utils: .border-seam-top, .border-seam-bottom-offset
@each $side, $selector in (
  'top': 'before',
  'bottom': 'after'
) {
  [class*='border-seam-#{$side}'] {
    position: relative;

    @supports(border-image: url('/assets/images/seam.svg') border-seam('marker-h') 0 0 border-seam('marker-w') repeat) {
      &::#{$selector} {
        border-image: url('/assets/images/seam.svg') border-seam('marker-h') 0 0 border-seam('marker-w') repeat;
        border-width: #{border-seam('marker-h')}px 0 0 10px;
        border-style: solid;
        content: '';
        display: block;
        left: -#{border-seam('marker-w')}px;
        position: absolute;
        right: space(space-outside());
        height: 0;
        #{$side}: -#{border-seam('marker-h') / 2}px;

        // set outside borders at each breakpoint
        @each $screen, $width in spacing.$outside {
          @if $screen != 'default' {
            @include media('>#{$screen}') {
              right: space($width);
            }
          }
        }
      }
    }
  }

  .border-seam-#{$side}-offset {
    &::#{$selector} {
      #{$side}: #{(border-seam('marker-h') / 2) + border-seam('offset')}px;
    }
  }
}
