// ==========================================================================
// Feed layout
// -> a vertical list of things, usually content references (e.g. blog post excerpts)
// ========================================================================== 

@import "../config/spacing";
@import "../config/border";

// Base
// --------------------------------------------------------------------------

.l-feed {
  display: block;
  list-style: none;
  margin-left: 0;

  ul,
  li {
    padding-left: 0;
  }
}

// Elements
// --------------------------------------------------------------------------

.l-feed-item {
  @include rem(padding-bottom, gutter('wide'));
  @include rem(margin-bottom, gutter('wide'));
  @include border('bottom');
  display: block;

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}
