// =========================================================================
//  Gallery layout
// -> arrange child elements into rows and columns
// =========================================================================

// requires Bourbon & Modernizr
@import "../config/spacing";
@import "../config/type";

$gallery-gutter: 4px;

$gallery-sizes: 2, 3, 4, 6;
$gallery-breaks: 300px, 600px, 1200px;

// @mixin gallery-columns($number: 2, $g: $gallery-gutter) {
//     display: inline-block;
//     width: (100%/$number);
//     padding-right: ($g/2);
//     padding-left: ($g/2);
//     vertical-align: top;

//     @supports (display: flex) {
//         // use conventional width attribute instead of flexbox b/c of IE 11 box model bug
//         // http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
//         // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
//         // http://codepen.io/philipwalton/pen/XJMWem
//         @include flex(0 0 auto);
//         display: flex;
//     }
// }

// Base
// --------------------------------------------------------------------------

.l-gallery {
    display: block; // in case flexbox isn't supported
    position: relative;
    margin-left: -($gallery-gutter/2); // offset for column gutters
    margin-right: -($gallery-gutter/2); // offset for column gutters
    font-size: 0;
    list-style: none;

    > ul {
      padding-left: 0;
      margin-left: 0;
      list-style: none;
    }

    @supports (display: flex) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
    }
}

// Modifiers
// --------------------------------------------------------------------------

.l-gallery--small {} // see .l-gallery-item for styles
.l-gallery--large {} // see .l-gallery-item for styles


// Subcomponents
// --------------------------------------------------------------------------

// --- Gallery Items --------------------------------------------------------
.l-gallery-item {

    @include type-size-default;
    display: inline-block;
    position: relative;
    margin: 0;
    padding-right: ($gallery-gutter/2);
    padding-left: ($gallery-gutter/2);
    padding-bottom: $gallery-gutter;
    width: 100%;
    vertical-align: top;

    @supports (display: flex) {
        // use conventional width attribute instead of flexbox b/c of IE 11 box model bug
        // http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
        // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
        // http://codepen.io/philipwalton/pen/XJMWem
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
    }

    .l-gallery--small & { width: 50%; }

    @for $i from 1 through length($gallery-breaks) {
      .l-gallery:container("width >= #{nth($gallery-breaks, $i)}") & {
        width: (100%/($i + 1));
      }

      .l-gallery--small:container("width >= #{nth($gallery-breaks, $i)}") & {
        width: (100%/($i + 2));
      }
      .l-gallery--large:container("width >= #{nth($gallery-breaks, $i)}") & {
        width: (100%/$i);
      }

    }
}
