/* =============================================================================
//  Gallery utilities
// -> arrange child elements into rows and columns
// ========================================================================== */

// requires Bourbon & Modernizr
@import "../core/all";
@import "../layout/grid";
@import "../base/type";

$gallery-gutter: 4px;

$gallery-sizes: 2, 3, 4;

@mixin gallery-columns($number: 2, $g: $gallery-gutter) {
    display: inline-block;
    width: (100%/$number);
    padding-right: ($g/2);
    padding-left: ($g/2);
    vertical-align: top;

    @include yep(flexbox, no-ie) {
        // use conventional width attribute instead of flexbox b/c of IE 11 box model bug
        // http://stackoverflow.com/questions/21942183/multiline-flexbox-in-ie11-calculating-widths-incorrectly
        // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
        // http://codepen.io/philipwalton/pen/XJMWem
        @include flex(0 0 auto);
        @include display(flex);
    }
}

/* Base
// -------------------------------------------------------------------------- */

.l-gallery {
    display: block; // in case flexbox isn't supported
    position: relative;
    font-size: 0;
    list-style: none;

    @include yep(flexbox, no-ie) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include align-items(stretch);
    }

    > ul {
        padding-left: 0;
        margin-left: 0;
        list-style: none;
    }

    // convert to container query
    @include media('>xsmall') {
        // offset for column gutters
        margin-left: -($gallery-gutter/2);
        margin-right: -($gallery-gutter/2);

        @include yep(flexbox, no-ie) {
            @include display(flex);
        }
    }
}


/* Subcomponents
// -------------------------------------------------------------------------- */

/* --- Gallery Items -------------------------------------------------------- */
.l-gallery-item {
    @include type-size-default;
    display: block;
    position: relative;
    margin: 0;
    padding-bottom: $gallery-gutter;
    vertical-align: top;

    // convert to container query
    @include media('>xsmall') { @include gallery-columns(2); }
    @include media('>small') { @include gallery-columns(3); }
}


/* Modifiers
// -------------------------------------------------------------------------- */

/* --- Column sizing -------------------------------------------------------- */
// TODO: specificity issues in media query order -- each successive size overrides the previous ones
// -- figure out how to make modifiers flexible without conf

// @each $number in $gallery-sizes {
//     @include breakpointify('.l-gallery--#{$number}', $sizes: 'small' 'medium' 'large') {
//         @include display('flex');
//         margin-left: -($gallery-gutter/2);
//         margin-right: -($gallery-gutter/2);

//         .l-gallery-item { @include gallery-columns($number); }
//     }
// }
