// =============================================================================
// Global spacing
// -> used to keep whitespace in the layout consistent
// =============================================================================

@import "../config/spacing";

// Margin & padding utils
// -----------------------------------------------------------------------------

@each $prop in (padding, margin) {
  .l-#{$prop} {
    @include rem($prop, gutter());
  }
  .l-no-#{$prop} {
    @include rem($prop, 0 !important);
  }

  .l-#{$prop}-x {
    @include rem(#{$prop}-left, gutter());
    @include rem(#{$prop}-right, gutter());
  }

  .l-#{$prop}-y {
    @include rem(#{$prop}-top, gutter());
    @include rem(#{$prop}-bottom, gutter());
  }

  @each $name, $length in $gutters {
    @if $name != 'default' {
      .l-#{$prop}-#{$name} {
        @include rem($prop, gutter($name) !important);
      }

      .l-#{$prop}-x-#{$name} {
        @include rem(#{$prop}-left, gutter($name) !important);
        @include rem(#{$prop}-right, gutter($name) !important);
      }

      .l-#{$prop}-y-#{$name} {
        @include rem(#{$prop}-top, gutter($name) !important);
        @include rem(#{$prop}-bottom, gutter($name) !important);
      }
    }
  }

  @each $side in $gutter-sides {
    .l-#{$prop}-#{$side} {
      @include rem(#{$prop}-#{$side}, gutter() !important);
    }
    .l-no-#{$prop}-#{$side} {
      @include rem(#{$prop}-#{$side}, 0 !important);
    }

    @each $name, $length in $gutters {
      @if $name != 'default' {
        .l-#{$prop}-#{$side}-#{$name} {
          @include rem(#{$prop}-#{$side}, gutter($name) !important);
        }
      }
    }
  }
}

// Split gutters
// -----------------------------------------------------------------------------

// add uniform gutters to a group of elements
.l-gutter-wrapper {
  @include rem(padding, gutter($split: true));
  @include rem(margin, -(gutter()));

  .l-gutter {
    @include rem(padding, gutter($split: true));
  }
}

@each $name, $size in $gutters {
  @if $name != 'default' {
    .l-gutter-wrapper.l-gutter--#{$name} {
      @include rem(padding, gutter($name, $split: true));
      @include rem(margin, -(gutter($name)));

      .l-gutter {
        @include rem(padding, gutter($name, $split: true));
      }
    }
  }
}
