/* =============================================================================
// Wrapper layout classes
// ===========================================================================*/

/*doc
---
title: Wrapper
name: wrapper
category: Layout
---

Wrappers

```html_example
<a href="#" class="button l-abs top right">Button @ top right</a>
```

*/

@import "../core/libs";
// @import "grid";
// @import "../core/breakpoints";

/* Settings & mixins
// -------------------------------------------------------------------------- */

// $outcrop-margin: -4em;

// width of main layout
$layout-widths: (
    'default' : 680px,
    'wide'    : 1024px,
);

// Getter function for layout widths
// -> PUBLIC
@function layout-w($w: 'default') {
    @return map-get($layout-widths, $w);
}

// Set a base width with gutter
// -> PUBLIC
@mixin l-base-w($w: "default") {
    max-width: add_outside_gutters(layout-w($w));
}

/* Utilities
// -------------------------------------------------------------------------- */

// basic layout wrapper, for constraining at large screen sizes
.l-wrapper {
    @include l-base-w;
    @include clearfix;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: $l-margin--wide;
    padding-right: $l-margin--wide;
}

    // wide version of the layout wrapper
    .l-wrapper--wide { @include l-base-w("wide"); }


// a child element of a layout wrapper which is actually wider than its parent
// -> it sticks out on either side
// .l-wrapper-outcrop {
//     margin-left: $outcrop-margin;
//     margin-right: $outcrop-margin;
// }

// .l-wrapper-outcrop\@medium {
//     margin-left: 0;
//     margin-right: 0;

//     @include media(">medium") {
//         margin-left: $outcrop-margin;
//         margin-right: $outcrop-margin;
//     }
// }

// .l-wrapper-outcrop\@large {
//     margin-left: 0;
//     margin-right: 0;

//     @include media(">large") {
//         margin-left: $outcrop-margin;
//         margin-right: $outcrop-margin;
//     }
// }
