/* Elevation tokens
 * - shadows that represent various 'heights' above the surface
 */

body {
	--elevation-xlow: 0 0 0.3em oklch(from var(--color-shadow) l c h / 0.08);
	--elevation-low: 0 0.1em 0.3em var(--color-shadow);
	--elevation-medium: 0 0.25em 0.4em var(--color-shadow);
	--elevation-high: 0 0.5em 0.5em var(--color-shadow);
}
