// Global box model and scaling
@use '../config/breakpoints';
@use '../config/type';

html {
  // set up the base font size at each breakpoint
  // this will scale the whole layout proportionately as the screen size changes
  // and we only have to change one thing
  font-size: 100%;

  @include breakpoints.query(">small") {
    font-size: 105%;
  }

  @include breakpoints.query(">medium") {
    font-size: 110%;
  }

  @include breakpoints.query(">large") {
    font-size: 120%;
  }

  // set everything to roll with border-box sizing
  // -> much easier than reg box model
  // -> http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  box-sizing: border-box;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  @include type.font-body;
  font-size: type.$size-default;
  line-height: type.leading('default');
  margin: 0;
}
