// ==========================================================================
//  Icons
// -> for icon sprites, vector graphics, etc.
// ==========================================================================

// Base
// --------------------------------------------------------------------------

[data-ui-icon] {
  $size: 1em;
  --icon-size: #{$size};
  // sass-lint:disable no-important
  // -> use important here to ensure fill is always inherited
  color: inherit;
  display: inline-block;
  fill: currentColor !important;
  height: $size;
  height: var(--icon-size);
  margin-top: -0.15em; // scooch up a little on the baseline
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  vertical-align: middle;
  width: $size;
  width: var(--icon-size);

  svg {
    fill: currentColor !important;
    margin: 0;
    max-height: 100%;
    width: 100%;
  }
}

[data-ui-icon~='small'] {
  --icon-size: 0.83em;
}

[data-ui-icon~='large'] {
  --icon-size: 1.2em;
}

[data-ui-icon~='margin-right'] {
  margin-right: 0.25em;
}

[data-ui-icon~='margin-left'] {
  margin-left: 0.25em;
}
