// =============================================================================
//  Global list styles
// =============================================================================

@import "../config/type";

// Defaults
// -----------------------------------------------------------------------------

li {

  & + & {margin-top: 0.5em; }
}

ol, ul {
  padding: 0;
  padding-left: 1.5em;
  margin: 0;
}

// Utilities
// -----------------------------------------------------------------------------

.list-undecorated { list-style: none !important; }
