/* ==========================================================================
//  Global media styles
// ========================================================================== */

audio,
canvas,
img,
video {
    vertical-align: middle;
    max-width: 100%;
}
