/* =============================================================================
//  Table globals and utilities
// ========================================================================== */

@import "../core/all";

$table-padding: 0.5em 0.5em;

/* Globals
// -------------------------------------------------------------------------- */

table,
.table {
  @include font-accent;
  @include scale-type('zeta');
  width: 100%;
}

thead,
.table-header {
  @include font-accent('bold');
  @include scale-type('eta');
  @include border(bottom, thick, $color: "text" "primary");
  @include color("text" "primary");
  vertical-align: bottom;
  text-transform: uppercase;
  text-align: left;

  td,
  .table-cell { padding-bottom: 0.5em; }
}

tbody,
.table-body {
  // width: 100%;
}

tr,
.table-row {
  &:nth-child(even) { background-color: lighten(theme('well'), 5); }
}

td, th,
.table-cell {
  position: relative;
  padding: $table-padding;
}

/* make tables act like a definition list on small screens */
@include media("<small") {
  table, .table,
  thead, .table-header,
  tbody, .table-body,
  th, td, tr {
    // @include scale-type('zeta');
    display: block;
  }

  thead, .table-header { @include visually_hidden; }

  tr {
    @include border('top');
    padding-top: 1em;
    padding-bottom: 1em;

    &:last-child { @include border('bottom'); }
  }

  td {
    $label-w: 25%;

    padding-left: $label-w !important;

    &::before {
      @include font-accent('bold');
      content: attr(data-label);
      position: absolute;
      // should be same as padding for td's above
      top: nth($table-padding, 1);
      left: nth($table-padding, 2);
      width: $label-w;
      padding-right: 1em;
      white-space: nowrap;
    }
  }
}

@include media("<xsmall") {

}
