// =============================================================================
//  Table globals and utilities
// =============================================================================

@import "../config/color";
@import "../config/type";
@import "../config/border";
@import "../config/visibility";

$table-padding: 0.5em 0.5em;

// Globals
// -----------------------------------------------------------------------------

table,
.table {
  @include font-accent;
  font-size: scale-type('zeta');
  width: 100%;
}

thead,
.table-header {
  @include border(bottom, thick, $color: 'text-primary');
  @include color-fg('text-primary');
  @include font-accent('bold');
  font-size: scale-type('eta');
  text-align: left;
  text-transform: uppercase;
  vertical-align: bottom;

  td,
  .table-cell {
    padding-bottom: 0.5em;
  }
}

tbody,
.table-body {
  // width: 100%;
}

tr,
.table-row {
  &:nth-child(even) {
    background-color: lighten(color('well'), 5);
  }
}

td,
th,
.table-cell {
  position: relative;
  padding: $table-padding;
}

/* make tables act like a definition list on small screens */
@include media("<small") {
  table, .table,
  thead, .table-header,
  tbody, .table-body,
  th, td, tr {
    // font-size: scale-type('zeta');
    display: block;
  }

  thead, .table-header { @include hide-visually(); }

  tr {
    @include border('top');
    padding-top: 1em;
    padding-bottom: 1em;

    &:last-child { @include border('bottom'); }
  }

  td {
    $label-w: 25%;

    padding-left: $label-w !important;

    &::before {
      @include font-accent('bold');
      content: attr(data-label);
      left: nth($table-padding, 2);
      padding-right: 1em;
      position: absolute;
      // should be same as padding for td's above
      top: nth($table-padding, 1);
      white-space: nowrap;
      width: $label-w;
    }
  }
}
