// =============================================================================
//  Global type styles
// =============================================================================

@import "../config/animation";
@import "../config/border";
@import "../config/color";
@import "../config/helpers";
@import "../config/scale";
@import "../config/spacing";
@import "../config/type";

// Defaults
// -----------------------------------------------------------------------------

body {
  @include font-body;
  @include type-size-default;
  line-height: leading('default');
}

// headings
h1,
h2,
h3,
h4,
h5,
h6,
.t-heading {
  @include font-display;
  @include color-fg('text-primary');
  display: block;
  line-height: leading('tight');
  margin: 0;

  & + & {
    margin-top: 0.25em;
  }

  .t-content > p + &,
  .t-content > ul + &,
  .t-content > ol + & {
    margin-top: 1.5em;
  }

  .t-content > & + p,
  .t-content > & + ul,
  .t-content > & + ol {
    margin-top: 0.5em;
  }

  a, {
    border: none;

    &:hover,
    &:active {
      @include border('bottom', $style: 'secondary');
      border-color: inherit;
    }
  }

  strong {
    font-family: inherit;
    font-style: normal;
  }
}

// body/inline text
p {
  @include color-fg('text-secondary');
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  margin-bottom: 0;
  margin-top: 0;

  & + & {
    margin-top: 1em;
  }

  strong {
    @include font-body(bold);
  }
  em {
    @include font-body(normal, italic);
  }
}

a {
  @include border('bottom', $style: 'secondary');
  @include transition-default;
  border-color: inherit;
  color: inherit;
  text-decoration: none;

  &.t-link-undecorated {
    border-bottom: none;

    &:hover,
    &:active {
      border-bottom: none;
    }
  }

  small {
    color: inherit;
  }
}

strong {
  @include font-body(bold);
}

em {
  @include font-body(normal, italic);
}

small,
.t-small {
  @include color-fg('text-tertiary');
  font-size: scale-type('eta');
}

figcaption,
.t-caption {
  @include font-accent;
  @include color-fg('text-tertiary');
  font-size: scale-type('zeta');

  strong {
    @include font-accent(bold);
  }
}

address,
.t-address {
  @include color-fg('text-secondary');
  font-size: scale-type('eta');
}

// Utilities
// -----------------------------------------------------------------------------

// --- type scale --------------------------------------------------------------
h1,
.t-scale-alpha {
  @include type-fluid(font-size, 'beta', 'alpha');
}

h2,
.t-scale-beta {
  @include type-fluid(font-size, 'gamma', 'beta');
}

h3,
.t-scale-gamma {
  @include type-fluid(font-size, 'delta', 'gamma');
}

h4,
.t-scale-delta {
  @include type-fluid(font-size, 'epsilon', 'delta');
}

h5,
.t-scale-epsilon {
  font-size: scale-type('epsilon');
}

h6,
.t-scale-zeta {
  font-size: scale-type('zeta');
}

.t-scale-eta {
  font-size: scale-type('eta');
}

.t-scale-theta {
  font-size: scale-type('theta');
}

// --- type styles -------------------------------------------------------------
.t-display {
  @include font-display($important: true);

  &.t-scale-alpha {
    letter-spacing: -0.01em;
  }
}

.t-accent {
  @include font-accent($important: true);
}
.t-accent-light {
  @include font-accent('light', $important: true);
}
.t-accent-bold {
  @include font-accent('bold', $important: true);
}

.t-body {
  @include font-body($important: true);
}
.t-body-bold {
  @include font-body('bold', $important: true);
}
.t-body-italic {
  @include font-body($style: 'italic', $important: true);
}

.t-caps {
  text-transform: uppercase !important;
}

.t-leading-tight {
  line-height: leading('tight') !important;
}

.t-link-undecorated {
  border: none;

  &:hover,
  &:active {
    @include border('bottom', $style: 'secondary');
    border-color: inherit;
  }
}

[class*="t-highlight"] {
  position: relative;

  &:before {
    @include color-bg('highlight');
    content: '';
    display: block;
    position: absolute;
    top: 0;
  }
}

.t-highlight-top {
  &:before {
    height: border-w('thick');
    left: 0;
    right: 0;
    top: 0;
  }
}

.t-highlight-left {
  &:before {
    bottom: 0;
    width: border-w('thick');
    left: 0;
    top: 0;
  }
}

.t-tag {
  @include border;
  @include color-fg('text-tertiary');
  @include font-accent;
  @include transition-default;
  border-radius: 0.1em;
  display: inline-block;
  font-size: scale-type('zeta');
  margin-left: 0;
  padding: 0.15em 0.4em 0.05em;
  vertical-align: middle;

  &:hover,
  &:active {
    @include color-fg('text-secondary');
    border-color: inherit;
  }

  a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }
}

// --- body text ---------------------------------------------------------------

// the first paragraph, often set slightly bigger
.t-lead,
.t-content.t-content-dropcap > p:first-of-type {
  &::first-letter {
    @include color-fg('text-primary');
    @include font-accent('bold');
    float: left;
    font-size: 3.5rem;
    line-height: 1.7rem;
    margin: 0.15em 0.1em 0 -0.03em;

    @supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
      -webkit-initial-letter: 2;
      initial-letter: 2;
      float: none;
      margin: 0;
      margin-right: 0.1em;
    }
  }
}

.footnotes {
  @include border('top');
  @include color-fg('text-tertiary');
  font-size: scale-type('zeta');
  margin-bottom: space();
  margin-top: space();
  padding-top: space();

  li,
  p {
    @include color-fg('text-tertiary');
    @include font-accent;
    font-size: scale-type('zeta');
    letter-spacing: 0.02em;
  }
}

.footnote {
  @include border($style: 'secondary');
  @include border-radius;
  @include font-accent;
  background-color: transparent;
  border-color: inherit;
  color: inherit;
  display: inline-block;
  line-height: 1;
  margin-left: 0.25em;
  padding: 0.25em 0.5em;
}

.t-content {
  > * + * {
    margin-top: 1em;
  }

  > hr {
    margin: 1.2em 0;
    border: 0;
    height: 0;
    @include border('top');
  }
}

// --- position text -----------------------------------------------------------
@include breakpointify(".t-centered", true) {
  text-align: center;
}
@include breakpointify(".t-left", true) {
  text-align: left;
}
@include breakpointify(".t-right", true) {
  text-align: right;
}
