// =============================================================================
//  Global type styles
// =============================================================================

@import "../config/animation";
@import "../config/color";
@import "../config/scale";
@import "../config/type";
@import "../config/border";
@import "../config/spacing";

// Defaults
// -----------------------------------------------------------------------------

body {
  @include font-body;
  @include type-size-default;
  line-height: leading('default');
}

// headings
h1,
h2,
h3,
h4,
h5,
h6,
.t-heading {
  @include font-display;
  @include color('text' 'primary');
  display: block;
  line-height: leading('tight');
  margin: 0;

  & + & {
    margin-top: 0.25em;
  }

  .t-content > p + &,
  .t-content > ul + &,
  .t-content > ol + & {
    margin-top: 1.5em;
  }

  .t-content > & + p,
  .t-content > & + ul,
  .t-content > & + ol {
    margin-top: 0.5em;
  }

  a, {
    border: none;

    &:hover,
    &:active {
      @include border('bottom', $style: 'secondary');
      border-color: inherit;
    }
  }

  strong {
    font-family: inherit;
    font-style: normal;
  }
}

// body/inline text
p {
  @include scale-type('epsilon');
  @include color('text' 'secondary');
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

  & + & {
    margin-top: 1em;
  }

  strong {
    @include font-body(bold);
  }
  em {
    @include font-body(normal, italic);
  }
}

a {
  @include transition-default;
  text-decoration: none;
  color: inherit;
  @include border('bottom', $style: 'secondary');
  border-color: inherit;

  &.t-link-undecorated {
    border-bottom: none;

    &:hover,
    &:active {
      border-bottom: none;
    }
  }

  small {
    color: inherit;
  }
}

strong {
  @include font-body(bold);
}

em {
  @include font-body(normal, italic);
}

small,
.t-small {
  @include scale-type('eta');
  @include color('text' 'tertiary');
}

figcaption,
.t-caption {
  @include scale-type('zeta');
  @include font-accent;
  @include color('text' 'tertiary');

  strong {
    @include font-accent(bold);
  }
}

address,
.t-address {
  @include scale-type('eta');
  @include color('text' 'secondary');
}

// Utilities
// -----------------------------------------------------------------------------

// --- type scale --------------------------------------------------------------
h1,
.t-scale-alpha {
  @include type-fluid(font-size, 'beta', 'alpha');
}

h2,
.t-scale-beta {
  @include type-fluid(font-size, 'gamma', 'beta');
}

h3,
.t-scale-gamma {
  @include type-fluid(font-size, 'delta', 'gamma');
}

h4,
.t-scale-delta {
  @include type-fluid(font-size, 'epsilon', 'delta');
}

h5,
.t-scale-epsilon {
  @include scale-type('epsilon');
}

h6,
.t-scale-zeta {
  @include scale-type('zeta');
}

.t-scale-eta {
  @include scale-type('eta');
}

.t-scale-theta {
  @include scale-type('theta');
}

// --- type styles -------------------------------------------------------------
.t-display {
  @include font-display($important: true);

  &.t-scale-alpha {
    letter-spacing: -0.01em;
  }
}

.t-accent {
  @include font-accent($important: true);
}
.t-accent-light {
  @include font-accent('light', $important: true);
}
.t-accent-bold {
  @include font-accent('bold', $important: true);
}

.t-body {
  @include font-body($important: true);
}
.t-body-bold {
  @include font-body('bold', $important: true);
}
.t-body-italic {
  @include font-body($style: 'italic', $important: true);
}

.t-caps {
  text-transform: uppercase !important;
}

.t-leading-tight {
  line-height: leading('tight') !important;
}

.t-link-undecorated {
  border: none;

  &:hover,
  &:active {
    @include border('bottom', $style: 'secondary');
    border-color: inherit;
  }
}

.t-tag {
  @include transition-default;
  @include border;
  @include font-accent;
  @include scale-type('zeta');
  @include color('text' 'tertiary');
  display: inline-block;
  padding: 0.15em 0.4em 0.05em;
  margin-left: 0;
  border-radius: 0.1em;
  vertical-align: middle;

  &:hover,
  &:active {
    @include color('text' 'secondary');
    border-color: inherit;
  }

  a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }
}

// --- body text ---------------------------------------------------------------

// the first paragraph, often set slightly bigger
.t-lead,
.t-content.t-content-dropcap > p:first-of-type:not(.t-note) {
  &:first-letter {
    @include font-accent('bold');
    @include color('text' 'primary');
    display: inline-block;
    float: left;
    vertical-align: baseline;
    margin: 0em 0.1em -0.2em -0.03em;
    font-size: 3.5em;
    line-height: 1;
  }
}

.t-note {
  @include font-body('italic');
  @include color('text' 'tertiary');
}

.footnotes {
  @include border('top');
  @include rem(margin-top, space());
  @include rem(margin-bottom, space());
  @include rem(padding-top, space());
  @include scale-type('zeta');
  @include color('text' 'tertiary');

  li,
  p {
    @include scale-type('zeta');
    @include font-accent;
    @include color('text' 'tertiary');
    letter-spacing: 0.02em;
  }
}

.footnote {
  @include font-accent;
  @include border-radius;
  @include border($style: 'secondary');
  display: inline-block;
  margin-left: 0.25em;
  padding: 0.25em 0.5em;
  line-height: 1;
  color: inherit;
  border-color: inherit;
  background-color: transparent;
}

.t-content {
  > * + * {
    margin-top: 1em;
  }

  > hr {
    margin: 1.2em 0;
    border: 0;
    height: 0;
    @include border('top');
  }
}

// --- position text -----------------------------------------------------------
@include breakpointify(".t-centered", true) {
  text-align: center;
}
@include breakpointify(".t-left", true) {
  text-align: left;
}
@include breakpointify(".t-right", true) {
  text-align: right;
}

// use the best ampersands from common system fonts...---
// .t-amp {
//     @include font-ampersand;
//     font-size: $type-size-amp; // relative to whatever type surrounds it -- it renders slightly bigger---
//     color: inherit;
// }
