<%#
  Gallery component
  -> a grid of images

  Locals:
  HASH images: the images to display
    -> structure: { source => alt }
  NUMBER size (optional): number of columns to display at the largest width (> 600px)
  BOOLEAN outcrop (optional): should it 'outcrop' from its container?
  ARRAY margins (optional): margins to add to various sides

  Styles:
  components/gallery
%>

<%
  size ||= 'default'
  full_path ||= false
  outcrop ||= 'true'
  margins ||= ["top", "bottom"]
  borders ||= false

  # make a list of border classes from the borders array
  margin_list = ""

  if margins != "none"
    margins.each do |side|
      margin_list << " margin-#{side}-wide"
    end
  end

  props = [
    (size unless size == 'default')
  ]

  utils = [
    margin_list,
    ('padding-x-outside' if outcrop == 'true')
  ]
%>

<div<%= ' data-ui-wrapper-outcrop' if outcrop == 'true' %><%= class_list(utils) %>>
  <ul data-ui-gallery<%= props_list(props) if size != 'default' %>>
    <% images.each do |image, alt| %>
      <li data-ui-gallery-item>
        <% src = (full_path ? image : "uploads/#{image}") %>
        <%= image_tag src, alt: alt, class: (borders ? 'border' : '') %>
      </li>
    <% end %>
  </ul>
</div>
