/* =============================================================================
// Footer styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../atoms/text";
@import "../organisms/gallery";

/* Base
// -------------------------------------------------------------------------- */

.footer, footer {
    @include border(top);
    // margin-top: $gutter;
    padding-top: $gutter-outside;
    padding-bottom: $gutter-outside;
}

/* Submodules
// -------------------------------------------------------------------------- */

.footer-section {
    @include border(top);
    // margin-top: $gutter;
    padding-top: $gutter-outside;
    padding-bottom: $gutter-outside;

    &:first-child {
        border-top: none;
        // margin-top: 0;
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.footer-logo {
    @extend .logo;
    // margin-left: $gutter;
    max-height: em(26px);
    max-width: em(175px);

    > .logo-jpw-works { fill: theme(highlight); }

    @include respond-to('small') {
        display: inline-block;
        vertical-align: top;
        margin-top: -0.3em; // move up slightly so lowercase aligns with other elements
    }
}

.footer-copyright {
    @extend %font-accent;
    display: block;
    // margin-left: $gutter;
    margin-top: 0.8em;
    font-size: 0.5em;
    text-transform: uppercase;
    color: theme(text tertiary);

    @include respond-to('small') {
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        margin-top: 0;
    }
}
