/* ==========================================================================
// Gallery module
// -> arrange child elements into even rows and columns
// ========================================================================== */

/*doc
---
title: Gallery
name: gallery
category: organisms
---

A gallery is a grid of small bits of content- usually listings or thumbnails. It breaks the content into even columns and rows. It is responsive, so the column number will change based on screen width, and column width is fluid (percentage-based).

```html_example
    <ul class='gallery'>
        <li class="gallery-item">
            Wow, I'm in a gallery.
        </li>
        <li class="gallery-item">
            Me too.
        </li>
    </ul>
```

Typically, you'll mark up a gallery as an unordered list, but it will work with most block-level elements (like <nav> or <div>). Just give the container a "gallery" class and the children a "gallery-item" class.

There are three (column) size variations: small, medium, and large. Medium is default, so that's the size you get with just "gallery." This only affects overall column width: a "large" gallery will have fewer columns at any given screen size than a "small" gallery. Note any size variation can be used at any screen size. The best choice mainly depends on the type of content you're displaying. If there's lots of text, it might look squished in a "small" gallery, whereas tiny icons might get blown up really huge in a "large" gallery.

```html_example
    <!-- small gallery, with narrow columns -->
    <ul class="gallery small"></ul>

    <!-- medium gallery, slightly wider columns -->
    <!-- (default, no modifier needed) -->
    <ul class="gallery"></ul>

    <!-- large gallery with wide columns -->
    <ul class="gallery large"></ul>
```

*/

// requires Bourbon & Modernizr
@import "../core/*";

$gallery-gutter: $gutter;

@mixin columns($number: 2, $g: $gallery-gutter) {
    display: inline-block;
    width: (100%/$number);
    padding-right: $g;

    .flexbox & {
        width: auto;
        flex: 0 0 (100%/$number);
    }
}

/* Base
// ---------------------------------------------------------------------------*/

.gallery {
    @include unstyled-list;
    display: block; // in case flexbox isn't supported
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 0;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(stretch);

    @include respond-to('small') {
        @include display(flex);
        margin-right: -($gallery-gutter); // to prevent uneven column widths
    }
}

/* Modifiers
// ---------------------------------------------------------------------------*/

// "small" columns
// -> see .gallery-item submodule for styles
.gallery.small {
    @include respond-to('xsmall') {
        @include display(flex);
        margin-right: -($gallery-gutter); // to prevent uneven column widths
    }
}

// "large" columns
// -> see .gallery-item submodule for styles
.gallery.large {
    @include respond-to('small') {
        @include display(flex);
        margin-right: -($gallery-gutter); // to prevent uneven column widths
    }
}


/* Submodules
// ---------------------------------------------------------------------------*/

.gallery-item {
    display: block;
    margin: 0;
    padding-bottom: $gallery-gutter;
    font-size: $type-size--default;

    @include respond-to("small") {
        @include columns(2);
    }

    @include respond-to("medium") {
        @include columns(3);
    }

    .gallery.small & {
        @include respond-to("xsmall") {
            @include columns(2);
        }
        @include respond-to("small") {
            @include columns(3);
        }
        @include respond-to("medium") {
            @include columns(4);
        }
    }

    .gallery.large & {
        .gallery.large & {
            @include respond-to('small') {
                @include columns(2);
            }
        }
    }
}
