/* ==========================================================================
// Panel styles
// ========================================================================== */

@import "../core/*";

/* Base
// ---------------------------------------------------------------------------*/

.panel {
    @extend %l-base-w;
    @include rem(padding-left, $gutter-outside);
    @include rem(padding-right, $gutter-outside);
    @include border(top);
    position: relative;

    &:first-child {
        border-top: none;
    }
}

/* Modifiers
// ---------------------------------------------------------------------------*/

.panel {

}

/* Submodules
// ---------------------------------------------------------------------------*/

.panel {
    &-header {
        @include font-scale(4);
        margin-top: 0.5em;
        text-align: center;
    }
}
