/* ==========================================================================
// Panel styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";

/* Base
// ---------------------------------------------------------------------------*/

.panel {
    @include rem(padding, $gutter-outside);
    @include border(top);
    position: relative;
}

/* Modifiers
// ---------------------------------------------------------------------------*/

.panel.top {
    border-top: none;
}

/* Submodules
// ---------------------------------------------------------------------------*/

.panel-slug {
    @extend .slug;
    margin-top: -($gutter-outside/2);
    margin-bottom: $gutter-outside;
    text-align: center;
}
