/* ==========================================================================
// Panel styles
// ========================================================================== */

@import "../core/*";

/* Base
// ---------------------------------------------------------------------------*/

.panel {
    @include rem(padding, $gutter-outside);
    @include border(top);
    position: relative;

    &:first-of-type {
        border-top: none;
    }
}

/* Modifiers
// ---------------------------------------------------------------------------*/

.panel {

}

/* Submodules
// ---------------------------------------------------------------------------*/

.panel-slug {
    @include font-scale(3);
    margin-top: -($gutter-outside/ms(2));
    margin-bottom: $gutter-outside;
    text-align: center;
}
