/* hide an element visually, but keep it legible to screen readers, etc. */
.hide-visually {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.show-visually {
	clip: auto;
	clip-path: none;
	height: auto;
	overflow: visible;
	position: static;
	width: auto;
}
