/* hide and show visually */
.hide-visually {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.show-visually {
	clip: auto;
	clip-path: none;
	height: auto;
	overflow: visible;
	position: static;
	width: auto;
}

@media screen and (min-width: 30em) {
	.xsmall\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 42em) {
	.small\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 62em) {
	.medium\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 75em) {
	.large\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 100em) {
	.xlarge\:hide-visually {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
}

@media screen and (min-width: 30em) {
	.xsmall\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 42em) {
	.small\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 62em) {
	.medium\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 75em) {
	.large\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

@media screen and (min-width: 100em) {
	.xlarge\:show-visually {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}
}

/* hide and show */

.hide {
	display: none !important;
}

.show {
	display: unset !important;
}

@media screen and (min-width: 30em) {
	.xsmall\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 42em) {
	.small\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 62em) {
	.medium\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 75em) {
	.large\:hide {
		display: none !important;
	}
}

@media screen and (min-width: 100em) {
	.xlarge\:hide {
		display: none !important;
	}
}

@media screen and (max-width: 29.99em) {
	.xsmall\:show {
		display: none !important;
	}
}

@media screen and (max-width: 41.99em) {
	.small\:show {
		display: none !important;
	}
}

@media screen and (max-width: 61.99em) {
	.medium\:show {
		display: none !important;
	}
}

@media screen and (max-width: 74.99em) {
	.large\:show {
		display: none !important;
	}
}

@media screen and (max-width: 99.99em) {
	.xlarge\:show {
		display: none !important;
	}
}

/* hide and show if JS is supported */
.js .js\:hide {
	display: none !important;
}

.no-js .js\:show {
	display: none !important;
}

/* hide and show if touch is supported */
.touch .touch\:hide {
	display: none !important;
}

.no-touch .touch\:show {
	display: none !important;
}

/* hide overflow */
.hide-overflow {
	overflow: hidden;
}

/* hide and show for print */
.print\:show {
	display: none !important;
}

@media print {
	.print\:hide {
		display: none !important;
	}

	.print\:show {
		display: unset;
	}
}
