
		/* --- Global custom properties --- */
		:root {
			
				/* --- Borders --- */
				--border-radius: 0.2em;--border-spine-width: 0.35rem;--border-spine-width-small: 0.6rem;
			

				/* --- Breakpoints --- */
				
		--breakpoint-xsmall: 30em;
	
		--breakpoint-small: 42em;
	
		--breakpoint-medium: 62em;
	
		--breakpoint-large: 75em;
	
		--breakpoint-xlarge: 100em;
	
			

				/* --- Color --- */
				
		--color-primary-h: 0;
		--color-primary-s: 0%;
		--color-primary-l: 27%;
		

		--color-primary: hsl(
			var(--color-primary-h),
			var(--color-primary-s),
			var(--color-primary-l)
			
		);
	
		--color-secondary-h: 223;
		--color-secondary-s: 7%;
		--color-secondary-l: 65%;
		

		--color-secondary: hsl(
			var(--color-secondary-h),
			var(--color-secondary-s),
			var(--color-secondary-l)
			
		);
	
		--color-highlight-h: 223;
		--color-highlight-s: 75%;
		--color-highlight-l: 70%;
		

		--color-highlight: hsl(
			var(--color-highlight-h),
			var(--color-highlight-s),
			var(--color-highlight-l)
			
		);
	
		--color-bg-h: 0;
		--color-bg-s: 0%;
		--color-bg-l: 100%;
		

		--color-bg: hsl(
			var(--color-bg-h),
			var(--color-bg-s),
			var(--color-bg-l)
			
		);
	
		--color-island-h: 0;
		--color-island-s: 0%;
		--color-island-l: 100%;
		

		--color-island: hsl(
			var(--color-island-h),
			var(--color-island-s),
			var(--color-island-l)
			
		);
	
		--color-well-h: 223;
		--color-well-s: 7%;
		--color-well-l: 90%;
		

		--color-well: hsl(
			var(--color-well-h),
			var(--color-well-s),
			var(--color-well-l)
			
		);
	
		--color-border-h: 223;
		--color-border-s: 7%;
		--color-border-l: 78%;
		

		--color-border: hsl(
			var(--color-border-h),
			var(--color-border-s),
			var(--color-border-l)
			
		);
	
		--color-shadow-h: 223;
		--color-shadow-s: 7%;
		--color-shadow-l: 78%;
		--color-shadow-a: 0.6;

		--color-shadow: hsl(
			var(--color-shadow-h),
			var(--color-shadow-s),
			var(--color-shadow-l)
			, 0.6
		);
	
			

				/* --- Content Width --- */
				--content-width-narrow: 30rem;--content-width-default: 40rem;--content-width-wide: 64rem;--content-width-xwide: 75rem;--content-width-xxwide: 112rem;
			


				/* --- Scale --- */
				--scale-ratio: 1.2;
			

				/* --- Spacing --- */
				
		--space-xxnarrow: 0.23rem;
	
		--space-xnarrow: 0.69rem;
	
		--space-narrow: 1rem;
	
		--space-medium: 1.73rem;
	
		--space-wide: 2.99rem;
	
		--space-xwide: 4.3rem;
	
			


				/* --- Type --- */
				
				--type-scale-alpha: 
		clamp(
			2.07rem,
			calc(1rem + 5vw),
			3.58rem
		);
	;
			
				--type-scale-beta: 
		clamp(
			1.73rem,
			calc(1rem + 3vw),
			2.99rem
		);
	;
			
				--type-scale-gamma: 
		clamp(
			1.44rem,
			calc(1rem + 2vw),
			2.07rem
		);
	;
			
				--type-scale-delta: 
		clamp(
			1.2rem,
			calc(1rem + 1vw),
			1.44rem
		);
	;
			
				--type-scale-epsilon: 1.2rem;
			
				--type-scale-zeta: 1rem;
			--type-font-display: 'Publico Headline', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;--type-font-body: 'Publico Text', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;--type-font-accent: 'System', system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic', 'Liberation Sans', sans-serif;;--type-leading-xtight: 1.2;--type-leading-tight: 1.3;--type-leading-default: 1.8;
			

		}

		/* --- Base styles --- */
		


				/* --- Color --- */
				
		/* to be implemented later
			@media screen and (prefers-color-scheme: dark) {
				body {
					
		--color-primary-h: 0;
		--color-primary-s: 0%;
		--color-primary-l: 100%;
		

		--color-primary: hsl(
			var(--color-primary-h),
			var(--color-primary-s),
			var(--color-primary-l)
			
		);
	

		--color-secondary-h: 223;
		--color-secondary-s: 7%;
		--color-secondary-l: 40%;
		

		--color-secondary: hsl(
			var(--color-secondary-h),
			var(--color-secondary-s),
			var(--color-secondary-l)
			
		);
	

		--color-highlight-h: 223;
		--color-highlight-s: 75%;
		--color-highlight-l: 70%;
		

		--color-highlight: hsl(
			var(--color-highlight-h),
			var(--color-highlight-s),
			var(--color-highlight-l)
			
		);
	

		--color-bg-h: 0;
		--color-bg-s: 0%;
		--color-bg-l: 27%;
		

		--color-bg: hsl(
			var(--color-bg-h),
			var(--color-bg-s),
			var(--color-bg-l)
			
		);
	

		--color-island-h: 0;
		--color-island-s: 0%;
		--color-island-l: 35%;
		

		--color-island: hsl(
			var(--color-island-h),
			var(--color-island-s),
			var(--color-island-l)
			
		);
	

		--color-well-h: 0;
		--color-well-s: 0%;
		--color-well-l: 17%;
		

		--color-well: hsl(
			var(--color-well-h),
			var(--color-well-s),
			var(--color-well-l)
			
		);
	

		--color-border-h: 0;
		--color-border-s: 0%;
		--color-border-l: 20%;
		

		--color-border: hsl(
			var(--color-border-h),
			var(--color-border-s),
			var(--color-border-l)
			
		);
	

		--color-shadow-h: 0;
		--color-shadow-s: 0%;
		--color-shadow-l: 0%;
		--color-shadow-a: 0.4;

		--color-shadow: hsl(
			var(--color-shadow-h),
			var(--color-shadow-s),
			var(--color-shadow-l)
			, 0.4
		);
	
				}
			}
		*/

		body {
			
		color: hsl(0, 0%, 27%);
		color: var(--color-primary);;
	
			
		background-color: hsl(0, 0%, 100%);
		background-color: var(--color-bg);;
	
		}
	
			


				/* --- Reset --- */
				
		/* Box sizing rules */
		*,
		*::before,
		*::after {
		  box-sizing: border-box;
		}

		/* Remove default margin */
		body,
		h1,
		h2,
		h3,
		h4,
		p,
		figure,
		blockquote,
		dl,
		dd {
		  margin: 0;
		}

		/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
		ul[role='list'],
		ol[role='list'] {
		  list-style: none;
		}

		/* Set core root defaults */
		html:focus-within {
		  scroll-behavior: smooth;
		}

		/* Set core body defaults */
		html {
	    min-height: 100vh;
	  }

		body {
		  line-height: 1.5;
		  margin: 0;
		  min-height: 100vh;
		  text-rendering: optimizeLegibility;
		  font-variant-ligatures: contextual;
		}

		/* Elements that don't have a class get default styles */
		a:not([class]) {
		  text-decoration-skip-ink: auto;
		}

		/* Make images easier to work with */
		img,
		picture,
		video {
		  max-width: 100%;
		}

		svg {
			height: 100%;
			width: 100%;
		}

		/* Inherit fonts for inputs and buttons */
		input,
		button,
		textarea,
		select {
		  font: inherit;
		}

		/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
		@media (prefers-reduced-motion: reduce) {
		  html:focus-within {
		   scroll-behavior: auto;
		  }
		  
		  *,
		  *::before,
		  *::after {
		    animation-duration: 0.01ms !important;
		    animation-iteration-count: 1 !important;
		    transition-duration: 0.01ms !important;
		    scroll-behavior: auto !important;
		  }
		}
	
			




				/* --- Type --- */
				
		/* webfonts */
		
		@font-face {
		  font-display: swap;
		  font-family: 'Publico Headline';
		  font-style: normal;
		  font-weight: normal;
		  src: 
		  	url('/assets/fonts/PublicoHeadline-Roman-Web.woff') format('woff')
	  	, 
		  	url('/assets/fonts/PublicoHeadline-Roman-Web.ttf') format('ttf')
	  	;
		}
	
		@font-face {
		  font-display: swap;
		  font-family: 'Publico Text';
		  font-style: normal;
		  font-weight: normal;
		  src: 
		  	url('/assets/fonts/PublicoText-Roman-Web.woff') format('woff')
	  	, 
		  	url('/assets/fonts/PublicoText-Roman-Web.ttf') format('ttf')
	  	;
		}
	
		@font-face {
		  font-display: swap;
		  font-family: 'Publico Text';
		  font-style: italic;
		  font-weight: normal;
		  src: 
		  	url('/assets/fonts/PublicoText-Italic-Web.woff') format('woff')
	  	, 
		  	url('/assets/fonts/PublicoText-Italic-Web.ttf') format('ttf')
	  	;
		}
	

		/* global type */
		
				html {
			    font-size: 100%;
			  }
			
		@media screen and (min-width: 42em) {
			
				html {
			    font-size: 105%;
			  }
			
		}
	
		@media screen and (min-width: 62em) {
			
				html {
			    font-size: 110%;
			  }
			
		}
	
		@media screen and (min-width: 100em) {
			
				html {
			    font-size: 120%;
			  }
			
		}
	

		body {
		  font-size: 1.2rem;;
		  font-family: 'Publico Text', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;
		  line-height: 1.8;
		}

		
		h1,h2,h3,h4,h5,h6 {
			font-family: 'Publico Headline', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;
			font-weight: normal;
			display: block;
			line-height: 1.3;
			margin: 0;
			max-width: none; /* reset default width of p elements */
		}

		h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
			border-bottom: none;
			color: inherit;
		}

		
			h1 a:hover,
			h1 a:active
		,
			h2 a:hover,
			h2 a:active
		,
			h3 a:hover,
			h3 a:active
		,
			h4 a:hover,
			h4 a:active
		,
			h5 a:hover,
			h5 a:active
		,
			h6 a:hover,
			h6 a:active
		 {
			
		color: hsl(223, 75%, 70%);
		color: var(--color-highlight);;
	
		}

		h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
			font-weight: normal;
		}

		h1 em,h2 em,h3 em,h4 em,h5 em,h6 em {
			font-style: normal;
		}
	

		
			h1 {
				
			font-size: 2.83rem;
			font-size: 
		clamp(
			2.07rem,
			calc(1rem + 5vw),
			3.58rem
		);
	;
		
			}
		
			h2 {
				
			font-size: 2.36rem;
			font-size: 
		clamp(
			1.73rem,
			calc(1rem + 3vw),
			2.99rem
		);
	;
		
			}
		
			h3 {
				
			font-size: 1.75rem;
			font-size: 
		clamp(
			1.44rem,
			calc(1rem + 2vw),
			2.07rem
		);
	;
		
			}
		
			h4 {
				
			font-size: 1.32rem;
			font-size: 
		clamp(
			1.2rem,
			calc(1rem + 1vw),
			1.44rem
		);
	;
		
			}
		
			h5 {
				font-size: 1.2rem;
			}
		
			h6 {
				font-size: 1rem;
			}
		

		h1,
		h2 {
			line-height: 1.2;
		}

		p {
			margin-bottom: 0;
			margin-top: 0;
			max-width: 60ch;
		}

		a {
			
		border-bottom: 1px dashed hsl(223, 7%, 78%);
		border-bottom: 1px dashed var(--color-border);;
	;
			transition: all 0.25s ease;
			border-color: inherit;
			color: inherit;
			text-decoration: none;
		}

		strong {
			font-weight: bold;
		}

		em {
			font-style: italic;
		}
	
			


		/* --- Utility classes --- */
		
				/* --- Borders --- */
				
		.border {
			
		border: 1px dashed hsl(223, 7%, 78%);
		border: 1px dashed var(--color-border);;
	
		}

		.no-border {
			border: 0 !important;
		}

		/* variations */
		.border.solid {
			border-style: solid;
		}

		.border-round {
			border-radius: 0.2em;
		}

		
			.border-top {
				
		border-top: 1px dashed hsl(223, 7%, 78%);
		border-top: 1px dashed var(--color-border);;
	
			}

			.no-border-top {
				border-top: 0 !important;
			}

			.border-top.solid {
				border-top-style: solid;
			}
		
			.border-right {
				
		border-right: 1px dashed hsl(223, 7%, 78%);
		border-right: 1px dashed var(--color-border);;
	
			}

			.no-border-right {
				border-right: 0 !important;
			}

			.border-right.solid {
				border-right-style: solid;
			}
		
			.border-bottom {
				
		border-bottom: 1px dashed hsl(223, 7%, 78%);
		border-bottom: 1px dashed var(--color-border);;
	
			}

			.no-border-bottom {
				border-bottom: 0 !important;
			}

			.border-bottom.solid {
				border-bottom-style: solid;
			}
		
			.border-left {
				
		border-left: 1px dashed hsl(223, 7%, 78%);
		border-left: 1px dashed var(--color-border);;
	
			}

			.no-border-left {
				border-left: 0 !important;
			}

			.border-left.solid {
				border-left-style: solid;
			}
		

		.border-y-flow > * + * {
			
		border-top: 1px dashed hsl(223, 7%, 78%);
		border-top: 1px dashed var(--color-border);;
	
		}

		.border-y-flow.solid > * + * {
			border-top-style: solid;
		}

		.border-x-flow > * + * {
			
		border-left: 1px dashed hsl(223, 7%, 78%);
		border-left: 1px dashed var(--color-border);;
	
		}

		.border-x-flow.solid > * + * {
			border-left-style: solid;
		}

		/*
			"Spine" border effect
			-> a stripe on the left side of the layout, a la a book spine, that also displays loading status
		*/
		.border-spine {
			--spine-color: hsl(223, 7%, 78%);
			--spine-color: var(--color-highlight);

			--spine-color-tint: hsl(
				var(--color-highlight-h),
				var(--color-highlight-s),
				calc(var(--color-highlight-l) + 10%)
			);
			--spine-stripe-size: 30px;

			padding-left: var(--border-spine-width);
			position: relative;
		}

		.border-spine::before {
			background-color: var(--spine-color);
			bottom: 0;
			content: '';
			display: block;
			left: 0;
			position: fixed;
			top: 0;
			width: var(--border-spine-width);
			z-index: 0;
		}

		@keyframes stripes {
			from { background-position: 0 0; }
			to   { background-position: var(--spine-stripe-size) var(--spine-stripe-size); }
		}

		@supports (background: repeating-linear-gradient(45deg, #fff, #000)) {
			.border-spine.loading::before {
				/* cheers to https://css-tricks.com/uniqlo-stripe-hovers/ */
				animation: stripes 0.75s linear infinite;
				background: repeating-linear-gradient(
					-45deg,
					var(--spine-color),
					var(--spine-color) 25%,
					var(--spine-color-tint) 25%,
					var(--spine-color-tint) 50%,
					var(--spine-color) 50%
				) top left fixed;
				background-size: var(--spine-stripe-size) var(--spine-stripe-size);
			}
		}

		
				@media screen and (min-width: 42em) {
					.border-spine {
						padding-left: var(--border-spine-width-small);
					}
					.border-spine::before {
						width: var(--border-spine-width-small);
					}
				}
			

		/*
			"Seam" border effect
			-> use a pseudo-element to create a border that overlays the "spine" and suggests stitching
		*/
		
			.border-seam-top {
				
		border-top: 1px dashed hsl(223, 7%, 78%);
		border-top: 1px dashed var(--color-border);;
	
				position: relative;
			}

			.border-seam-top::before {
				top: -0.25rem;
				background-color: hsl(0, 0%, 27%);
				background-color: var(--color-primary);;
				content: '';
				display: block;
				height: 0.5rem;
				left: -0.35rem;
				left: calc(var(--border-spine-width) * -1);
				position: absolute;
				width: 0.35rem;
				width: var(--border-spine-width);
				z-index: 3;
			}

			
					@media screen and (min-width: 42em) {
						.border-seam-top::before {
							left: calc(var(--border-spine-width-small) * -1);
							width: var(--border-spine-width-small);
						}
					}
				
		
			.border-seam-bottom {
				
		border-bottom: 1px dashed hsl(223, 7%, 78%);
		border-bottom: 1px dashed var(--color-border);;
	
				position: relative;
			}

			.border-seam-bottom::after {
				bottom: -0.25rem;
				background-color: hsl(0, 0%, 27%);
				background-color: var(--color-primary);;
				content: '';
				display: block;
				height: 0.5rem;
				left: -0.35rem;
				left: calc(var(--border-spine-width) * -1);
				position: absolute;
				width: 0.35rem;
				width: var(--border-spine-width);
				z-index: 3;
			}

			
					@media screen and (min-width: 42em) {
						.border-seam-bottom::after {
							left: calc(var(--border-spine-width-small) * -1);
							width: var(--border-spine-width-small);
						}
					}
				
		
	
			


				/* --- Color --- */
				
			.color-fg-primary {
				
		color: hsl(0, 0%, 27%);
		color: var(--color-primary);;
	
			}

			.color-bg-primary {
				
		background-color: hsl(0, 0%, 27%);
		background-color: var(--color-primary);;
	
			}
		

			.color-fg-secondary {
				
		color: hsl(223, 7%, 65%);
		color: var(--color-secondary);;
	
			}

			.color-bg-secondary {
				
		background-color: hsl(223, 7%, 65%);
		background-color: var(--color-secondary);;
	
			}
		

			.color-fg-highlight {
				
		color: hsl(223, 75%, 70%);
		color: var(--color-highlight);;
	
			}

			.color-bg-highlight {
				
		background-color: hsl(223, 75%, 70%);
		background-color: var(--color-highlight);;
	
			}
		

			.color-fg-bg {
				
		color: hsl(0, 0%, 100%);
		color: var(--color-bg);;
	
			}

			.color-bg-bg {
				
		background-color: hsl(0, 0%, 100%);
		background-color: var(--color-bg);;
	
			}
		

			.color-fg-island {
				
		color: hsl(0, 0%, 100%);
		color: var(--color-island);;
	
			}

			.color-bg-island {
				
		background-color: hsl(0, 0%, 100%);
		background-color: var(--color-island);;
	
			}
		

			.color-fg-well {
				
		color: hsl(223, 7%, 90%);
		color: var(--color-well);;
	
			}

			.color-bg-well {
				
		background-color: hsl(223, 7%, 90%);
		background-color: var(--color-well);;
	
			}
		

			.color-fg-border {
				
		color: hsl(223, 7%, 78%);
		color: var(--color-border);;
	
			}

			.color-bg-border {
				
		background-color: hsl(223, 7%, 78%);
		background-color: var(--color-border);;
	
			}
		
			

				/* --- Content Width --- */
				
				.content-width-narrow {
					max-width: 30rem;
					max-width: var(--content-width-narrow);
				}
			
			.content-width {
				max-width: 40rem;
				max-width: var(--content-width-default);
			}
		
				.content-width-wide {
					max-width: 64rem;
					max-width: var(--content-width-wide);
				}
			
				.content-width-xwide {
					max-width: 75rem;
					max-width: var(--content-width-xwide);
				}
			
				.content-width-xxwide {
					max-width: 112rem;
					max-width: var(--content-width-xxwide);
				}
			
			



				/* --- Spacing --- */
						
		
			/* padding */

			/* all sides */
			.padding {
				padding: 1.73rem;
			}

			.no-padding {
				padding: 0 !important;
			}

			/* vertical and horizontal spacing */
			.padding-x {
				padding-left: 1.73rem;
				padding-right: 1.73rem;
			}

			.padding-y {
				padding-top: 1.73rem;
				padding-bottom: 1.73rem;
			}

			.padding-x-flow > * + * {
				padding-left: 1.73rem;
			}

			.padding-y-flow > * + * {
				padding-top: 1.73rem;
			}

			/* size variations */
			
				.padding-xxnarrow {
					padding: 0.23rem;
				}

				.padding-x-xxnarrow {
					padding-left: 0.23rem;
					padding-right: 0.23rem;
				}

				.padding-y-xxnarrow {
					padding-top: 0.23rem;
					padding-bottom: 0.23rem;
				}

				.padding-x-flow-xxnarrow > * + * {
					padding-left: 0.23rem;
				}

				.padding-y-flow-xxnarrow > * + * {
					padding-top: 0.23rem;
				}
			,
				.padding-xnarrow {
					padding: 0.69rem;
				}

				.padding-x-xnarrow {
					padding-left: 0.69rem;
					padding-right: 0.69rem;
				}

				.padding-y-xnarrow {
					padding-top: 0.69rem;
					padding-bottom: 0.69rem;
				}

				.padding-x-flow-xnarrow > * + * {
					padding-left: 0.69rem;
				}

				.padding-y-flow-xnarrow > * + * {
					padding-top: 0.69rem;
				}
			,
				.padding-narrow {
					padding: 1rem;
				}

				.padding-x-narrow {
					padding-left: 1rem;
					padding-right: 1rem;
				}

				.padding-y-narrow {
					padding-top: 1rem;
					padding-bottom: 1rem;
				}

				.padding-x-flow-narrow > * + * {
					padding-left: 1rem;
				}

				.padding-y-flow-narrow > * + * {
					padding-top: 1rem;
				}
			,
				.padding-medium {
					padding: 1.73rem;
				}

				.padding-x-medium {
					padding-left: 1.73rem;
					padding-right: 1.73rem;
				}

				.padding-y-medium {
					padding-top: 1.73rem;
					padding-bottom: 1.73rem;
				}

				.padding-x-flow-medium > * + * {
					padding-left: 1.73rem;
				}

				.padding-y-flow-medium > * + * {
					padding-top: 1.73rem;
				}
			,
				.padding-wide {
					padding: 2.99rem;
				}

				.padding-x-wide {
					padding-left: 2.99rem;
					padding-right: 2.99rem;
				}

				.padding-y-wide {
					padding-top: 2.99rem;
					padding-bottom: 2.99rem;
				}

				.padding-x-flow-wide > * + * {
					padding-left: 2.99rem;
				}

				.padding-y-flow-wide > * + * {
					padding-top: 2.99rem;
				}
			,
				.padding-xwide {
					padding: 4.3rem;
				}

				.padding-x-xwide {
					padding-left: 4.3rem;
					padding-right: 4.3rem;
				}

				.padding-y-xwide {
					padding-top: 4.3rem;
					padding-bottom: 4.3rem;
				}

				.padding-x-flow-xwide > * + * {
					padding-left: 4.3rem;
				}

				.padding-y-flow-xwide > * + * {
					padding-top: 4.3rem;
				}
			

			/* sides */
			
				.padding-left {
					padding-left: 1.73rem;
				}

				.no-padding-left {
					padding-left: 0 !important;
				}

				
					.padding-left-xxnarrow {
						padding-left: 0.23rem;
					}
				
					.padding-left-xnarrow {
						padding-left: 0.69rem;
					}
				
					.padding-left-narrow {
						padding-left: 1rem;
					}
				
					.padding-left-medium {
						padding-left: 1.73rem;
					}
				
					.padding-left-wide {
						padding-left: 2.99rem;
					}
				
					.padding-left-xwide {
						padding-left: 4.3rem;
					}
				
			
				.padding-right {
					padding-right: 1.73rem;
				}

				.no-padding-right {
					padding-right: 0 !important;
				}

				
					.padding-right-xxnarrow {
						padding-right: 0.23rem;
					}
				
					.padding-right-xnarrow {
						padding-right: 0.69rem;
					}
				
					.padding-right-narrow {
						padding-right: 1rem;
					}
				
					.padding-right-medium {
						padding-right: 1.73rem;
					}
				
					.padding-right-wide {
						padding-right: 2.99rem;
					}
				
					.padding-right-xwide {
						padding-right: 4.3rem;
					}
				
			
				.padding-top {
					padding-top: 1.73rem;
				}

				.no-padding-top {
					padding-top: 0 !important;
				}

				
					.padding-top-xxnarrow {
						padding-top: 0.23rem;
					}
				
					.padding-top-xnarrow {
						padding-top: 0.69rem;
					}
				
					.padding-top-narrow {
						padding-top: 1rem;
					}
				
					.padding-top-medium {
						padding-top: 1.73rem;
					}
				
					.padding-top-wide {
						padding-top: 2.99rem;
					}
				
					.padding-top-xwide {
						padding-top: 4.3rem;
					}
				
			
				.padding-bottom {
					padding-bottom: 1.73rem;
				}

				.no-padding-bottom {
					padding-bottom: 0 !important;
				}

				
					.padding-bottom-xxnarrow {
						padding-bottom: 0.23rem;
					}
				
					.padding-bottom-xnarrow {
						padding-bottom: 0.69rem;
					}
				
					.padding-bottom-narrow {
						padding-bottom: 1rem;
					}
				
					.padding-bottom-medium {
						padding-bottom: 1.73rem;
					}
				
					.padding-bottom-wide {
						padding-bottom: 2.99rem;
					}
				
					.padding-bottom-xwide {
						padding-bottom: 4.3rem;
					}
				
			
		
			/* margin */

			/* all sides */
			.margin {
				margin: 1.73rem;
			}

			.no-margin {
				margin: 0 !important;
			}

			/* vertical and horizontal spacing */
			.margin-x {
				margin-left: 1.73rem;
				margin-right: 1.73rem;
			}

			.margin-y {
				margin-top: 1.73rem;
				margin-bottom: 1.73rem;
			}

			.margin-x-flow > * + * {
				margin-left: 1.73rem;
			}

			.margin-y-flow > * + * {
				margin-top: 1.73rem;
			}

			/* size variations */
			
				.margin-xxnarrow {
					margin: 0.23rem;
				}

				.margin-x-xxnarrow {
					margin-left: 0.23rem;
					margin-right: 0.23rem;
				}

				.margin-y-xxnarrow {
					margin-top: 0.23rem;
					margin-bottom: 0.23rem;
				}

				.margin-x-flow-xxnarrow > * + * {
					margin-left: 0.23rem;
				}

				.margin-y-flow-xxnarrow > * + * {
					margin-top: 0.23rem;
				}
			,
				.margin-xnarrow {
					margin: 0.69rem;
				}

				.margin-x-xnarrow {
					margin-left: 0.69rem;
					margin-right: 0.69rem;
				}

				.margin-y-xnarrow {
					margin-top: 0.69rem;
					margin-bottom: 0.69rem;
				}

				.margin-x-flow-xnarrow > * + * {
					margin-left: 0.69rem;
				}

				.margin-y-flow-xnarrow > * + * {
					margin-top: 0.69rem;
				}
			,
				.margin-narrow {
					margin: 1rem;
				}

				.margin-x-narrow {
					margin-left: 1rem;
					margin-right: 1rem;
				}

				.margin-y-narrow {
					margin-top: 1rem;
					margin-bottom: 1rem;
				}

				.margin-x-flow-narrow > * + * {
					margin-left: 1rem;
				}

				.margin-y-flow-narrow > * + * {
					margin-top: 1rem;
				}
			,
				.margin-medium {
					margin: 1.73rem;
				}

				.margin-x-medium {
					margin-left: 1.73rem;
					margin-right: 1.73rem;
				}

				.margin-y-medium {
					margin-top: 1.73rem;
					margin-bottom: 1.73rem;
				}

				.margin-x-flow-medium > * + * {
					margin-left: 1.73rem;
				}

				.margin-y-flow-medium > * + * {
					margin-top: 1.73rem;
				}
			,
				.margin-wide {
					margin: 2.99rem;
				}

				.margin-x-wide {
					margin-left: 2.99rem;
					margin-right: 2.99rem;
				}

				.margin-y-wide {
					margin-top: 2.99rem;
					margin-bottom: 2.99rem;
				}

				.margin-x-flow-wide > * + * {
					margin-left: 2.99rem;
				}

				.margin-y-flow-wide > * + * {
					margin-top: 2.99rem;
				}
			,
				.margin-xwide {
					margin: 4.3rem;
				}

				.margin-x-xwide {
					margin-left: 4.3rem;
					margin-right: 4.3rem;
				}

				.margin-y-xwide {
					margin-top: 4.3rem;
					margin-bottom: 4.3rem;
				}

				.margin-x-flow-xwide > * + * {
					margin-left: 4.3rem;
				}

				.margin-y-flow-xwide > * + * {
					margin-top: 4.3rem;
				}
			

			/* sides */
			
				.margin-left {
					margin-left: 1.73rem;
				}

				.no-margin-left {
					margin-left: 0 !important;
				}

				
					.margin-left-xxnarrow {
						margin-left: 0.23rem;
					}
				
					.margin-left-xnarrow {
						margin-left: 0.69rem;
					}
				
					.margin-left-narrow {
						margin-left: 1rem;
					}
				
					.margin-left-medium {
						margin-left: 1.73rem;
					}
				
					.margin-left-wide {
						margin-left: 2.99rem;
					}
				
					.margin-left-xwide {
						margin-left: 4.3rem;
					}
				
			
				.margin-right {
					margin-right: 1.73rem;
				}

				.no-margin-right {
					margin-right: 0 !important;
				}

				
					.margin-right-xxnarrow {
						margin-right: 0.23rem;
					}
				
					.margin-right-xnarrow {
						margin-right: 0.69rem;
					}
				
					.margin-right-narrow {
						margin-right: 1rem;
					}
				
					.margin-right-medium {
						margin-right: 1.73rem;
					}
				
					.margin-right-wide {
						margin-right: 2.99rem;
					}
				
					.margin-right-xwide {
						margin-right: 4.3rem;
					}
				
			
				.margin-top {
					margin-top: 1.73rem;
				}

				.no-margin-top {
					margin-top: 0 !important;
				}

				
					.margin-top-xxnarrow {
						margin-top: 0.23rem;
					}
				
					.margin-top-xnarrow {
						margin-top: 0.69rem;
					}
				
					.margin-top-narrow {
						margin-top: 1rem;
					}
				
					.margin-top-medium {
						margin-top: 1.73rem;
					}
				
					.margin-top-wide {
						margin-top: 2.99rem;
					}
				
					.margin-top-xwide {
						margin-top: 4.3rem;
					}
				
			
				.margin-bottom {
					margin-bottom: 1.73rem;
				}

				.no-margin-bottom {
					margin-bottom: 0 !important;
				}

				
					.margin-bottom-xxnarrow {
						margin-bottom: 0.23rem;
					}
				
					.margin-bottom-xnarrow {
						margin-bottom: 0.69rem;
					}
				
					.margin-bottom-narrow {
						margin-bottom: 1rem;
					}
				
					.margin-bottom-medium {
						margin-bottom: 1.73rem;
					}
				
					.margin-bottom-wide {
						margin-bottom: 2.99rem;
					}
				
					.margin-bottom-xwide {
						margin-bottom: 4.3rem;
					}
				
			
		

		/* outside spacing */
		.padding-x-outside {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.margin-x-auto {
			margin-left: auto;
			margin-right: auto;
		}

		
				@media screen and (min-width: 42em) {
					.padding-x-outside {
						padding-left: 1.73rem;
						padding-right: 1.73rem;
					}
				}
			
				@media screen and (min-width: 62em) {
					.padding-x-outside {
						padding-left: 2.99rem;
						padding-right: 2.99rem;
					}
				}
			

		/* 
			split gutters
			-> add uniform gutters to a group of elements
		*/

		.gutter-wrapper {
		  padding: 0.865rem;
		  margin: -1.73rem;
		}

	  .gutter-wrapper .gutter {
	    padding: 0.865rem;
	  }

		
				.gutter-wrapper.xxnarrow {
				  padding: 0.115rem;
				  margin: -0.23rem;
				}

			  .gutter-wrapper.xxnarrow .gutter {
			    padding: 0.115rem;
			  }
			
				.gutter-wrapper.xnarrow {
				  padding: 0.345rem;
				  margin: -0.69rem;
				}

			  .gutter-wrapper.xnarrow .gutter {
			    padding: 0.345rem;
			  }
			
				.gutter-wrapper.narrow {
				  padding: 0.5rem;
				  margin: -1rem;
				}

			  .gutter-wrapper.narrow .gutter {
			    padding: 0.5rem;
			  }
			
				.gutter-wrapper.wide {
				  padding: 1.495rem;
				  margin: -2.99rem;
				}

			  .gutter-wrapper.wide .gutter {
			    padding: 1.495rem;
			  }
			
				.gutter-wrapper.xwide {
				  padding: 2.15rem;
				  margin: -4.3rem;
				}

			  .gutter-wrapper.xwide .gutter {
			    padding: 2.15rem;
			  }
			
	
			

				/* --- Special effects --- */
				
		.shadow {
			box-shadow: 0 0 0.5rem hsl(223, 7%, 78%, 0.6);
			box-shadow: 0 0 0.5rem var(--color-shadow);
		}
	
			

				/* --- Type --- */
				
		
		.type-heading {
			font-family: 'Publico Headline', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;
			font-weight: normal;
			display: block;
			line-height: 1.3;
			margin: 0;
			max-width: none; /* reset default width of p elements */
		}

		.type-heading a {
			border-bottom: none;
			color: inherit;
		}

		
			.type-heading a:hover,
			.type-heading a:active
		 {
			
		color: hsl(223, 75%, 70%);
		color: var(--color-highlight);;
	
		}

		.type-heading strong {
			font-weight: normal;
		}

		.type-heading em {
			font-style: normal;
		}
	

		/* same as a heading, but a different font and color */
		.type-subheading {
			
		color: hsl(223, 7%, 65%);
		color: var(--color-secondary);;
	
			font-family: 'System', system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic', 'Liberation Sans', sans-serif;;
			font-weight: 200;
			display: block;
			line-height: 1.3;
			margin: 0;
		}

		.type-scale-zeta.type-subheading {
			font-weight: 300;
		}

		.type-subheading a {
			border-bottom: none;
			color: inherit;
		}

		.type-subheading a:hover,
		.type-subheading a:active {
			
		color: hsl(223, 75%, 70%);
		color: var(--color-highlight);;
	
		}

		.type-subheading strong {
			font-weight: bold;
		}

		.type-subheading em {
			font-style: italic;
		}

		
			.type-font-display {
				font-family: 'Publico Headline', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;
			}
		
			.type-font-body {
				font-family: 'Publico Text', 'Publico', 'Georgia', 'Times', 'Times New Roman', serif;;
			}
		
			.type-font-accent {
				font-family: 'System', system-ui, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', 'Lucida Grande', 'Helvetica Neue', 'Helvetica', 'Fira Sans', 'Roboto', 'Noto', 'Droid Sans', 'Cantarell', 'Oxygen', 'Ubuntu', 'Franklin Gothic Medium', 'Century Gothic', 'Liberation Sans', sans-serif;;
			}
		

		.type-font-accent.type-weight-xlight,
		.type-font-accent .type-weight-xlight {
			font-weight: 200;
		}

		.type-font-accent.type-weight-light,
		.type-font-accent .type-weight-light {
			font-weight: 300;
		}

		.type-weight-bold {
			font-weight: bold;
		}

		.type-style-italic {
			font-style: italic;
		}

		.type-link-undecorated {
			border-bottom: none;
		}

		.type-link-undecorated::hover,
		.type-link-undecorated::active {
			border-bottom: none;
		}

		/* scale */
		
			.type-scale-alpha {
				
			font-size: 2.83rem;
			font-size: 
		clamp(
			2.07rem,
			calc(1rem + 5vw),
			3.58rem
		);
	;
		
			}
		
			.type-scale-beta {
				
			font-size: 2.36rem;
			font-size: 
		clamp(
			1.73rem,
			calc(1rem + 3vw),
			2.99rem
		);
	;
		
			}
		
			.type-scale-gamma {
				
			font-size: 1.75rem;
			font-size: 
		clamp(
			1.44rem,
			calc(1rem + 2vw),
			2.07rem
		);
	;
		
			}
		
			.type-scale-delta {
				
			font-size: 1.32rem;
			font-size: 
		clamp(
			1.2rem,
			calc(1rem + 1vw),
			1.44rem
		);
	;
		
			}
		
			.type-scale-epsilon {
				font-size: 1.2rem;
			}
		
			.type-scale-zeta {
				font-size: 1rem;
			}
		

		/* zero out the type size to avoid whitespace bugs */
		.type-scale-zero {
			font-size: 0 !important;
		}

		.type-scale-alpha,
		.type-scale-beta {
			line-height: 1.2;
		}

		/* leading */
		
			.type-leading-xtight {
				line-height: 1.2;
			}
		
			.type-leading-tight {
				line-height: 1.3;
			}
		
			.type-leading-default {
				line-height: 1.8;
			}
		

		/* case */
		.type-case-upper {
			text-transform: uppercase;
		}

		/* alignment */
		
				.type-align-center {
					text-align: center;
				}
			
				.type-align-right {
					text-align: right;
				}
			
				.type-align-left {
					text-align: left;
				}
			
	
			

				/* --- Visibility --- */
				
		/* hide and show visually */
		.hide-visually {
			
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

		}

		.show-visually {
			
	clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;

		}

		
		@media screen and (min-width: 30em) {
			
			.xsmall\:hide-visually {
				
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

			}
		
		}
	
		@media screen and (min-width: 42em) {
			
			.small\:hide-visually {
				
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

			}
		
		}
	
		@media screen and (min-width: 62em) {
			
			.medium\:hide-visually {
				
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

			}
		
		}
	
		@media screen and (min-width: 75em) {
			
			.large\:hide-visually {
				
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

			}
		
		}
	
		@media screen and (min-width: 100em) {
			
			.xlarge\:hide-visually {
				
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

			}
		
		}
	
		
		@media screen and (min-width: 30em) {
			
			.xsmall\:show-visually {
				
	clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;

			}
		
		}
	
		@media screen and (min-width: 42em) {
			
			.small\:show-visually {
				
	clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;

			}
		
		}
	
		@media screen and (min-width: 62em) {
			
			.medium\:show-visually {
				
	clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;

			}
		
		}
	
		@media screen and (min-width: 75em) {
			
			.large\:show-visually {
				
	clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;

			}
		
		}
	
		@media screen and (min-width: 100em) {
			
			.xlarge\:show-visually {
				
	clip: auto;
  clip-path: none;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;

			}
		
		}
	

		/* hide and show */

		.hide {
			display: none !important;
		}

		.show {
			display: unset !important;
		}

		
		@media screen and (min-width: 30em) {
			
			.xsmall\:hide {
				display: none !important;
			}
		
		}
	
		@media screen and (min-width: 42em) {
			
			.small\:hide {
				display: none !important;
			}
		
		}
	
		@media screen and (min-width: 62em) {
			
			.medium\:hide {
				display: none !important;
			}
		
		}
	
		@media screen and (min-width: 75em) {
			
			.large\:hide {
				display: none !important;
			}
		
		}
	
		@media screen and (min-width: 100em) {
			
			.xlarge\:hide {
				display: none !important;
			}
		
		}
	
		
		@media screen and (max-width: 29.99em) {
			
			.xsmall\:show {
				display: none !important;
			}
		
		}
	
		@media screen and (max-width: 41.99em) {
			
			.small\:show {
				display: none !important;
			}
		
		}
	
		@media screen and (max-width: 61.99em) {
			
			.medium\:show {
				display: none !important;
			}
		
		}
	
		@media screen and (max-width: 74.99em) {
			
			.large\:show {
				display: none !important;
			}
		
		}
	
		@media screen and (max-width: 99.99em) {
			
			.xlarge\:show {
				display: none !important;
			}
		
		}
	

		/* hide and show if JS is supported */
		.js .js\:hide {
			display: none !important;
		}

		.no-js .js\:show {
			display: none !important;
		}

		/* hide and show if touch is supported */
		.touch .touch\:hide {
			display: none !important;
		}

		.no-touch .touch\:show {
			display: none !important;
		}

		/* hide overflow */
		.hide-overflow {
			overflow: hidden;
		}

		/* hide and show for print */
		.print\:show {
			display: none !important;
		}

		@media print {
			.print\:hide {
				display: none !important;
			}

			.print\:show {
				display: unset;
			}
		}
	
			
	