// =============================================================================
// Border utlities
// =============================================================================

@import "../config/border";

// Base
// -----------------------------------------------------------------------------

// .border, .border@[screen]
@include breakpointify(".border", true) {
  @include border;
}

// .no-border, .no-border@[screen]
@include breakpointify(".no-border", true) { border: none !important; }

@each $side in (top, right, bottom, left) {
  // .border-[side], .border-[side]@[screen]
  @include breakpointify(".no-border-#{$side}", true) {
    border-#{$side}: none !important;
  }

  // .no-border-[side], .no-border-[side]@[screen]
  @include breakpointify(".border-#{$side}", true) {
    @include border($side);
  }
}

.border-round { border-radius: $border-radius; }
.border-circular { border-radius: 50%; }

// --- Modifiers ---------------------------------------------------------------

// make a border thicker
.border--thick { border-width: border-w('thick'); }


// --- Content -----------------------------------------------------------------
// style generated <hr> elements in content containers

.content > hr {
  margin: 1em 0;
  border: 0;
  height: 0;
  @include border('top');
}
