// =============================================================================
//  Global color styles
// =============================================================================

/* Themes
// -> use the helper class to apply a theme to a module
// -------------------------------------------------------------------------- */

body, .c-theme-default {
    @include theme('default');
}

// create utility classes for each color theme from the $themes map
// e.g. ".c-theme-reverse" and ".c-theme-wash"
@each $theme, $colors in $themes {
    @if $theme != "default" {
        .c-theme-#{$theme} { @include theme('#{$theme}'); }
    }
}


/* Helper classes
// -> use on individual elements to apply special color treatment
// -------------------------------------------------------------------------- */

.c-text-primary { @include color('text' 'primary', $important: true); }
.c-text-secondary { @include color('text' 'secondary', $important: true); }
.c-text-tertiary { @include color('text' 'tertiary', $important: true); }

.c-highlight { @include color('highlight', $important: true); }
.c-highlight-bg { @include color('highlight', 'background-color'); }

.c-accent { @include color('accent', $important: true); }
.c-accent-bg { @include color('accent', 'background-color'); }

.c-well { @include color('well', 'background-color'); }

.c-bg { @include color('bg'); }

// kill background colors in print
// -> note all elements are set to color: black in base/_print.scss
@media print {
    [class^="c-"] { background-color: transparent !important; }
}
