// ==========================================================================
// Global positioning utilities
// -> place an element relative to its parent
// ==========================================================================

@import "../config/breakpoints";

.display-inline {
  display: inline;
}

@include breakpointify(".display-inline_block", true, $sizes: "xsmall") {
  display: inline-block;
}

.display-block {
  display: block;
}

@include breakpointify(".display-flex", true) {
  // @supports (display: flex) {
    display: flex !important;
  // }
}

.flex-fill {
  flex: 1;
}

// center a block element
.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}
.float-left {
  float: left;
}

// make a panel rise to the top of a layout
// -> useful if it contains, for instance, stuff like a jump nav that needs to overlay elements below
.z-top {
  z-index: z('top') !important;
}
