// =============================================================================
// Global spacing
// -> used to keep whitespace in the layout consistent
// =============================================================================

@import "../config/spacing";

// Margin & padding utils
// -----------------------------------------------------------------------------

@each $prop in (padding, margin) {
  .#{$prop} {
    #{$prop}: space();
  }
  .no-#{$prop} {
    #{$prop}: 0 !important;
  }

  .#{$prop}-x {
    #{$prop}-left: space();
    #{$prop}-right: space();
  }

  .#{$prop}-y {
    #{$prop}-top: space();
    #{$prop}-bottom: space();
  }

  @each $name, $length in $spacing {
    @if $name != 'default' {
      .#{$prop}-#{$name} {
        #{$prop}: space($name) !important;
      }

      .#{$prop}-x-#{$name} {
        #{$prop}-left: space($name) !important;
        #{$prop}-right: space($name) !important;
      }

      .#{$prop}-y-#{$name} {
        #{$prop}-top: space($name) !important;
        #{$prop}-bottom: space($name) !important;
      }
    }
  }

  @each $side in [left, right, top, bottom] {
    .#{$prop}-#{$side} {
      #{$prop}-#{$side}: space() !important;
    }
    .no-#{$prop}-#{$side} {
      #{$prop}-#{$side}: 0 !important;
    }

    @each $name, $length in $spacing {
      @if $name != 'default' {
        .#{$prop}-#{$side}-#{$name} {
          #{$prop}-#{$side}: space($name) !important;
        }
      }
    }
  }
}

// Outside gutters
// -> opinionated class to set consistent, responsive outside padding on full-width containers
.padding-x-outside {
  padding-left: space(space-outside());
  padding-right: space(space-outside());

  @each $screen, $width in $spacing-outside {
    @if $screen != 'default' {
      @include media('>#{$screen}') {
        padding-left: space($width);
        padding-right: space($width);
      }
    }
  }
}

// Split gutters
// -----------------------------------------------------------------------------

// add uniform gutters to a group of elements
.gutter-wrapper {
  padding: space($split: true);
  margin: -(space());

  .gutter {
    padding: space($split: true);
  }
}

@each $name, $size in $spacing {
  @if $name != 'default' {
    .gutter-wrapper.gutter-#{$name} {
      padding: space($name, $split: true);
      margin: -(space($name));

      .gutter {
        padding: space($name, $split: true);
      }
    }
  }
}
