// Visibility
// -> hide and show things in various ways
@import '../config/visibility';
@import '../config/breakpoints';

// hide but keep it accessible
.is-visually-hidden {
  @include visually_hidden;

  &.focusable {
    @include visually_hidden(true);
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

// completely hide
.hide { display: none !important; }

// hide or show if javascript is available
.hide\@js {
  .js & {
    display: none;
  }
}

.show\@js {
  .no-js & {
    display: none;
  }
}

// screen-size helper classes
// -> hide content until screen reaches specified breakpoint size
// usage: <span class="show@small">
@each $name, $size in $breakpoints {
  .show\@#{$name} {
    @include media("<#{$size}") { display: none !important; }
  }

  .hide\@#{$name} {
    @include media(">#{$size}") { display: none !important; }
  }
}
