---
// assets
import '@shared/styles/tokens/borders.css';
import '@shared/styles/tokens/spacing.css';

// helpers
import { format } from 'date-fns';

// components
import Dot from '@shared/components/elements/Dot.astro';
import Heading from '@shared/components/blocks/Heading.astro';

// types
import type { DateField } from '@prismicio/types';

export interface Props {
	href: string;
	label: string;
	current?: boolean;
	date: DateField;
}

const { label, href, date, current = false } = Astro.props as Props;
---

<li class="thread-nav-item">
	<Dot
		class="icon"
		el="a"
		highlight={current ? 'on' : 'hover'}
		{href}
	/>
	<Heading
		class="date"
		level={6}
		subheading
	>
		{format(new Date(date), 'yyyy.MM.dd')}
	</Heading>
	<Heading
		class="title | type-scale-epsilon"
		level={4}
	>
		<a
			aria-current={current && 'page'}
			class="type-link-undecorated"
			{href}
		>
			{label}
		</a>
	</Heading>
</li>

<style>
	.thread-nav-item {
		--dot-size: 1.6rem;
		display: grid;
		column-gap: var(--space-xnarrow);
		grid-template-areas:
			'.		date'
			'icon	title';
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
		position: relative;
	}

	.thread-nav-item + .thread-nav-item :global(.date) {
		padding-block-start: var(--space-medium);
	}

	.thread-nav-item + .thread-nav-item::before {
		border-inline-start: var(--border-default);
		bottom: calc(var(--dot-size) / 2);
		content: '';
		display: block;
		grid-area: gutter;
		justify-self: center;
		left: calc((var(--dot-size) / 2) + var(--border-default-width));
		position: absolute;
		top: calc((var(--dot-size) / 2) * -1);
		z-index: 0;
	}

	.thread-nav-item :global(.icon) {
		--color: var(--color-highlight);
		--border-color: var(--color-primary);
		--background-color: var(--color-well);
		--size: var(--dot-size);

		align-self: center;
		grid-area: icon;
		margin-block-start: -0.2em; /* scoot up just a little */
		z-index: 1;
	}

	.thread-nav-item :global(.icon:hover) {
		--border-color: var(--color-primary);
	}

	.thread-nav-item :global(.date) {
		grid-area: date;
		padding-block-end: var(--space-xxnarrow);
	}

	.thread-nav-item :global(.title) {
		grid-area: title;
	}

	.thread-nav-item [aria-current='page'] {
		text-decoration: none;
	}
</style>
