@import '@styles/tokens/color.css';

body {
	/* --- default corner radius */
	--border-radius: 0.4em;

	/* --- standard border styles */
	--border-default-width: 1px;

	--border-default: var(--border-default-width) dashed var(--color-border);
	--border-solid: var(--border-default-width) solid var(--color-border);
}
