body {
	/* --- default corner radii */
	--border-radius-sharp: 0.24em;
	--border-radius: 0.4em;
	--border-radius-round: 0.8em;

	/* --- standard border styles */
	--border-default-width: 1px;

	--border-default: var(--border-default-width) dashed var(--color-border);
	--border-solid: var(--border-default-width) solid var(--color-border);
}
