:root {
	/* --- primary --- */
	--color-primary-h: 0deg;
	--color-primary-s: 0%;
	--color-primary-l: 27%;

	--color-primary: hsl(
		var(--color-primary-h) var(--color-primary-s) var(--color-primary-l)
	);

	/* --- secondary --- */
	--color-secondary-h: 223deg;
	--color-secondary-s: 7%;
	--color-secondary-l: 65%;

	--color-secondary: hsl(
		var(--color-secondary-h) var(--color-secondary-s) var(--color-secondary-l)
	);

	/* --- highlight --- */
	--color-highlight-h: 223deg;
	--color-highlight-s: 75%;
	--color-highlight-l: 70%;

	--color-highlight: hsl(
		var(--color-highlight-h) var(--color-highlight-s) var(--color-highlight-l)
	);

	/* --- background --- */
	--color-bg-h: 0;
	--color-bg-s: 0%;
	--color-bg-l: 100%;

	--color-bg: hsl(var(--color-bg-h) var(--color-bg-s) var(--color-bg-l));

	/* --- island --- */
	--color-island-h: 0;
	--color-island-s: 0%;
	--color-island-l: 100%;

	--color-island: hsl(
		var(--color-island-h) var(--color-island-s) var(--color-island-l)
	);

	/* --- well --- */
	--color-well-h: 223deg;
	--color-well-s: 7%;
	--color-well-l: 90%;

	--color-well: hsl(
		var(--color-well-h) var(--color-well-s) var(--color-well-l)
	);

	/* --- borders --- */
	--color-border-h: 223deg;
	--color-border-s: 7%;
	--color-border-l: 78%;

	--color-border: hsl(
		var(--color-border-h) var(--color-border-s) var(--color-border-l)
	);

	/* --- shadows --- */
	--color-shadow-h: 223deg;
	--color-shadow-s: 7%;
	--color-shadow-l: 78%;
	--color-shadow-a: 0.6;

	--color-shadow: hsl(
		var(--color-shadow-h) var(--color-shadow-s) var(--color-shadow-l) / var(--color-shadow-a)
	);
}

/* --- dark theme --- */
/* to be implemented later
@media screen and (prefers-color-scheme: dark) {
	body {
		--color-primary-h: 0;
		--color-primary-s: 0%;
		--color-primary-l: 100%;

		--color-primary: hsl(
			var(--color-primary-h)
			var(--color-primary-s)
			var(--color-primary-l)
		);

		--color-secondary-h: 223;
		--color-secondary-s: 7%;
		--color-secondary-l: 40%;

		--color-secondary: hsl(
			var(--color-secondary-h)
			var(--color-secondary-s)
			var(--color-secondary-l)
		);

		--color-highlight-h: 223;
		--color-highlight-s: 75%;
		--color-highlight-l: 70%;

		--color-highlight: hsl(
			var(--color-highlight-h)
			var(--color-highlight-s)
			var(--color-highlight-l)
		);

		--color-bg-h: 0;
		--color-bg-s: 0%;
		--color-bg-l: 27%;

		--color-bg: hsl(
			var(--color-bg-h)
			var(--color-bg-s)
			var(--color-bg-l)
		);


		--color-island-h: 0;
		--color-island-s: 0%;
		--color-island-l: 35%;

		--color-island: hsl(
			var(--color-island-h)
			var(--color-island-s)
			var(--color-island-l)
		);

		--color-well-h: 0;
		--color-well-s: 0%;
		--color-well-l: 17%;

		--color-well: hsl(
			var(--color-well-h)
			var(--color-well-s)
			var(--color-well-l)
		);

		--color-border-h: 0;
		--color-border-s: 0%;
		--color-border-l: 20%;

		--color-border: hsl(
			var(--color-border-h)
			var(--color-border-s)
			var(--color-border-l)
		);

		--color-shadow-h: 0;
		--color-shadow-s: 0%;
		--color-shadow-l: 0%;
		--color-shadow-a: 0.4;

		--color-shadow: hsl(
			var(--color-shadow-h)
			var(--color-shadow-s)
			var(--color-shadow-l)
			/ var(--color-shadow-a)
		);
	}
}
*/
