:root {
	--color-key-hue: 263.38;
	--color-brand-white: oklch(97.59% 0.003 var(--color-key-hue));

	/* --- default theme --- */
	--color-primary: oklch(36% 0.007 var(--color-key-hue));
	--color-secondary: oklch(47% 0.071 var(--color-key-hue));
	--color-highlight: oklch(70% 0.12 var(--color-key-hue));
	--color-island: oklch(100% 0 var(--color-key-hue));
	--color-surface: oklch(97% 0.003 var(--color-key-hue));
	--color-well: oklch(93% 0.007 var(--color-key-hue));
	--color-border: oklch(82% 0.02 var(--color-key-hue));
	--color-shadow: oklch(93% 0.007 var(--color-key-hue) / 0.6);
}
