:root {
	/* --- type scale --- */
	/* --type-scale-alpha: clamp(2.07rem, calc(1rem + 5vw), 3.58rem);
	--type-scale-beta: clamp(1.73rem, calc(1rem + 3vw), 2.99rem);
	--type-scale-gamma: clamp(1.44rem, calc(1rem + 2vw), 2.07rem);
	--type-scale-delta: clamp(1.2rem, calc(1rem + 1vw), 1.44rem);
	--type-scale-epsilon: 1.2rem;
	--type-scale-zeta: 1rem; */

	--type-scale-zeta: clamp(0.83rem, calc(0.77rem + 0.33vw), 1.00rem);
	--type-scale-epsilon: clamp(1.00rem, calc(0.90rem + 0.49vw), 1.25rem);
	--type-scale-delta: clamp(1.20rem, calc(1.06rem + 0.71vw), 1.56rem);
	--type-scale-gamma: clamp(1.44rem, calc(1.24rem + 1.00vw), 1.95rem);
	--type-scale-beta: clamp(1.73rem, calc(1.45rem + 1.39vw), 2.44rem);
	/* --type-scale-alpha: clamp(2.07rem, calc(1.69rem + 1.91vw), 3.05rem); */
	--type-scale-alpha: clamp(2.49rem, calc(1.97rem + 2.59vw), 3.82rem);

	/* --- fonts --- */
	--type-font-display: "Publico Headline", "Publico", "Georgia", "Times",
		"Times New Roman", serif;
	--type-font-body: "Publico Text", "Publico", "Georgia", "Times",
		"Times New Roman", serif;
	--type-font-accent: "System", system-ui, -apple-system, BlinkMacSystemFont,
		"Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue",
		"Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell",
		"Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic",
		"Liberation Sans", sans-serif;

	/* --- leading --- */
	--type-leading-xtight: 1.2;
	--type-leading-tight: 1.3;
	--type-leading-default: 1.8;
}
