/* ==========================================================================
// Header styles
// ========================================================================== */

@import "../core/*";

$header-h: 50px;

/* Base
// ---------------------------------------------------------------------------*/

.header, [role="banner"] {

}

/* Modifiers
// ---------------------------------------------------------------------------*/

.header, [role="banner"] {
    &.global {
        height: $header-h;
        text-align: center;
    }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.header {

}
