/* =============================================================================
// Post styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../atoms/text";
@import "../organisms/gallery";

/* Base
// -------------------------------------------------------------------------- */

.post {

}

/* Submodules
// -------------------------------------------------------------------------- */

.post-header {
    max-width: $layout-w--narrow;
    margin: 0 auto;
}

.post-meta {
    @include border(bottom);
}

.post-title {
    @extend %alpha;
}

.post-subtitle {
    @extend %cappa;
    @extend %font-accent;
}

.post-date {
    @extend %font-accent--bold;
    @include font-scale(2);
    color: theme('highlight');
}

.post-content {
    $margin: 1em;

    * + * { @include rem(margin-top, fs(5)); }

    p {
        max-width: $layout-w--narrow;
        margin-left: auto;
        margin-right: auto;

        & + p {  margin-top: 1em; }

        &:first-child, &:first-of-type {
            @extend .lead;
        }
    }

    > ul { @extend .gallery; }
    li { @extend .gallery-item; }
}

.post-tags {
    @include inline-list();

    & > li, & > dd {
      &:after {
        content: ",";
      }
      &:last-child:after {
        content: "";
      }
    }
}

    .post-tag {
        @extend %font-accent;
        @include font-scale(1);
        display: inline-block;
        width: auto;
        text-transform: uppercase;
        color: theme(text tertiary);

        a {
            font-family: inherit;
            color: inherit;
        }
    }
