/* =============================================================================
// Post styles
// ========================================================================== */

@import "../core/*";
@import "../atoms/heading";
@import "../atoms/text";
@import "../organisms/gallery";

/* Base
// -------------------------------------------------------------------------- */

.post { display: block; }

/* Submodules
// -------------------------------------------------------------------------- */

.post-header {
    @extend .l-wrapper.narrow;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post-content {
    $margin: 1em;
    padding-bottom: $gutter-outside;

    * + * { margin-top: 1em; }

    p {
        max-width: $layout-w--narrow;
        margin-left: auto;
        margin-right: auto;

        & + p {  margin-top: 1em; }

        &:first-child, &:first-of-type { @extend .lead; }

        &:last-child { margin-bottom: 0; }
    }

    > ul {
        @extend .gallery;
        @include rem(margin-top, fs(4));
    }
    li { @extend .gallery-item; }
}

.post-meta {
    @include border(top bottom);
    display: block;
    padding: 1em 0;
    margin: 1em 0;

    @include respond-to('large') {
        $w: 200px;
        @include rem(width, $w);
        @include rem(margin-right, -($w + $gutter));
        float: right;
        border-bottom: none;
    }
}

.post-feature_image {
    margin: 1em 0;
    width: 100%;
}
