/* =============================================================================
// Post styles
// ========================================================================== */

@import "../core/*";
@import "../molecules/headline";

/* Base
// -------------------------------------------------------------------------- */

.post {

}

/* Submodules
// -------------------------------------------------------------------------- */

.post-headline {
    @extend .headline;
    max-width: $layout-w--narrow;
    margin: 0 auto;
}

.post-date {
    @extend %font-body--italic;
    @include font-scale(2);
    color: theme('highlight');
}

.post-body {
    $margin: 1em;

    * + * { @include rem(margin-top, fs(5)); }

    p {
        max-width: $layout-w--narrow;
        margin-left: auto;
        margin-right: auto;

        & + p {  margin-top: 1em; }
    }
}

.post-tags {
    @include inline-list();

    & > li {
      &:after {
        content: ",";
      }
      &:last-child:after {
        content: "";
      }
    }
}

    .post-tag {
        @extend %font-accent--bold;
        @include font-scale(1);
        display: inline-block;
        width: auto;
        text-transform: uppercase;
    }
