---
/**
 * Inline SVG for the 'Jay Perry Design' logo
 *
 * @param {ColorRoles} [primaryColor='primary'] - color for the lettering
 * @param {ColorRoles} [secondaryColor='secondary'] - color for the box
 */

// --- types ---
import type { ColorRoles } from '@shared/utilities/types';

// --- props ---
const {
	primaryColor = 'primary',
	secondaryColor = 'secondary',
	...attrs
} = Astro.props;
---

<svg
	height="86"
	viewBox={`0 0 301 43`}
	width="602"
	xmlns="http://www.w3.org/2000/svg"
	{...attrs}
>
	<title>Jay Perry</title>

	<!-- Jay Perry -->
	<path
		d="M4.29 39.416c-1.104 0-3.142-.213-4.076-.467-.255-.043-.213-4.628 0-4.628h.382c1.019.806 2.123 1.656 3.312 2.165.636.297 1.443.51 2.08.51 1.826 0 2.505-.977 2.505-3.397V2.349l-2.887-.382c-.085 0 0-1.316.085-1.316h12.78c.085 0 0 1.316-.085 1.316-.51.085-2.165.297-2.76.425-.085 1.656-.127 4.713-.127 6.538v19.446c0 8.45-6.157 11.04-11.209 11.04m18.936-6.369c-3.609 0-5.944-1.996-5.944-5.605 0-3.694 2.463-5.095 5.392-5.944 1.274-.424 2.675-.849 4.416-1.613 1.401-.595 2.42-1.104 2.42-2.633v-1.571c0-3.227-1.189-4.585-4.161-4.585-2.505 0-4.628 1.528-6.241 3.524h-.425c-.17 0-.297-4.119 0-4.246C20.509 9.61 23.354 9.1 26.411 9.1c5.477 0 9.723 1.274 9.723 6.709v12.61c0 1.528.509 1.868 1.656 1.868.467 0 .849-.085 1.189-.212.084-.043.084 1.104 0 1.189-.807 1.019-2.336 1.783-4.501 1.783-2.42 0-3.991-1.104-4.501-2.887-.085-.17-.127-.552-.17-.722h-.127c-.892 1.698-3.142 3.609-6.454 3.609m3.312-3.1c1.614 0 2.548-1.104 2.972-1.868v-7.642c-.212.254-.594.509-1.231.806-.595.255-1.529.552-2.038.807-1.189.51-2.378 1.274-2.378 4.246 0 2.378.977 3.651 2.675 3.651m14.351 10.106c-.934 0-2.335-.213-2.717-.383-.297-.127-.297-3.524-.043-3.524h.34c.934.934 1.868 1.656 3.269 1.656 1.614 0 2.336-.467 3.227-1.443.68-.807 1.104-1.699 1.486-2.803l-8.407-22.46-1.486-.34c-.127-.042-.127-1.146 0-1.146h11.379c.128 0 .085 1.104-.085 1.146l-2.42.34c.637 1.953.934 3.014 1.741 5.18.425 1.273 2.335 7.048 2.972 8.789h.085c.764-1.953 2.208-6.284 2.845-8.068.934-2.887 1.359-4.161 1.783-5.816-.934-.213-1.571-.298-2.293-.425-.127-.042-.085-1.146.043-1.146h5.902c.127 0 .042 1.104-.085 1.146l-1.486.467c-.552 1.571-1.062 3.1-2.208 6.114l-5.18 13.714c-1.104 2.803-2.166 4.926-3.185 6.284-1.443 1.911-3.354 2.718-5.477 2.718m22.432-7.558c-.084 0 0-1.316.085-1.316a45 45 0 0 0 2.675-.425c.085-1.656.128-4.755.128-6.581V2.349l-2.845-.382c-.085 0 0-1.316.085-1.316h10.317c9.978 0 14.054 3.566 14.054 9.171 0 6.878-7.77 9.511-12.27 9.638-.128 0-.213-1.401-.043-1.444 2.42-.424 5.435-1.783 5.435-7.6 0-5.137-1.231-8.109-7.643-8.109-.042 1.91-.085 4.628-.085 6.623v21.824l3.142.425c.085 0 .043 1.316-.085 1.316zm43.783-4.925c-.807 1.656-3.482 5.477-9.596 5.477-7.388 0-11.209-4.713-11.209-11.464 0-7.812 4.882-12.483 11.124-12.483 6.836 0 10.148 4.076 9.723 10.785H92.922c.17 6.284 3.312 8.831 7.346 8.831 3.481 0 5.477-1.444 6.751-2.547.212-.17.212 1.103.085 1.401m-9.766-16.856c-2.378 0-4.161 2.08-4.373 7.515l7.6-.51c0-5.052-1.019-7.005-3.227-7.005m10.148 21.781c-.128 0-.043-1.189.042-1.189l2.123-.34c.042-1.358.042-3.311.042-5.095v-8.152c0-1.825-.042-3.439-.084-5.307a27 27 0 0 0-2.166-.595c-.042 0-.085-1.019.043-1.061 3.906-.807 5.137-1.061 8.364-1.783.085-.043.382.212.382.297l-.085 5.01h.17c1.104-2.717 3.439-5.265 5.987-5.265.976 0 1.528.128 2.038.467.127.085-.043 5.435-.17 5.435h-.34c-.509-.255-1.443-.679-2.675-.679-1.868 0-3.524.552-4.797 1.783v14.945c.764.128 1.74.213 2.59.34.127 0 0 1.189-.043 1.189zm17.578 0c-.128 0-.043-1.189.042-1.189l2.123-.34c.042-1.358.042-3.311.042-5.095v-8.152c0-1.825-.042-3.439-.084-5.307a27 27 0 0 0-2.166-.595c-.042 0-.085-1.019.043-1.061 3.906-.807 5.137-1.061 8.364-1.783.085-.043.382.212.382.297l-.085 5.01h.17c1.104-2.717 3.439-5.265 5.987-5.265.976 0 1.528.128 2.038.467.127.085-.043 5.435-.17 5.435h-.34c-.509-.255-1.443-.679-2.675-.679-1.868 0-3.524.552-4.798 1.783v14.945c.765.128 1.741.213 2.59.34.128 0 0 1.189-.042 1.189zm22.036 7.558c-.934 0-2.336-.213-2.718-.383-.297-.127-.297-3.524-.042-3.524h.34c.934.934 1.868 1.656 3.269 1.656 1.613 0 2.335-.467 3.227-1.443.679-.807 1.104-1.699 1.486-2.803l-8.407-22.46-1.486-.34c-.127-.042-.127-1.146 0-1.146h11.379c.127 0 .085 1.104-.085 1.146l-2.42.34c.637 1.953.934 3.014 1.741 5.18.424 1.273 2.335 7.048 2.972 8.789h.085c.764-1.953 2.208-6.284 2.844-8.068.935-2.887 1.359-4.161 1.784-5.816-.934-.213-1.571-.298-2.293-.425-.127-.042-.085-1.146.042-1.146h5.902c.128 0 .043 1.104-.085 1.146l-1.486.467c-.552 1.571-1.061 3.1-2.208 6.114l-5.18 13.714c-1.104 2.803-2.165 4.926-3.184 6.284-1.444 1.911-3.354 2.718-5.477 2.718"
		style={`fill: var(--color-${primaryColor}, currentColor);`}
	></path>
	<path
		d="M170.29 32.495c-.127 0-.043-1.312.042-1.312.889-.127 1.862-.254 2.709-.424.085-1.65.085-4.74.085-6.56V2.442l-2.836-.381c-.085 0 0-1.313.084-1.313h12.741c9.312 0 17.016 4.36 17.016 15.239 0 10.413-6.815 16.508-17.016 16.508zm9.904-1.736h2.117c7.704 0 10.328-4.952 10.328-14.307 0-10.582-3.048-13.883-10.243-13.968-.212-.042-1.821-.042-2.075-.042-.042 1.904-.127 4.783-.127 6.561zm41.821-3.174c-.804 1.651-3.471 5.46-9.566 5.46-7.365 0-11.175-4.698-11.175-11.429 0-7.788 4.868-12.444 11.09-12.444 6.815 0 10.117 4.063 9.693 10.751h-14.18c.17 6.265 3.302 8.805 7.323 8.805 3.471 0 5.461-1.439 6.73-2.54.212-.169.212 1.101.085 1.397M212.28 10.78c-2.371 0-4.149 2.074-4.36 7.493l7.577-.508c0-5.038-1.016-6.985-3.217-6.985m18.497 22.265c-2.963 0-5.333-.55-7.153-1.481-.254-.127-.085-4.995.042-4.995h.55c1.143 1.566 2.963 4.783 6.476 4.783 2.413 0 3.725-.762 3.725-2.921 0-2.116-1.566-2.963-5.545-4.74-2.582-1.143-5.333-3.006-5.333-7.069 0-5.037 4.444-7.45 8.974-7.45 2.624 0 4.783.381 6.01 1.1.212.127.127 4.657 0 4.657h-.465c-1.27-2.286-3.048-4.022-5.757-4.022-1.947 0-3.725 1.016-3.725 2.921 0 2.243 1.651 2.794 4.572 4.191 3.894 1.82 6.73 3.64 6.73 7.365 0 4.952-3.852 7.661-9.101 7.661m9.778-.55c-.127 0-.042-1.185.042-1.185l2.117-.339c.042-1.354.042-3.302.042-5.079v-8.127c0-1.821-.042-3.429-.085-5.291-.804-.297-1.269-.381-2.158-.593-.043 0-.085-1.016.042-1.058 3.386-.72 6.603-1.312 8.508-1.778.127-.042.381.127.381.296 0 1.016-.085 3.386-.085 5.249v16.423l2.159.297c.127 0 0 1.185-.042 1.185zm5.46-25.186c-1.989 0-3.64-1.481-3.64-3.471s1.651-3.47 3.64-3.47c2.032 0 3.683 1.481 3.683 3.47s-1.651 3.471-3.683 3.471m28.403 27.133c0 4.529-4.529 8.085-12.91 8.085-7.492 0-11.344-2.286-11.344-5.503 0-1.82.804-2.836 1.439-3.471.296-.296 3.936.254 3.767.508-.508.635-1.143 1.482-1.143 2.963 0 2.37 2.498 3.852 7.238 3.852 5.376 0 9.101-1.651 9.101-4.064 0-1.777-.677-2.158-3.259-2.285-1.693-.127-4.318-.17-7.027-.339-3.682-.212-5.503-1.566-5.503-4.444 0-2.159 1.228-3.471 2.921-4.233v-.254c-3.175-1.228-5.714-3.894-5.714-7.789 0-5.418 5.037-8.338 9.651-8.338 2.412 0 4.74.719 6.476 2.074h.212l5.756-1.99c.254-.084.297 4.36 0 4.318l-4.275-.847c.889 1.27 1.439 3.048 1.439 4.91 0 5.376-4.868 8.381-9.608 8.381-.847 0-1.651-.084-2.498-.296-.338.339-.508.72-.508 1.228 0 .973.635 1.523 2.836 1.65 2.921.17 5.207.254 6.9.381 3.386.17 6.053 1.101 6.053 5.503m-12.783-10.201c2.201 0 3.471-2.117 3.428-6.646 0-4.825-1.227-6.772-3.428-6.772-2.244 0-3.429 2.031-3.429 6.645 0 4.783 1.185 6.773 3.429 6.773m13.037 8.254c-.127 0-.042-1.185.042-1.185l2.117-.339c.042-1.354.084-3.302.084-5.079v-8.127c0-1.821-.084-3.429-.127-5.291-.804-.297-1.27-.381-2.158-.593-.043 0-.085-1.016.042-1.058 3.894-.805 5.122-1.059 8.339-1.778.084-.042.381.212.381.296l-.043 3.556h.127c1.82-2.117 4.953-3.725 8.085-3.725 3.979 0 6.265 1.481 6.265 6.73v15.027l2.158.381c.127 0 0 1.185-.084 1.185h-10.921c-.085 0 0-1.185.085-1.185l2.074-.339c.084-1.735.084-3.302.084-5.079v-9.228c0-2.751-.889-3.894-3.217-3.894-1.904 0-3.471.719-4.486 1.566v16.677l2.158.297c.085 0 0 1.185-.084 1.185z"
		style={`fill: var(--color-${secondaryColor});`}
	></path>
</svg>

<style>
	svg {
		height: auto;
		width: auto;
		max-width: var(--max-width, 100%);
	}
</style>
