.color-fg-primary {
	color: hsl(0, 0%, 27%);
	color: var(--color-primary);
}

.color-bg-primary {
	background-color: hsl(0, 0%, 27%);
	background-color: var(--color-primary);
}

.color-fg-secondary {
	color: hsl(223, 7%, 65%);
	color: var(--color-secondary);
}

.color-bg-secondary {
	background-color: hsl(223, 7%, 65%);
	background-color: var(--color-secondary);
}

.color-fg-highlight {
	color: hsl(223, 75%, 70%);
	color: var(--color-highlight);
}

.color-bg-highlight {
	background-color: hsl(223, 75%, 70%);
	background-color: var(--color-highlight);
}

.color-fg-bg {
	color: hsl(0, 0%, 100%);
	color: var(--color-bg);
}

.color-bg-bg {
	background-color: hsl(0, 0%, 100%);
	background-color: var(--color-bg);
}

.color-fg-island {
	color: hsl(0, 0%, 100%);
	color: var(--color-island);
}

.color-bg-island {
	background-color: hsl(0, 0%, 100%);
	background-color: var(--color-island);
}

.color-fg-well {
	color: hsl(223, 7%, 90%);
	color: var(--color-well);
}

.color-bg-well {
	background-color: hsl(223, 7%, 90%);
	background-color: var(--color-well);
}

.color-fg-border {
	color: hsl(223, 7%, 78%);
	color: var(--color-border);
}

.color-bg-border {
	background-color: hsl(223, 7%, 78%);
	background-color: var(--color-border);
}
