.content-width-narrow {
	max-width: 30rem;
	max-width: var(--content-width-narrow);
}

.content-width {
	max-width: 40rem;
	max-width: var(--content-width-default);
}

.content-width-wide {
	max-width: 64rem;
	max-width: var(--content-width-wide);
}

.content-width-xwide {
	max-width: 75rem;
	max-width: var(--content-width-xwide);
}

.content-width-xxwide {
	max-width: 112rem;
	max-width: var(--content-width-xxwide);
}
