/* padding */

/* all sides */
.padding {
	padding: 1.73rem;
}

.no-padding {
	padding: 0 !important;
}

/* margin */

/* all sides */
.margin {
	margin: 1.73rem;
}

.no-margin {
	margin: 0 !important;
}

/* padding */

.padding-x {
	padding-left: 1.73rem;
	padding-right: 1.73rem;
}

.padding-y {
	padding-top: 1.73rem;
	padding-bottom: 1.73rem;
}

.padding-x-flow > * + * {
	padding-left: 1.73rem;
}

.padding-y-flow > * + * {
	padding-top: 1.73rem;
}

/* margin */

.margin-x {
	margin-left: 1.73rem;
	margin-right: 1.73rem;
}

.margin-y {
	margin-top: 1.73rem;
	margin-bottom: 1.73rem;
}

.margin-x-flow > * + * {
	margin-left: 1.73rem;
}

.margin-y-flow > * + * {
	margin-top: 1.73rem;
}

/* padding */

.padding-xxnarrow {
	padding: 0.23rem;
}

.padding-x-xxnarrow {
	padding-left: 0.23rem;
	padding-right: 0.23rem;
}

.padding-y-xxnarrow {
	padding-top: 0.23rem;
	padding-bottom: 0.23rem;
}

.padding-x-flow-xxnarrow > * + * {
	padding-left: 0.23rem;
}

.padding-y-flow-xxnarrow > * + * {
	padding-top: 0.23rem;
}

/* padding */

.padding-xnarrow {
	padding: 0.69rem;
}

.padding-x-xnarrow {
	padding-left: 0.69rem;
	padding-right: 0.69rem;
}

.padding-y-xnarrow {
	padding-top: 0.69rem;
	padding-bottom: 0.69rem;
}

.padding-x-flow-xnarrow > * + * {
	padding-left: 0.69rem;
}

.padding-y-flow-xnarrow > * + * {
	padding-top: 0.69rem;
}

/* padding */

.padding-narrow {
	padding: 1rem;
}

.padding-x-narrow {
	padding-left: 1rem;
	padding-right: 1rem;
}

.padding-y-narrow {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.padding-x-flow-narrow > * + * {
	padding-left: 1rem;
}

.padding-y-flow-narrow > * + * {
	padding-top: 1rem;
}

/* padding */

.padding-medium {
	padding: 1.73rem;
}

.padding-x-medium {
	padding-left: 1.73rem;
	padding-right: 1.73rem;
}

.padding-y-medium {
	padding-top: 1.73rem;
	padding-bottom: 1.73rem;
}

.padding-x-flow-medium > * + * {
	padding-left: 1.73rem;
}

.padding-y-flow-medium > * + * {
	padding-top: 1.73rem;
}

/* padding */

.padding-wide {
	padding: 2.99rem;
}

.padding-x-wide {
	padding-left: 2.99rem;
	padding-right: 2.99rem;
}

.padding-y-wide {
	padding-top: 2.99rem;
	padding-bottom: 2.99rem;
}

.padding-x-flow-wide > * + * {
	padding-left: 2.99rem;
}

.padding-y-flow-wide > * + * {
	padding-top: 2.99rem;
}

/* padding */

.padding-xwide {
	padding: 6.19rem;
}

.padding-x-xwide {
	padding-left: 6.19rem;
	padding-right: 6.19rem;
}

.padding-y-xwide {
	padding-top: 6.19rem;
	padding-bottom: 6.19rem;
}

.padding-x-flow-xwide > * + * {
	padding-left: 6.19rem;
}

.padding-y-flow-xwide > * + * {
	padding-top: 6.19rem;
}

/* margin */

.margin-xxnarrow {
	margin: 0.23rem;
}

.margin-x-xxnarrow {
	margin-left: 0.23rem;
	margin-right: 0.23rem;
}

.margin-y-xxnarrow {
	margin-top: 0.23rem;
	margin-bottom: 0.23rem;
}

.margin-x-flow-xxnarrow > * + * {
	margin-left: 0.23rem;
}

.margin-y-flow-xxnarrow > * + * {
	margin-top: 0.23rem;
}

/* margin */

.margin-xnarrow {
	margin: 0.69rem;
}

.margin-x-xnarrow {
	margin-left: 0.69rem;
	margin-right: 0.69rem;
}

.margin-y-xnarrow {
	margin-top: 0.69rem;
	margin-bottom: 0.69rem;
}

.margin-x-flow-xnarrow > * + * {
	margin-left: 0.69rem;
}

.margin-y-flow-xnarrow > * + * {
	margin-top: 0.69rem;
}

/* margin */

.margin-narrow {
	margin: 1rem;
}

.margin-x-narrow {
	margin-left: 1rem;
	margin-right: 1rem;
}

.margin-y-narrow {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.margin-x-flow-narrow > * + * {
	margin-left: 1rem;
}

.margin-y-flow-narrow > * + * {
	margin-top: 1rem;
}

/* margin */

.margin-medium {
	margin: 1.73rem;
}

.margin-x-medium {
	margin-left: 1.73rem;
	margin-right: 1.73rem;
}

.margin-y-medium {
	margin-top: 1.73rem;
	margin-bottom: 1.73rem;
}

.margin-x-flow-medium > * + * {
	margin-left: 1.73rem;
}

.margin-y-flow-medium > * + * {
	margin-top: 1.73rem;
}

/* margin */

.margin-wide {
	margin: 2.99rem;
}

.margin-x-wide {
	margin-left: 2.99rem;
	margin-right: 2.99rem;
}

.margin-y-wide {
	margin-top: 2.99rem;
	margin-bottom: 2.99rem;
}

.margin-x-flow-wide > * + * {
	margin-left: 2.99rem;
}

.margin-y-flow-wide > * + * {
	margin-top: 2.99rem;
}

/* margin */

.margin-xwide {
	margin: 6.19rem;
}

.margin-x-xwide {
	margin-left: 6.19rem;
	margin-right: 6.19rem;
}

.margin-y-xwide {
	margin-top: 6.19rem;
	margin-bottom: 6.19rem;
}

.margin-x-flow-xwide > * + * {
	margin-left: 6.19rem;
}

.margin-y-flow-xwide > * + * {
	margin-top: 6.19rem;
}

/* padding */

.padding-left {
	padding-left: 1.73rem;
}

.no-padding-left {
	padding-left: 0 !important;
}

.padding-left-xxnarrow {
	padding-left: 0.23rem;
}

.padding-left-xnarrow {
	padding-left: 0.69rem;
}

.padding-left-narrow {
	padding-left: 1rem;
}

.padding-left-medium {
	padding-left: 1.73rem;
}

.padding-left-wide {
	padding-left: 2.99rem;
}

.padding-left-xwide {
	padding-left: 6.19rem;
}

/* padding */

.padding-right {
	padding-right: 1.73rem;
}

.no-padding-right {
	padding-right: 0 !important;
}

.padding-right-xxnarrow {
	padding-right: 0.23rem;
}

.padding-right-xnarrow {
	padding-right: 0.69rem;
}

.padding-right-narrow {
	padding-right: 1rem;
}

.padding-right-medium {
	padding-right: 1.73rem;
}

.padding-right-wide {
	padding-right: 2.99rem;
}

.padding-right-xwide {
	padding-right: 6.19rem;
}

/* padding */

.padding-top {
	padding-top: 1.73rem;
}

.no-padding-top {
	padding-top: 0 !important;
}

.padding-top-xxnarrow {
	padding-top: 0.23rem;
}

.padding-top-xnarrow {
	padding-top: 0.69rem;
}

.padding-top-narrow {
	padding-top: 1rem;
}

.padding-top-medium {
	padding-top: 1.73rem;
}

.padding-top-wide {
	padding-top: 2.99rem;
}

.padding-top-xwide {
	padding-top: 6.19rem;
}

/* padding */

.padding-bottom {
	padding-bottom: 1.73rem;
}

.no-padding-bottom {
	padding-bottom: 0 !important;
}

.padding-bottom-xxnarrow {
	padding-bottom: 0.23rem;
}

.padding-bottom-xnarrow {
	padding-bottom: 0.69rem;
}

.padding-bottom-narrow {
	padding-bottom: 1rem;
}

.padding-bottom-medium {
	padding-bottom: 1.73rem;
}

.padding-bottom-wide {
	padding-bottom: 2.99rem;
}

.padding-bottom-xwide {
	padding-bottom: 6.19rem;
}

/* margin */

.margin-left {
	margin-left: 1.73rem;
}

.no-margin-left {
	margin-left: 0 !important;
}

.margin-left-xxnarrow {
	margin-left: 0.23rem;
}

.margin-left-xnarrow {
	margin-left: 0.69rem;
}

.margin-left-narrow {
	margin-left: 1rem;
}

.margin-left-medium {
	margin-left: 1.73rem;
}

.margin-left-wide {
	margin-left: 2.99rem;
}

.margin-left-xwide {
	margin-left: 6.19rem;
}

/* margin */

.margin-right {
	margin-right: 1.73rem;
}

.no-margin-right {
	margin-right: 0 !important;
}

.margin-right-xxnarrow {
	margin-right: 0.23rem;
}

.margin-right-xnarrow {
	margin-right: 0.69rem;
}

.margin-right-narrow {
	margin-right: 1rem;
}

.margin-right-medium {
	margin-right: 1.73rem;
}

.margin-right-wide {
	margin-right: 2.99rem;
}

.margin-right-xwide {
	margin-right: 6.19rem;
}

/* margin */

.margin-top {
	margin-top: 1.73rem;
}

.no-margin-top {
	margin-top: 0 !important;
}

.margin-top-xxnarrow {
	margin-top: 0.23rem;
}

.margin-top-xnarrow {
	margin-top: 0.69rem;
}

.margin-top-narrow {
	margin-top: 1rem;
}

.margin-top-medium {
	margin-top: 1.73rem;
}

.margin-top-wide {
	margin-top: 2.99rem;
}

.margin-top-xwide {
	margin-top: 6.19rem;
}

/* margin */

.margin-bottom {
	margin-bottom: 1.73rem;
}

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.margin-bottom-xxnarrow {
	margin-bottom: 0.23rem;
}

.margin-bottom-xnarrow {
	margin-bottom: 0.69rem;
}

.margin-bottom-narrow {
	margin-bottom: 1rem;
}

.margin-bottom-medium {
	margin-bottom: 1.73rem;
}

.margin-bottom-wide {
	margin-bottom: 2.99rem;
}

.margin-bottom-xwide {
	margin-bottom: 6.19rem;
}

.padding-x-outside {
	padding-left: 1rem;
	padding-right: 1rem;
}

.margin-x-auto {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 42em) {
	.padding-x-outside {
		padding-left: 1.73rem;
		padding-right: 1.73rem;
	}
}

@media screen and (min-width: 62em) {
	.padding-x-outside {
		padding-left: 2.99rem;
		padding-right: 2.99rem;
	}
}

.gutter-wrapper {
	padding: 0.865rem;
	margin: -1.73rem;
}

.gutter-wrapper .gutter {
	padding: 0.865rem;
}

.gutter-wrapper.xxnarrow {
	padding: 0.115rem;
	margin: -0.23rem;
}

.gutter-wrapper.xxnarrow .gutter {
	padding: 0.115rem;
}

.gutter-wrapper.xnarrow {
	padding: 0.345rem;
	margin: -0.69rem;
}

.gutter-wrapper.xnarrow .gutter {
	padding: 0.345rem;
}

.gutter-wrapper.narrow {
	padding: 0.5rem;
	margin: -1rem;
}

.gutter-wrapper.narrow .gutter {
	padding: 0.5rem;
}

.gutter-wrapper.wide {
	padding: 1.495rem;
	margin: -2.99rem;
}

.gutter-wrapper.wide .gutter {
	padding: 1.495rem;
}

.gutter-wrapper.xwide {
	padding: 3.095rem;
	margin: -6.19rem;
}

.gutter-wrapper.xwide .gutter {
	padding: 3.095rem;
}
