.type-heading {
	font-family: "Publico Headline", "Publico", "Georgia", "Times",
		"Times New Roman", serif;
	font-weight: normal;
	display: block;
	line-height: 1.3;
	margin: 0;
	max-width: none; /* reset default width of p elements */
}

.type-heading a {
	border-bottom: none;
	color: inherit;
}

.type-heading a:hover,
.type-heading a:active {
	color: hsl(223, 75%, 70%);
	color: var(--color-highlight);
}

.type-heading strong {
	font-weight: normal;
}

.type-heading em {
	font-style: normal;
}

/* same as a heading, but a different font and color */
.type-subheading {
	color: hsl(223, 7%, 65%);
	color: var(--color-secondary);

	font-family: "System", system-ui, -apple-system, BlinkMacSystemFont,
		"Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue",
		"Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell",
		"Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic",
		"Liberation Sans", sans-serif;
	font-weight: 200;
	display: block;
	line-height: 1.3;
	margin: 0;
}

.type-scale-zeta.type-subheading {
	font-weight: 300;
}

.type-subheading a {
	border-bottom: none;
	color: inherit;
}

.type-subheading a:hover,
.type-subheading a:active {
	color: hsl(223, 75%, 70%);
	color: var(--color-highlight);
}

.type-subheading strong {
	font-weight: bold;
}

.type-subheading em {
	font-style: italic;
}

.type-font-display {
	font-family: "Publico Headline", "Publico", "Georgia", "Times",
		"Times New Roman", serif;
}

.type-font-body {
	font-family: "Publico Text", "Publico", "Georgia", "Times", "Times New Roman",
		serif;
}

.type-font-accent {
	font-family: "System", system-ui, -apple-system, BlinkMacSystemFont,
		"Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue",
		"Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell",
		"Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic",
		"Liberation Sans", sans-serif;
}

.type-font-accent.type-weight-xlight,
.type-font-accent .type-weight-xlight {
	font-weight: 200;
}

.type-font-accent.type-weight-light,
.type-font-accent .type-weight-light {
	font-weight: 300;
}

.type-weight-bold {
	font-weight: bold;
}

.type-style-italic {
	font-style: italic;
}

.type-link-undecorated {
	border-bottom: none;
}

.type-link-undecorated::hover,
.type-link-undecorated::active {
	border-bottom: none;
}

/* scale */

.type-scale-alpha {
	font-size: 2.83rem;
	font-size: clamp(2.07rem, calc(1rem + 5vw), 3.58rem);
}

.type-scale-beta {
	font-size: 2.36rem;
	font-size: clamp(1.73rem, calc(1rem + 3vw), 2.99rem);
}

.type-scale-gamma {
	font-size: 1.75rem;
	font-size: clamp(1.44rem, calc(1rem + 2vw), 2.07rem);
}

.type-scale-delta {
	font-size: 1.32rem;
	font-size: clamp(1.2rem, calc(1rem + 1vw), 1.44rem);
}

.type-scale-epsilon {
	font-size: 1.2rem;
}

.type-scale-zeta {
	font-size: 1rem;
}

.type-scale-alpha,
.type-scale-beta {
	line-height: 1.2;
}

/* leading */

.type-leading-xtight {
	line-height: 1.2;
}

.type-leading-tight {
	line-height: 1.3;
}

.type-leading-default {
	line-height: 1.8;
}

/* case */
.type-case-upper {
	text-transform: uppercase;
}

/* alignment */

.type-align-center {
	text-align: center;
}

.type-align-right {
	text-align: right;
}

.type-align-left {
	text-align: left;
}
