---
// assets
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
import '@styles/tokens/type.css';
import '@styles/tokens/borders.css';
import '@styles/utilities/type.css';
import '@styles/utilities/borders.css';
import feed from '@icons/feed.svg?raw';

// helpers
import { format } from 'date-fns';
import * as prismicHelpers from '@prismicio/helpers';
import prismic from '@lib/prismic';

// components
import LogoJPW from '@components/logos/LogoJPW.astro';
import Icon from '@components/elements/Icon.astro';
import RevealOnScroll from '@components/layout/RevealOnScroll.astro';

// types
import { LinkField } from '@prismicio/types';

type Item = {
	name: string,
	link: LinkField,
	attributes?: string,
};

const response = await prismic.getSingle('social_channels');
const { channel } = response.data;


const socialChannelList = channel.map((item: Item, index: number): string => {
	const { name, link, attributes } = item;

	return `
		${index === channel.length - 1 ? 'and' : ''}
		<a
			href="${prismicHelpers.asLink(link)}"
			target="_blank"
			${attributes || ''}
		>${name}</a>
	`.trim();
}).join(', ');
---

<footer class="border-seam-top">
	<RevealOnScroll
		tag="p"
		class="social | type-role-accent"
	>
		Keep in touch. You can also find me on <Fragment set:html={socialChannelList} />.
	</RevealOnScroll>
	<RevealOnScroll
		tag="div"
		class="signoff"
	>
		<div class="bookend">
			<div class="lockup">
				<a
					class="logo | type-link-undecorated"
					href="/"
				>
					<LogoJPW />
				</a>
				<small class="copyright | type-role-accent type-scale-zeta">
					&copy; Copyright {format(new Date(), 'yyyy')} Jay Perry Works, all rights reserved.
				</small>
			</div>
			<a
				class="secondary | type-role-accent type-scale-zeta"
				href="/rss/feed.xml"
				target="_blank"
			>
				RSS feed
				<Icon svg={feed} />
			</a>
		</div>
	</RevealOnScroll>
</footer>

<style>
	footer {
		flex-shrink: 0;
		margin-block-start: auto;
		padding-inline: var(--space-outside);
		position: relative;
	}

	.social {
		border-block-end: var(--border-default);
		color: var(--color-secondary);
		display: block;
		line-height: var(--type-leading-default);
		max-width: none;
		padding-block: var(--space-medium);
	}

	.social > :global(a) {
		color: var(--color-primary);
		font-family: var(--type-font-accent);
	}

	.signoff {
		padding-block: var(--space-medium);
		overflow: hidden;
	}

	.bookend {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		gap: var(--space-medium);
	}

	.lockup {
		display: flex;
		flex-flow: wrap;
		gap: var(--space-narrow);
	}

	.logo,
	.copyright {
		display: inline-block;
		vertical-align: top;
	}

	.copyright {
		color: var(--color-secondary);
		align-items: center;
	}

	.logo {
		width: 12rem;
	}

	.secondary {
		align-items: center;
		color: var(--color-secondary);
		display: flex;
		gap: var(--space-xnarrow);
	}
</style>
