---
export interface Props {
	class?: string,
}

const {
	class: className
} = Astro.props as Props;
---

<nav class={['border-seam-top', className].join(' ')}>
	<ul>
		{Astro.slots.has('prev') && <li><slot name="prev" /></li>}
		{Astro.slots.has('next') && <li><slot name="next" /></li>}
	</ul>
</nav>

<style>

</style>
