---
import '@styles/tokens/borders.css';
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
---
<div class="sequence-nav">
	<div class="scroll-wrapper">
		<ol class="list">
			<slot></slot>
		</ol>
	</div>
</div>

<style>
	.sequence-nav {
		position: relative;
	}

	.scroll-wrapper {
		padding-block-end: 1.2rem; /* scrollbar thickness */
		overflow-x: scroll;
	}

	.list {
		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		max-width: 100%;
		overflow: visible;
		padding: 0;
	}
</style>
