---
// assets
import '@styles/utilities/type.css';

// components
import Dot from '@components/elements/Dot.astro';
import Tooltip from '@components/elements/Tooltip.astro';

// types
import type { Align } from '@lib/types';

export interface Props {
	href: string;
	complete?: boolean;
	current?: boolean;
	next?: boolean;
	tooltipAlign?: Align;
}

const {
	complete = false,
	current = false,
	next = false,
	href,
	tooltipAlign = 'center',
} = Astro.props as Props;

const classList = [
	'link',
	complete ? 'complete' : '',
	current ? 'current' : '',
	next ? 'next' : '',
].join(' ');

let highlight = 'hover';
if (complete || current) highlight = 'on';
if (next) highlight = 'flashing';
---

<li>
	<Dot
		el="a"
		class={classList}
		{href}
		{highlight}
	>
		<Tooltip class="tooltip" align={tooltipAlign}>
			<slot></slot>
		</Tooltip>
	</Dot>
</li>

<style>
	li {
		display: block;
	}

	li,
	li + li {
		margin-block-start: 0;
	}

	li :global(.link) {
		--background-color: var(--color-bg);
	}

	li :global(.link.current),
	li :global(.link.next) {
		--color: var(--color-highlight);
	}

	li :global(.link.current),
	li :global(.link.next) {
		--border-color: var(--color-primary);
	}


	li :global(.link.complete) {
		--color: var(--color-secondary);
	}

	li :global(.link:hover) {
		--border-color: var(--color-primary);
		--color: var(--color-primary);
	}

	/* reveal the tooltip when a a is hovered */
	:global(.link:hover .tooltip) {
		--show: 1;
	}
</style>
