---
import '@styles/tokens/borders.css';
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
---
<div class="sequence-nav">
	<ol class="list">
		<slot></slot>
	</ol>
</div>

<style is:global>
	.sequence-nav {
		container-name: sequence;
		container-type: inline-size;
	}

	.list {
		--dot-size: 1em;

		align-items: center;
		display: flex;
		list-style: none;
		margin: 0;
		max-width: 100%;
		overflow: visible;
		padding: 0;
	}

	@container sequence (min-width: 36rem) {
		.list {
			--dot-size: 2em;
		}
	}
</style>
