---
// assets
import '@styles/tokens/borders.css';
import '@styles/tokens/color.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';

// utilities
import * as prismicHelpers from '@prismicio/helpers';

// types
export interface Props {
	title: string;
	class?: string;
	currentNumber?: number;
	description?: string;
}

const {
	title,
	class: className = '',
	currentNumber = 0,
	description,
} = Astro.props as Props;
---

<aside class={className}>
	<h2 class="type-scale-epsilon">
		This post is part {currentNumber} of a thread called <strong>{title}</strong>.
	</h2>
	{description && <p class="description | type-role-accent type-scale-zeta">{description}</p>}
	<details>
		<summary class="type-role-accent type-scale-zeta">Posts in this thread</summary>
		<ol>
			<slot></slot>
		</ol>
	</details>
</aside>

<style>
	aside {
		background-color: var(--color-well);
		border-radius: var(--border-radius);
		padding: var(--space-narrow);
		text-align: left;
	}

	.description {
		padding-block-start: var(--space-xxnarrow);
	}

	details {
		border-block-start: var(--border-default);
		margin-block-start: var(--space-narrow);
		padding-block-start: var(--space-xnarrow);
	}

	summary {
		background: url('/assets/icons/expand.svg') left center no-repeat;
		background-size: 1.5rem;
		cursor: pointer;
		display: block;
		padding-left: 2rem;
		position: relative;
	}

	[open] summary {
		background-image: url('/assets/icons/arrow-up.svg');
	}

	summary::marker,
	summary::-webkit-details-marker {
		display: none;
	}

	ol {
		margin: var(--space-narrow) 0 0;
	}

	ol > :global(li + li) {
		margin-block-start: var(--space-xxnarrow);
	}
</style>
