---
	// components
	import RenderedText from '@components/elements/RenderedText.astro';

	// types
	import { RichTextField, KeyTextField } from '@prismicio/types';

	export interface Props {
		class?: string;
		label?: KeyTextField;
		markdown?: string;
		prismicText?: RichTextField;
	}

	const {
		class: className = '',
		label,
		markdown,
		prismicText,
	} = Astro.props as Props;
---

<aside class={className}>
	{label && <h2>{label}</h2>}
	<RenderedText {markdown} {prismicText} />
</aside>

<style>
	h2 {
		font-size: var(--type-scale-delta);
		font-family: var(--type-font-accent);
		color: var(--color-secondary);
		font-weight: 200;
		
	}

	aside {
		font-style: italic;
	}
</style>
