---
// assets
import '@styles/utilities/type.css';

// components
import RenderedText from '@components/elements/RenderedText.astro';

// types
import type { TypeScale, FormattedText } from '@lib/types';

export interface Props {
	text: FormattedText;
	class?: string;
	typeSize?: TypeScale;
}

const {
	text,
	class: className = '',
	typeSize = 'epsilon',
} = Astro.props as Props;
---

<div class={`prose | type-scale-${typeSize} | ${className}`}>
	<slot><RenderedText {...text} /></slot>
</div>

<style>
  .prose :global(* + *) {
    margin-top: 1em;
  }

  /* --- headings --- */
  .prose :global(* + :is(h1, h2, h3, h4, h5, h6)) {
    margin-top: 1.5em;
  }


	/* add an icon after external links */
	@supports (mask: url('/assets/icons/external-link.svg') no-repeat 50% 50%) {
		.prose :global(a[href^='http']::after) {
			--size: 0.7em;

			background-color: currentColor;
			content: '';
			display: inline-block;
			height: var(--size);
			margin: 0 0.1em 0 0.25em;
			mask: url('/assets/icons/external-link.svg') no-repeat 50% 50%;
			position: relative;
			vertical-align: baseline;
			width: var(--size);
		}
	}
</style>
