---
import '../../styles/components/tooltip.css';

const { html } = Astro.props;
---

<div class="content" set:html={html}></div>

<script>
	const notes = document.querySelectorAll('.note');
	notes.forEach((note) => {
		note.addEventListener('click', (event) => {
			event.target.classList.toggle('show');
		});
	});
</script>

<!-- use global here because the content is injected from the body prop -->
<style global>
	.note {
		--size: 0.7em;
		background-color: var(--color-secondary);
		border-radius: 1000px;
		border: 0;
		color: var(--color-bg);
		cursor: pointer;
		display: inline-block;
		padding: 0.25em;
		position: relative;
		transition: background-color 0.25s ease;
		vertical-align: baseline;
		will-change: color;
	}

	.note .tooltip {
		--parent-height: var(--size);
	}

	.note:hover,
	.note.show {
		background-color: var(--color-highlight);
	}

	.note-icon {
		display: block;
		height: var(--size);
		line-height: var(--size);
		max-height: 100%;
		max-width: 100%;
		pointer-events: none;
		width: var(--size);
	}

	.note.show .tooltip {
		--show: 1;
	}
</style>