---
// components
import Gallery from '@components/layout/Gallery.astro';
import Passage from '@components/blocks/Passage.astro';

// types
import type {
	StickyNote,
} from '@prismicio/types';

export interface Props {
	notes: StickyNote[],
}

console.log('sticky note component');

const {

	notes,
	description,
	subtitle,
	title,
} = Astro.props as Props;
---

<section class="sticky-note-gallery">
	<Gallery>
		{notes.map(({ shortStatement, extendedStatement }) => (
			<li class="sticky-note-item">
				<article class="sticky-note">
					<Passage text={{ prismicText: shortStatement }} />
					<Passage text={{ prismicText: extendedStatement }} />
				</article>
			</li>
		))}
	</Gallery>
</section>

<style>

</style>
