---

const {
	CSVFile,
	keyColumns,
	footer = false,
} = Astro.props;

// https://stackoverflow.com/questions/64982528/is-is-possible-to-read-a-csv-file-with-javascript-fetch-api
const response = await fetch(
	CSVFile,
	{
		method: 'get',
		headers: {
			'content-type': 'text/csv;charset=UTF-8',
		},
	}
);

let table = [];

try {
	const result = await response.text();
	table = result.split('\n').reduce((result: Array<Array<string>>, row: string, index: SVGAnimatedNumber) => {
		if (row) {
			result.push(row.split(','));
		}
		return result;
	}, []);
	console.log(table)
} catch(error) {
	throw new Error('Error receiving the CSV file', error);
}
---

<div class="wrapper">
	<table>
		{table.map((row, index) => (
			<tr>
				{row.map((cell) => (
					<td>{cell}</td>
				))}
			</tr>
		))}
	</table>
</div>

<style>
	.wrapper {
    --min-width: 600px;

    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    overflow-x: scroll;
    padding-bottom: var(--space-narrow);

  }

  @media screen and (min-width: 37.5em) {
    .wrapper {
      border: 0;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-family: var(--type-font-accent);
    font-size: var(--type-scale-zeta);
    min-width: var(--min-width);
    width: 100%;
  }

  thead {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-family: var(--type-font-accent);
    font-size: var(--type-scale-eta);
    text-align: left;
    vertical-align: bottom;
  }

  thead > :global(th) {
    padding-bottom: 0.5em;
  }

  /* alternating row colors */
  tr:nth-child(even) {
    background-color: var(--color-well);
  }

  td,
  th {
    padding: 0.5em 0.5em;
    position: relative;
    text-align: left;

  }

  td:last-child,
  th:last-child {
    text-align: right;
  }

  th {
    color: var(--color-secondary);
    font-family: var(--type-font-accent);
    font-weight: normal;
  }

  tbody th {
    color: var(--color-primary);
    font-weight: bold;
  }
</style>
