---
// helpers
import prismic from '@lib/prismic.ts';
import * as prismicHelpers from '@prismicio/helpers';

// components
import Layout from '@layouts/BaseLayout.astro';
import BlockList from '@components/BlockList.astro';

const response = await prismic.getByUID('page', 'about');

const { title, body } = response.data;
---

<Layout
	pageTitle="about"
	path="about"
>
	<article>
		<h1 class="title">{prismicHelpers.asText(title)}</h1>
		<BlockList {body} />
	</article>
</Layout>

<style>
  article {
    padding-block: var(--space-xwide);
    padding-inline: var(--space-outside);
	}

	.title {
		text-align: center;
		padding-block-end: var(--space-wide);
	}
</style>
