---
import Layout from '@layouts/BaseLayout.astro';
import BlockList from '@components/BlockList.astro';

import prismic from '@lib/prismic.ts';
import * as prismicHelpers from '@prismicio/helpers';

const response = await prismic.getByUID('page', 'about');

let { title, body } = response.data;
---

<Layout
	pageTitle="article"
	path="article"
>
	<article>
		<header>
			<h1>{prismicHelpers.asText(title)}</h1>
		</header>
		<BlockList {body} />
	</article>
</Layout>

<style>
  article {
    padding-block: var(--space-xwide);
    padding-inline: var(--space-outside);
  }
</style>
