---
// assets
import '@styles/tokens/contentWidth.css';

// block components
import Aside from '@components/blocks/Aside.astro';
import Billboard from '@components/blocks/Billboard.astro';
import BlockQuote from '@components/blocks/BlockQuote.astro';
import Collage from '@components/blocks/Collage.astro';
import Feed from '@components/blocks/Feed.astro';
import Figure from '@components/blocks/Figure.astro';
import Heading from '@components/blocks/Heading.astro';
import ImageGallery from '@components/blocks/ImageGallery.astro';
import Passage from '@components/blocks/Passage.astro';
import Table from '@components/blocks/Table.astro';

// Typescript
import type { Block } from '@lib/types';

export interface Props {
	block: Block;
	class?: string;
	displayMode?: string;
}

const {
	block,
	class: className,
	displayMode = 'flow',
} = Astro.props as Props;

function getWidth(prominence) {
	const widths = {
		Small: 'narrow',
		Medium: 'default',
		Large: 'xwide',
		XLarge: 'xxwide',
	};

	return widths[prominence] || 'default';
}

const style = `--block-width: var(--content-width-${getWidth(block.prominence)});`;
---

<div class={['block', displayMode, className].join(' ')}>
	<div class="wrapper" {style}>
		{block.type === 'aside' && (
			<!-- aside -->
			<Aside {...block} />
		)}

		{block.type === 'billboard' && (
			<!-- billboard -->
			<Billboard {...block} />
		)}

		{block.type === 'blockQuote' && (
			<!-- block quote -->
			<BlockQuote {...block} />
		)}

		{block.type === 'collage' && (
			<!-- image gallery -->
			<Collage {...block} />
		)}

		{block.type === 'feed' && (
			<!-- feed -->
			<Feed {...block} />
		)}

		{block.type === 'figure' && (
			<!-- figure -->
			<Figure {...block} />
		)}

		{block.type === 'heading' && (
			<!-- heading -->
			<Heading {...block}>{block.title}</Heading>
		)}

		{block.type === 'imageGallery' && (
			<!-- image gallery -->
			<ImageGallery {...block} />
		)}

		{block.type === 'passage' && (
			<!-- passage -->
			<Passage {...block} />
		)}

		{block.type === 'table' && (
			<!-- table -->
			<Table {...block} />
		)}
	</div>
</div>

<style>
	.block.flow {
		padding-inline: var(--space-outside);
	}

	.block.slide {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		padding-block: var(--space-wide);
		padding-inline: var(--space-outside);
	}

	.wrapper {
		max-width: var(--block-width);
		margin-inline: auto;
	}

	.slide .wrapper {
		display: flex;
		flex-direction: column;
		flex: 1;
		width: 100%;
	}
</style>
