---
// assets
import '@styles/tokens/contentWidth.css';

// block components
import Passage from '@components/blocks/Passage.astro';
import Figure from '@components/blocks/Figure.astro';
import ImageGallery from '@components/blocks/ImageGallery.astro';
import Aside from '@components/blocks/Aside.astro';
import BlockQuote from '@components/blocks/BlockQuote.astro';

// Typescript
import type { Block } from '@lib/types';

export interface Props {
	block: Block;
	class?: string;
}

const {
	block,
	class: className,
} = Astro.props as Props;

const width = {
	Small: 'narrow',
	Medium: 'default',
	Large: 'xwide',
	XLarge: 'xxwide',
}[block.prominence];

const style = `--block-width: var(--content-width-${width || 'default'})`;
---

<div
	class={['wrapper', className].join(' ')}
	{style}
>
	{block.type === 'passage' && (
		<!-- passage -->
		<Passage {...block} />
	)}

	{block.type === 'figure' && (
		<!-- figure -->
		<Figure {...block} />
	)}

	{block.type === 'imageGallery' && (
		<!-- image gallery -->
		<ImageGallery {...block} />
	)}

	{block.type === 'aside' && (
		<!-- aside -->
		<Aside {...block} />
	)}

	{block.type === 'blockQuote' && (
		<!-- block quote -->
		<BlockQuote {...block} />
	)}
</div>

<style>
	.wrapper {
		max-width: var(--block-width);
		margin-inline: auto;
	}
</style>
