---
// Wrapper
// -> a container that constrains the layout width, centers content on
//    larger screens
// -> note that a wrapper should never have horizontal padding, because it
//    needs to set a layout width and padding will make the content narrower.
//    Instead, add padding to a parent container.
import '@styles/utilities/contentWidth.css';

const {
	width = 'default',
	centered = true,
	flexChild = false,
	className as class,
} = Astro.props;
---

<div
	class:list={[
		'wrapper',
		width === 'default' ? 'content-width' : `content-width-${width}`,
		className
		{
			centered,
			flexChild
		}
	]}
>
  <slot />
</div>

<style>
  .wrapper {
    position: relative;
  }

  .centered {
    margin-inline: auto;
  }

  @supports (display: flex) and (align-self: center) {
    .flexChild {
      width: 100%;
      align-self: center;
      margin-inline: 0;
    }
  }
</style>
