---
// Wrapper
// -> a container that constrains the layout width, centers content on
//    larger screens
// -> note that a wrapper should never have horizontal padding, because it
//    needs to set a layout width and padding will make the content narrower.
//    Instead, add padding to a parent container.

const {
	width = 'default',
	centered = true,
	flexChild = false,
	class: className,
} = Astro.props;

const style = `max-width: var(--content-width-${width})`;
---

<div
	class={[
		'wrapper',
		(centered ? 'centered' : ''),
		(flexChild ? 'flexChild' : ''),
		className,
	].join(' ')}
	{style}
>
  <slot />
</div>

<style>
  .wrapper {
    position: relative;
  }

  .centered {
    margin-inline: auto;
  }

  @supports (display: flex) and (align-self: center) {
    .flexChild {
      width: 100%;
      align-self: center;
      margin-inline: 0;
    }
  }
</style>
