/* =============================================================================
// Border settings & helpers
// ===========================================================================*/

/*doc
---
title: Border settings & helpers
name: borders
category: core
---

Some mixins that allow us to keep our border styles DRY and control them from one place. Use these mixins and placeholders instead of writing your own CSS.

```
.your-selector {
    // add the default border radius
    @extend %base-radius;

    // add a thin border on all sides
    @include border(all, thin);

    // add a thick border on the top and left sides with the highlight color
    @include border(top left, thick, theme(highlight));
}
```

*/

@import "libs";
@import "color";
@import "layout";

// Rounded corners
// -----------------------------------------------------------------------------

$base-radius: 3px !default;

%base-radius {
  border-radius: $base-radius;
}

// Border width & style
// -----------------------------------------------------------------------------

$borders: 1px 4px !default;
$border-style: solid !default;

// make a standard border/hairline that works with the parent color theme
@mixin border($sides: all, $w: thin, $color: theme(border), $style: $border-style) {
    @if ($sides == all) {
        @if ($w == thin) {
            border-width: nth($borders, 1);
        } @else if ($w == thick) {
            border-width: nth($borders, 2);
        } @else {
            border-width: #{$w};
        }
        border-style: $style;
        border-color: $color;
    } @else {
        @each $side in $sides {
            @if ($w == thin) {
                border-#{$side}-width: nth($borders, 1);
            } @else if ($w == thick) {
                border-#{$side}-width: nth($borders, 2);
            } @else {
                border-width: #{$w};
            }
            border-#{$side}-style: $style;
            border-#{$side}-color: $color;
        }
    }
}

// Helper classes
// -----------------------------------------------------------------------------

.has-border {
    &.top {
        @include border(top);
        padding-top: $gutter;
    }
    &.bottom {
        @include border(bottom);
        padding-bottom: $gutter;
    }
    &.left {
        @include border(left);
        padding-left: $gutter;
    }
    &.right {
        @include border(right);
        padding-right: $gutter;
    }
}

.has-no-borders {
    border: none !important;
}
