/* =============================================================================
//  Type config & scale
// ========================================================================== */

/*doc
---
title: Fonts
name: fonts
category: Core
---

Fonts are accessed through SASS placeholders. Just extend the appropriate one. Fonts are applied to type, globally, in _type.scss, and individual modules can set up their own font styles.

Please DO NOT use your own font-family attributes in any circumstance. Always use the mixins.

```
// display fonts
// -> headlines, buttons, labels, etc.

@include font-display
@include font-display(bold)

// body fonts
// -> paragraphs, captions, etc.

@include font-body
@include font-body(normal, italic)
@include font-body(bold)
```

*/

@import "libs";
@import "paths";

$trebuchet: 'Trebuchet', 'Lucida Grande', 'Verdana', sans-serif;

/* Fonts
// -------------------------------------------------------------------------- */
// -> font-face mixins use Bourbon

// headline
@include font-face("publico-headline-normal", font_path("PublicoHeadline-Roman-Web"), $file-formats: eot woff ttf svg);

// text
@include font-face("publico-text-normal-normal", font_path("PublicoText-Roman-Web"), $file-formats: eot woff ttf svg);
@include font-face("publico-text-normal-italic", font_path("PublicoText-Italic-Web"), italic, $file-formats: eot woff ttf svg);

/* ----- Guardian ---------------------------------------------------- */

@include font-face("guardian-sans-normal", font_path("GuardianSans-Light-Web"), $file-formats: eot woff ttf svg);
@include font-face("guardian-sans-bold", font_path("GuardianSans-Bold-Web"), bold, $file-formats: eot woff ttf svg);


/* Font mixins
// -------------------------------------------------------------------------- */
// -> PUBLIC, use these to style type globally & in modules

/* ----- Display type ------------------------------------------------------- */

@mixin font-display($style: 'normal') {
  font-family: "publico-headline-#{$style}", $georgia;
  font-weight: normal;
  font-style: $style;
}

@mixin font-accent($weight) {
  font-family: "guardian-sans-#{$style}", $georgia;
  font-weight: normal;
  font-style: $style;
}

/* ----- Body type ---------------------------------------------------------- */

@mixin font-body($style: 'normal') {
  font-family: "publico-text-#{$weight}-#{$style}", $georgia;
  font-weight: $weight;
  font-style: $style;
}

/* ----- Ampersands --------------------------------------------------------- */
// -> if you'd like to "use the best ampersand"
// -> http://vault.simplebits.com/notebook/2008/08/14/ampersands-2/

@mixin font-ampersand {
  font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
}

/* Utilities
// -------------------------------------------------------------------------- */
// -> PUBLIC, use these to style type globally & in modules

.font-display { @include font-display; }
  .font-display-bold { @include font-display('bold'); }

.font-body { @include font-body; }
  .font-body-bold { @include font-body('bold'); }
  .font-body-italic { @include font-body($style: 'italic'); }
