/* =============================================================================
//  Webfonts
// ========================================================================== */

/*doc
---
title: Fonts
name: fonts
category: core
---

Fonts are accessed through SASS placeholders. Just extend the appropriate one. Fonts are applied to type, globally, in _text.scss, and individual modules can set up their own font styles.

Please DO NOT use your own font-family attributes in any circumstance. Always extend the placeholder.

```
// display fonts
// -> headlines, buttons, labels, etc.

@extend %font-display

// body fonts
// -> paragraphs, captions, etc.

@extend %font-body
@extend %font-body-italic
@extend %font-body-bold
```

*/

// requires bourbon
@import "libs";


// Config & mixins
// -----------------------------------------------------------------------------

// default type sizes
$type-size--default: 16px;
$type-size-amp: 1.1em; // size of ampersands relative to their context
$type-line_height: 1.5;

@mixin type-default {
  @include rem(font-size, $type-size--default);
}

// modular scale
// -> requires SASS Type Helpers
// -> minor fourth (1.2), 16px base (http://www.modularscale.com/?16&px&1.2&web&text)
$font-scale: 11px 13px 16px 19px 23px 28px 33px 39px 48px 57px 69px 83px 99px;

$trebuchet: 'Trebuchet', 'Lucida Grande', 'Verdana', sans-serif;

/* Globals
// -------------------------------------------------------------------------- */

/*
    This font software is the property of Commercial Type.

    You may not modify the font software, use it on another website, or install it on a computer.

    License information is available at http://commercialtype.com/eula
    For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

    Copyright (C) 2013 Schwartzco Inc.
    License: 1510-UFDUPE
*/

/* ----- Publico ------------------------------------------------------------- */

// headline
@include font-face("Publico Headline", font_path("PublicoHeadline-Roman-Web"), $file-formats: eot woff ttf svg);

// text
@include font-face("Publico Text", font_path("PublicoText-Roman-Web"), $file-formats: eot woff ttf svg);
@include font-face("Publico Text Italic", font_path("PublicoText-Italic-Web"), italic, $file-formats: eot woff ttf svg);

/* ----- Guardian ---------------------------------------------------- */

@include font-face("Guardian Sans", font_path("GuardianSans-Light-Web"), $file-formats: eot woff ttf svg);
@include font-face("Guardian Sans Bold", font_path("GuardianSans-Bold-Web"), bold, $file-formats: eot woff ttf svg);

/* Font styles
// -> PUBLIC, use these to style type globally & in modules
// -------------------------------------------------------------------------- */

/* ----- Display type ------------------------------------------------------- */

%font-display {
    font-family: 'Publico Headline', $georgia;
    font-weight: normal;
    font-style: normal;
}

%font-display--italic {
    @extend %font-display;
    font-family: 'Publico Text Italic', $georgia;
    font-style: italic;
}

%font-accent {
    font-family: 'Guardian Sans', $trebuchet;
    font-weight: normal;
    font-style: normal;
}

%font-accent--bold {
    @extend %font-accent;
    font-family: 'Guardian Sans Bold', $trebuchet;
    font-weight: bold;
}

/* ----- Body type ---------------------------------------------------------- */

%font-body {
    font-family: 'Publico Text', $georgia;
    font-weight: normal;
    font-style: normal;
}

%font-body--italic {
    @extend %font-display--italic;
    font-family: 'Publico Text Italic', $georgia;
    font-style: italic;
}

/* ----- Ampersands --------------------------------------------------------- */

%amp-system {
  font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
}

/* use the best ampersands from common system fonts... */
.amp {
    @extend %amp-system;
    font-size: $type-size-amp; /* relative to whatever type surrounds it -- it renders slightly bigger */
    color: inherit;
}
