// =============================================================================
// Frameworks & vendor stuff
// -> all dependencies should be imported here, then imported
//    as-needed in modules
// -> NOTE: the dependency scheme in this framework requires sass's
//    "import once" library. make sure it's installed somewhere.
// =============================================================================

// --- NPM libs ----------------------------------------------------------------
// -> in /node_modules

@import "bourbon/app/assets/stylesheets/bourbon";
@import "modernizr-mixin/stylesheets/modernizr";
@import "modularscale-sass/stylesheets/modular-scale";
@import "include-media/dist/include-media";

// --- vendor libs -------------------------------------------------------------
// -> in assets/stylesheets/vendor

@import "../vendor/sass-units";
@import "../vendor/sass-type-helpers";
