// ==========================================================================
//  Global settings
// ==========================================================================

/*doc
---
title: Global Variables
name: settings
category: core
---

We keep global settings to a minimum, to keep variables closely tied to the relevant modules/libraries.

Right now, the only globals we need are a few file path helpers: `$path-images`, `$path-icons`, and `$path-fonts`.

*/

// Asset paths
// ----------------------------------------------------------------------
$path-images: "/assets/images";
$path-icons: "#{$path-images}/icons";
$path-fonts: "/assets/fonts";

