//  Button component
@use "../config/border";
@import "../config/color";
@import "../config/type";

// --- Base ---

[data-ui-button] {
  $color: 'primary';
  @include border.add('all', $style: solid, $color: $color);
  @include color-fg($color);
  @include font-accent;
  @include transition-default;
  background-color: transparent;
  border-radius: 0.2em;
  display: inline-block;
  font-size: scale-type('zeta');
  padding: 0.5em 1.2em;

  &:hover,
  &:active {
    @include color-fg($color, $shade: 'light');
    @include color-bg('island');
  }

  sup {
    font-size: 0.6em;
  }

  strong {
    @include font-accent('bold');
  }
}


// --- Modifiers ---

// --- sizes
// -> default size is "medium." add these classes to go bigger or smaller.

[data-ui-button~='xsmall'] {
  padding: 0.2em 0.6em;
  font-size: scale-type('eta');
}

[data-ui-button~='small'] {
  border-width: border-w('mid');
  font-size: scale-type('zeta');
  padding: 0.3em 0.8em;
}

[data-ui-button~='large'] {
  font-size: scale-type('epsilon');
  padding: 0.8em 1.6em;
}

// --- prominence
// -> how obnoxious shall your button be?

[data-ui-button~='primary'] {
  @include color('border-color', 'primary');
  @include color-bg('primary');
  @include color-fg('bg');

  &:hover {
    @include color(border-color, 'primary', $shade: 'light');
    @include color-fg('bg');
    @include color-bg('primary', $shade: 'light');
  }

  &:active {
    @include color(border-color, 'primary', $shade: 'dark');
    @include color-fg('bg');
    @include color-bg('primary', $shade: 'dark');
  }
}

// --- special variations
// -> buttons of a strange and amazing nature

[data-ui-button~='text'], // deprecated name
[data-ui-button~='incognito'] {
  @include color-fg('primary');
  @include font-accent('bold');
  border: none !important;
  padding: 0 !important;

  &:hover, &:active {
    @include border.add('bottom', $style: 'secondary');
    @include color-fg('primary');
    background-color: transparent;
    border-color: inherit;
  }
}
