// Dropdown component
// -> Create a dropdown menu
// -> Based on details & summary elements
@use '../config/border';
@import '../config/animation';
@import '../config/positioning';
@import '../config/spacing';
@import '../config/special_effects';

// --- Base ---
[data-ui-dropdown] {
  display: inline-block;
  position: relative;
}

// --- Elements ---
[data-ui-dropdown-toggle] {
  cursor: pointer;
  list-style: none;

  // remove marker added by chrome
  &::-webkit-details-marker {
    display: none;
  }

  [data-ui-dropdown][open] & {
    // add an invisible overlay to whole screen so you can click anywhere else to dismiss the dropdown
    // -> cheers to https://github.com/muan/details-on-details
    // -> https://github.com/github/details-menu-element
    &::before {
      cursor: default;
      content: ' ';
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: z('high');
      background: transparent;
    }
  }
}

[data-ui-dropdown-menu] {
    display: block;
  min-width: 10rem;
  z-index: z('top');

  [data-ui-dropdown][open] & {
    $pointer-size: 0.48rem;

    @include border.add($style: solid);
    @include border-radius();
    @include se-shadow();
    position: absolute;
    right: 0;

    &::before,
    &::after {
      border-width: 0 #{$pointer-size} #{$pointer-size};
      content: ' ';
      display: block;
      position: absolute;
      right: space('narrow');
      border-style: solid;
      height: 0;
      width: 0;
    }

    &::before {
      border-color: transparent transparent #{color('border')};
      border-color: transparent transparent #{color-property('border')};
      top: ($pointer-size * -1);
    }

    &::after {
      border-color: transparent transparent #{color('bg')};
      border-color: transparent transparent #{color-property('bg')};
      top: (($pointer-size - 0.065rem) * -1); // 0.65rem = approx. 1px
    }
  }
}
