// Outdent component
// -> similar to columns, but instead of filling the parent container entirely, keep horizontally centered above a certain max width
@import '../config/layout_width';

$outdent-sidebar-w: 18rem;
$outdent-main-w: layout-w('default');
$outdent-breakpoint: ;
$outdent-max-w: ;

[data-ui-outdent] {
  --sidebar-width: #{$outdent-sidebar-w};
  --breakpoint: #{$outdent-breakpoint};
  --max-width: #{$outdent-max-w};

  display: block;
  font-size: 0;
}

[data-ui-outdent-item="sidebar"] {

}
