@import url('../tokens/type.css');

/* --- display type (headings, etc.) --- */
.type-role-display,
[data-type~='role-display'] {
	font-family: var(--type-font-display);
	font-weight: normal;
	line-height: var(--type-leading-tight);
}

.type-role-display.italic,
.type-role-display em,
[data-type~='role-display'][data-type~='italic'],
[data-type~='role-display'] em {
	font-style: italic;
}

.type-role-display strong,
[data-type~='role-display'] strong,
[data-type~='role-display'][data-type~='bold'] {
	font-weight: normal;
}

/* --- accent type (subheadings, UI, etc.) --- */
.type-role-accent,
[data-type~='role-accent'] {
	/* color: var(--color-secondary); */
	font-family: var(--type-font-accent);
	font-weight: 300;
	line-height: var(--type-leading-tight);
}

.type-role-accent strong,
[data-type~='role-accent'] strong,
[data-type~='role-accent'][data-type~='bold'] {
	font-weight: 600;
	letter-spacing: -0.02em;
	font-variation-settings: 'wght' 600;
}

:is(.type-scale-zeta) .type-role-accent,
:is(.type-scale-zeta).type-role-accent {
	font-weight: 300;
}

/* body type is the default, so no utils needed for this role */

/* --- scale --- */
/* -> pair with 'role' utilities above to set the correct weight and leading */
.type-scale-alpha,
[data-type~='scale-alpha'] {
	font-size: var(--type-scale-alpha);
	line-height: var(--type-leading-xtight);
}

.type-scale-beta,
[data-type~='scale-beta'] {
	font-size: var(--type-scale-beta);
	line-height: var(--type-leading-xtight);
}

.type-scale-gamma,
[data-type~='scale-gamma'] {
	font-size: var(--type-scale-gamma);
}

.type-scale-delta,
[data-type~='scale-delta'] {
	font-size: var(--type-scale-delta);
}

.type-scale-epsilon,
[data-type~='scale-epsilon'] {
	font-size: var(--type-scale-epsilon);
}

.type-scale-zeta,
[data-type~='scale-zeta'] {
	font-size: var(--type-scale-zeta);
}

.type-scale-eta,
[data-type~='scale-eta'] {
	font-size: var(--type-scale-eta);
}

/* --- links --- */
.type-link-undecorated,
[data-type~='link'][data-type~='undecorated'] {
	border-bottom: unset;
}

@supports (text-decoration-thickness: 1px) {
	.type-link-undecorated,
	[data-type~='link'][data-type~='undecorated'] {
		text-decoration: none;
	}
}

[data-type~='wrap-pretty'] {
	text-wrap: pretty;
}

[data-type~='wrap-balance'] {
	text-wrap: balance;
}
