// =============================================================================
// Visibility utilities
// ==========================================================================

// Allow 'important!' here because we want the styles to always apply in small utility classes
// sass-lint:disable no-important
// sass-lint:disable class-name-format
// -> allow '@[state]' suffixes

@import '../config/visibility';
@import '../config/breakpoints';

.hide-visually {
  @include hide-visually();
}

// hide but keep it accessible
@include breakpointify('.hide-visually-above') {
  @include hide-visually();
}

@include breakpointify('.show-visually-above') {
  @include show-visually();
}

// see hidden-[below|above]@[size] in _breakpoints for media-query versions
.hide {
  display: none !important;
}

// --- show/hide at screen sizes -----------------------------------------------
// -> hide content until screen reaches specified breakpoint size

// usage: <span class='hide-[below|above]@small'>
@each $name, $size in $breakpoints {
  .hide-below\@#{$name} {
    @include media('<#{$size}') {
      display: none !important;
    }
  }

  .hide-above\@#{$name} {
    @include media('>#{$size}') {
      display: none !important;
    }
  }
}

// --- show/hide for JS --------------------------------------------------------
.hide\@js {
  .js & {
    display: none !important;
  }
}

.show\@js {
  .no-js & {
    display: none !important;
  }
}

.hide\@print {
  @media print {
    display: none !important;
  }
}

// --- show/hide for print -----------------------------------------------------

.show\@print {
  display: none !important;

  @media print {
    display: block !important;
  }
}

// --- show/hide for touch -----------------------------------------------------

.touch .show\@touch,
.no-touch .hide\@no-touch {
  display: block !important;
}

.touch .hide\@no-touch,
.no-touch .show\@touch {
  display: none !important;
}
