// =============================================================================
// Global breakpoints
// -> uses include-media library (http://include-media.com)
// =============================================================================

@import "libs";

// Config & mixins
// -----------------------------------------------------------------------------

// Global breakpoints map
// -> also used by include-media library
$breakpoints: (
    'xsmall' : 30em,
    'small'  : 42em,
    'medium' : 62em,
    'large'  : 75em,
    'huge'   : 100em,
);

// getter/helper function to pull breakpoints from the map
@function screen($size) {
    @return map-get($breakpoints, $size);
    // @debug map-get($breakpoints, $size);
}

// Breakpointify mixin by Hugo Giraudel, lightly modified
// -> https://twitter.com/HugoGiraudel/status/696707047946108929
// -> Helper mixin to create suffixed modifiers of a class
// -> to make it effective starting certain breakpoints.
// -> @param {String} $class - Class to “breakpointify”
@mixin breakpointify($class, $default: false, $sizes: all, $direction: '>') {
    @if $default == true {
       #{$class} { @content; }
    }

    @if $sizes == 'all' {
        @each $name, $size in $breakpoints {
            @include media("#{$direction}#{$name}") {
               #{$class}\@#{$name} { @content; }
            }
        }
    } @else {
        @each $name in $sizes {
            @include media("#{$direction}#{$name}") {
               #{$class}\@#{$name} { @content; }
            }
        }
    }
}