// ==========================================================================
// Layout width config
// ==========================================================================

@import "libs";
@import "spacing";
@import "breakpoints";

// Settings & mixins
// -------------------------------------------------------------------------- 

// width of main layout
$layout-widths: (
  'default' : 600px,
  'wide'    : 1024px
);

// Getter function for layout widths
// -> PUBLIC
@function layout-w($w: 'default') {
  @return map-get($layout-widths, $w);
}

// Set a base width with gutter
// -> PUBLIC
@mixin l-base-w($w: "default") {
  @include rem(max-width, add_outside_gutters(layout-w($w)));
}
