/* =============================================================================
//  Type & layout scale
// ========================================================================== */

/*doc
---
title: Scale
name: scale
category: Core
---

A single, modular scale is used for the entire site: not only type scaling but also spacing and relative proportions throughout the layout.

*/

@import "libs";

// Config & mixins
// -----------------------------------------------------------------------------

// -> minor third scale (1.2, 5:6)
// -> 16px base (http://www.modularscale.com/?16&px&1.2&web&text)
$scale-global: 1.2;

// global type scale
// -> we could compute this via the modular scale mixins,
// -> but doing it by hand allows us to tweak certain sizes to suit the fonts we're using
// -> also, even numbers probably work better in old browsers when using px units
$scale-type: (
  'alpha': 39px,
  'beta': 33px,
  'gamma': 27px,
  'delta': 19px,
  'epsilon': 16px,
  'zeta': 13px,
  'eta': 11px,
  'theta': 9px
);

@function scale-type($size) {
  @return map-get($scale-type, $size);
}

@mixin scale-type($size) {
  @include rem(font-size, scale-type($size));
}

// --- modular scale config ----------------------------------------------------
// -> for layout and spacing

$ms-base: 16px;
$ms-ratio: $scale-global;

@debug $ms-ratio;
@debug ms-list(1, 10, $ms-base, $ms-ratio);
