/* =============================================================================
//  Type & layout scale
// ========================================================================== */

@import "libs";

// Config & mixins
// -----------------------------------------------------------------------------

// -> minor third scale (1.2, 5:6)
// -> 16px base (http://www.modularscale.com/?16&px&1.2&web&text)
$scale-global: 1.2;

// global type scale
// -> we could compute this via the modular scale mixins,
// -> but doing it by hand allows us to tweak certain sizes to suit the fonts we're using
// -> also, even numbers probably work better in old browsers when using px units
$scale-type: (
  'alpha': 2.48rem,
  'beta': 2.07rem,
  'gamma': 1.44rem,
  'delta': 1.2rem,
  'epsilon': 1rem,
  'zeta': 0.83rem,
  'eta': 0.69rem,
  'theta': 0.58rem
);

@function scale-type($size) {
  @return map-get($scale-type, $size);
}

// --- modular scale config ----------------------------------------------------
// -> for layout and spacing

$ms-base: 1rem;
$ms-ratio: $scale-global;

// @debug $ms-ratio;
// @debug ms-list(1, 10, $ms-base, $ms-ratio);
