// Visibility config and mixins

@mixin hide-visually() {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;

  &.hide-visually--focusable {
    &:active,
    &:focus {
      clip-path: auto;
      height: auto;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

@mixin show-visually() {
  clip-path: auto;
  height: auto;
  overflow: visible;
  position: relative;
  width: auto;
}
