//  Bookend
//  -> a narrow, horizontal 'strip' appearing at the top and bottom of a page
//  -> used as a common layout foundation for the main header and footer
@import '../config/breakpoints';
@import '../config/spacing';

// --- Base ---

[data-ui-bookend] {
  display: block;
  position: relative;
}

// --- Elements ---

[data-ui-bookend-item] {
  @include clearfix;
  clear: both;
  display: block;
  float: none;
  position: relative;
  vertical-align: middle;
}

// --- Traits ---

@mixin bookend-horizontal {
  @supports (display: flex) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  [data-ui-bookend-item] {
    display: inline-block;
    vertical-align: middle;
  }

  [data-ui-bookend-item~='left'] {
    float: left;

    @supports (display: flex) {
      float: none;
    }
  }

  [data-ui-bookend-item~='center'] {
    text-align: center;

    @supports (display: flex) {
      flex: 1;
    }
  }

  [data-ui-bookend-item~='right'] {
    float: right;
    text-align: right;

    @supports (display: flex) {
      float: none;
      margin-left: auto;
    }
  }
}

// switch to horizontal layout at a given breakpoint, or all the time
[data-ui-bookend~='horizontal'] {
  @include bookend-horizontal;
}

@each $name in ('xsmall' 'small' 'medium') {
  @include media('>#{$name}') {
    [data-ui-bookend~='horizontal@#{$name}'] {
      @include bookend-horizontal;
    }
  }
}

// align items to the top vs. middle (default)
[data-ui-bookend~='align-top'] {
  @supports (align-items: flex-start) {
    align-items: flex-start;
  }

  [data-ui-bookend-item] {
    vertical-align: top;
  }
}
