/* =============================================================================
//  Button module
// ========================================================================== */

@import "../core/all";

/*doc
---
title: Buttons
name: button
category: atoms
---

You can apply button styles to pretty much anything you'd like. Anchors and button elements, though, would be the winners on the semantics front.

You can mix and match classes to get the hierarchy/size you need. "small primary" and "large tertiary" are both kosher.

```html_example
<a href="#" class="button">Default</a>
<a href="#" class="button button--small">Small</a>
<a href="#" class="button button--large">Large</a>
<a href="#" class="button button--text">Text-only</a>
```

*/

/* Base
// -------------------------------------------------------------------------- */

button, .button {
  @include transition-default;
  @include font-accent;
  @include border('all', $color: lighten(theme('text' 'primary'), 20));
  @include scale-type('zeta');
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 0.2em;
  color: theme('text' 'primary');

  &:hover, &:active {
    border-color: theme('highlight');
    background-color: theme('highlight');
    color: theme('bg'); // override default link hover color
  }

  sup { font-size: 0.6em; }

  strong { @include font-accent('bold'); }
}



/* Modifiers
// -------------------------------------------------------------------------- */

// --- sizes ---------------------------------------------------------------
// -> default size is "medium." add these classes to go bigger or smaller.

.button--small {
  @include scale-type('eta');
  padding: 0.3em 0.8em;
  border-width: border-w('mid');
}

.button--large {
  @include scale-type('epsilon');
  padding: 0.8em 1.6em;
}

// --- special variations --------------------------------------------------
// -> buttons of a strange and amazing nature

// a "buy this" button, usually with a price
.button--purchase {
  padding: 0 0.8em 0 0; // override default button padding
  vertical-align: middle;
}

.button--text {
  @include font-accent('bold');
  @include scale-type('eta');
  padding: 0;
  border: none;
  text-transform: uppercase;

  &:hover, &:active {
    color: theme(highlight);
    background-color: transparent;
    border: none;
  }
}

/* Submodules
// -------------------------------------------------------------------------- */

// group/row of buttons joined together
.button-group {}

// price callout on a purchase button
// -> use inside .button.purchase
.button-price {
  @include transition-default;
  display: inline-block;
  margin-right: 1em;
  padding: 0.6em 1em;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  color: theme('text' 'primary', 'reverse');

  &:hover, &:active,
  .button:hover &, .button:active & {
    background-color: theme('highlight', 'reverse');
  }
}
