// =============================================================================
//  Button component
// =============================================================================

@import "../config/color";
@import "../config/type";
@import "../config/border";

// Base
// -----------------------------------------------------------------------------

button,
.button,
[data-button] {
  $color: 'text' 'primary';
  @include transition-default;
  @include font-accent;
  @include border('all', $color: $color);
  @include scale-type('zeta');
  display: inline-block;
  padding: 0.5em 1.2em;
  border-radius: 0.2em;
  color: theme($color);
  background-color: transparent;

  &:hover,
  &:active {
    background-color: theme($color);
    color: theme('bg'); // override default link hover color
  }

  sup { font-size: 0.6em; }

  strong { @include font-accent('bold'); }

  &.c-theme-reverse, .c-theme-reverse & {
    color: theme($color, 'reverse');

    &:hover,
    &:active {
      border-color: theme($color, 'reverse');
      background-color: theme($color, 'reverse');
      color: theme('bg', 'reverse'); // override default link hover color
    }
  }
}



// Modifiers
// -----------------------------------------------------------------------------

// --- sizes ---------------------------------------------------------------
// -> default size is "medium." add these classes to go bigger or smaller.

.button--small,
[data-button~='small'] {
  @include scale-type('zeta');
  padding: 0.3em 0.8em;
  border-width: border-w('mid');
}

.button--large,
[data-button~='large'] {
  @include scale-type('epsilon');
  padding: 0.8em 1.6em;
}

// --- prominence ----------------------------------------------------------
// -> how obnoxious shall your button be?

.button--primary,
[data-button~='primary'] {
  color: theme('bg');
  background-color: theme('text' 'primary');
  border-color: theme('text' 'primary');

  &:hover,
  &:active {
    background-color: darken(theme('text' 'primary'), 10);
    border-color: darken(theme('text' 'primary'), 10);
  }
}

.button--secondary,
[data-button~='secondary'] {
  color: theme('text' 'tertiary');
  border-color: theme('text' 'tertiary');
}

// --- special variations --------------------------------------------------
// -> buttons of a strange and amazing nature

.button--text,
[data-button~='text'] {
  @include font-accent('bold');
  @include scale-type('eta');
  @include color('text' 'primary');
  padding: 0;
  border: none;
  text-transform: uppercase;

  &:hover, &:active {
    @include color('text' 'primary');
    @include border('bottom', $style: 'secondary');
    background-color: transparent;
    border-color: inherit;
  }
}

// Elements
// -----------------------------------------------------------------------------

// price callout on a purchase button
// -> use inside .button.purchase
.button-price,
[data-button_price] {
  @include transition-default;
  display: inline-block;
  margin-right: 1em;
  padding: 0.6em 1em;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  color: theme('text' 'primary', 'reverse');

  &:hover, &:active,
  .button:hover &, .button:active & {
    background-color: theme('highlight', 'reverse');
  }
}
