/* ==========================================================================
// card box styles
// ========================================================================== */

@import "../core/all";

$card-grid: ms(7) ms(1);
$card-grid--large: ms(7) ms(1);
$card-bp: 'medium';

/* Base
// ---------------------------------------------------------------------------*/

.card {
  display: block;
  font-size: 0;

  @include yep(flexbox, no-ie) {
    @include display(flex);
    @include align-items(flex-start);
  }
}

/* Submodules
// ---------------------------------------------------------------------------*/

.card-figure {
  @include type-size-default;
  display: block;

  &:container("width >= 500px") {
    @include column(2, $card-grid);

    @include yep(flexbox, no-ie) { display: block; }
  }

  .card-content + & { margin-top: 1.5em; }
}

  .card-figure--large:container(width >= 500) { @include column(1, $grid: $card-grid--large); }

.card-content {
    display: block;

    .card-figure + & { margin-top: 1.5em; }

    &:container("width >= 500px") {
        @include column(1, $card-grid);
        margin-top: 0;
    }

    .card-figure--large &:container("width >= 500px") {
      @include column(2, $grid: $card-grid--large);

      @include yep(flexbox, no-ie) { @include flex(1); }
    }
}
