// Columns component
// -> arrange child elements in a 2-column layout on large screens
// -> one column is narrow ('sidebar') and the other wide ('main')
@import '../config/breakpoints';

$columns-breakpoint: screen('large');
$columns-sidebar-w: 30rem;

// --- Base
[data-ui-columns] {
  --gutter: var(--space-medium);
  --sidebar-width: #{$columns-sidebar-w};
  --breakpoint: #{$columns-breakpoint};
  display: block;
  font-size: 0;
}

// --- Elements
[data-ui-columns-item] {
  font-size: 1rem;
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
}

[data-ui-columns-item~='sidebar'] {
  width: 100%;

  @include media('>xsmall') {
    min-width: var(--sidebar-width);
    width: calc((var(--breakpoint) - 100%) * 1000);
  }
}

[data-ui-columns-item~='main'] {
  width: 100%;

  @include media('>xsmall') {
    min-width: calc(100% - var(--sidebar-width));
    width: calc((var(--breakpoint) - 100%) * 1000);
  }
}
