// ==========================================================================
// Cover image component
// -> an image that scales to almost fill the screen
// ==========================================================================

@import "../config/spacing";


// Base
// --------------------------------------------------------------------------

[data-ui-cover] {
  display: block;
  margin: 0 auto;
  max-height: 600px;
  max-height: 80vh;
}
