/* ==========================================================================
// Cover image styles
// ========================================================================== */

@import "../core/all";


/* Base
// ---------------------------------------------------------------------------*/

.cover {
  @include rem(margin, 0 auto);
  display: block;
  padding: 0 gutter('wide');
  max-height: 600px;
  max-height: 80vh;
}
