// Dropdown component
// -> Create a dropdown menu
// -> Based on details & summary elements
@import '../config/animation';
@import '../config/border';
@import '../config/positioning';
@import '../config/spacing';
@import '../config/special_effects';

// --- Base ---
[data-ui-dropdown] {
  display: inline-block;
  position: relative;
}

// --- Elements ---
[data-ui-dropdown-toggle] {
  cursor: pointer;
  list-style: none;

  // remove marker added by chrome
  &::-webkit-details-marker {
    display: none;
  }

  [data-ui-dropdown][open] & {
    // add an invisible overlay to whole screen so you can click anywhere else to dismiss the dropdown
    // -> cheers to https://github.com/muan/details-on-details
    // -> https://github.com/github/details-menu-element
    &::before {
      cursor: default;
      content: ' ';
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: z('high');
      background: transparent;
    }
  }
}

[data-ui-dropdown-menu] {
  @include border();
  @include border-radius();
  @include se-shadow();
  display: block;
  min-width: 10rem;
  z-index: z('top');

  &::before {
    $w: 0.48rem;
    content: ' ';
    display: block;
    position: absolute;
    top: (($w - 0.0625rem) * -1);
    right: space('narrow');
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent #{color('bg')};
    border-color: transparent transparent #{color-property('bg')};
    border-width: 0 #{$w} #{$w};
  }

  [data-ui-dropdown][open] & {
    position: absolute;
    right: 0;
  }
}
