/* ==========================================================================
// Header styles
// ========================================================================== */

@import "../core/all";


// $header-h: 50px;

/* Base
// ---------------------------------------------------------------------------*/

.feed {
    display: block;
    list-style: none;
    margin-left: 0;

    ul, li { padding-left: 0; }
}

/* Modifiers
// ---------------------------------------------------------------------------*/
.feed.l-wrapper { margin-left: auto; }

/* Submodules
// ---------------------------------------------------------------------------*/

.feed-item {
    @include rem(padding-bottom, fs(7));
    @include rem(margin-bottom, fs(7));
    @include border(bottom);
    display: block;

    &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }
}
