/* =============================================================================
// Footer styles
// ========================================================================== */

@import "../core/all";
@import "../base/heading";
@import "../base/text";
@import "../components/gallery";
@import "../components/logo";

/* Base
// -------------------------------------------------------------------------- */

.footer, footer {
    @include border(top);
    // margin-top: $gutter;
    padding-top: $gutter-outside;
    padding-bottom: $gutter-outside;
}

/* Submodules
// -------------------------------------------------------------------------- */

.footer-section {
    @include border(top);
    // margin-top: $gutter;
    padding: $gutter-outside 0;

    &:first-child {
        border-top: none;
        // margin-top: 0;
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.footer-logo {
    @extend .logo;
    // margin-left: $gutter;
    height: em(26px);
    width: em(175px);

    .logo-jpw-jay_perry { fill: theme(text primary); }
    .logo-jpw-works { fill: theme(highlight); }

    @include media('>small') {
        display: inline-block;
        vertical-align: top;
        margin-top: -0.3em; // move up slightly so lowercase aligns with other elements
    }
}

.footer-copyright {
    @extend %font-accent;
    display: block;
    // margin-left: $gutter;
    margin-top: 0.8em;
    font-size: 0.5em;
    text-transform: uppercase;
    color: theme(text tertiary);

    @include media('>small') {
        display: inline-block;
        vertical-align: top;
        margin-left: 1em;
        margin-top: 0;
    }
}
