// =============================================================================
//  Gallery component
// -> Arrange a list of elements in equal rows and columns using CSS Grid
// -> Has a calc()-based fallback
// =============================================================================

// default values
$gallery-gutter: space('xnarrow');
$gallery-breakpoint: 600px;
$gallery-min-percentage: 33.33333%;
$gallery-max-percentage: 100%;

[data-ui-gallery] {
  --gutter: var(--space-xnarrow, $gallery-gutter);
  --min-width: 240px;
  --breakpoint: $gallery-breakpoint;
  --min-percentage: $gallery-min-percentage;
  --max-percentage: $gallery-max-percentage;

  display: block;
  font-size: 0;
  list-style: none;
  margin: (($gallery-gutter/2) * -1);
  margin: calc((var(--gutter) / 2) * -1);
  padding-left: 0;
  position: relative;
  text-align: left;

  @supports (display: grid) and (display: flex) {
    display: grid;
    grid-column-gap: var(--gutter);
    grid-row-gap: var(--gutter);
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
    margin: 0;
  }
}

[data-ui-gallery~='small'] {
  --min-width: 180px;
  --breakpoint: 480px;
  --min-percentage: 25%;
}

[data-ui-gallery~='large'] {
  --min-width: 400px;
  --breakpoint: 1000px;
  --min-percentage: 25%;
}

[data-ui-gallery-item] {
  display: inline-block;
  font-size: 1rem;
  margin: 0; // overrule default li spacing
  padding: $gallery-gutter;
  padding: var(--gutter);
  position: relative;
  vertical-align: top;

  // fallback fluid sizing method using a calc() hack
  // -> allows grid to be somewhat responsive without media queries
  // -> mainly for IE and old browsers
  // -> https://www.sitepoint.com/responsive-css-patterns-without-media-queries/
  max-width: $gallery-max-percentage;
  max-width: var(--max-percentage);
  min-width: $gallery-min-percentage;
  min-width: var(--min-percentage);
  width: calc(($gallery-breakpoint - 100%) * 1000);
  width: calc((var(--breakpoint) - 100%) * 1000);

  @supports (display: grid) and (display: flex) {
    align-items: flex-start;
    display: flex;
    max-width: none;
    min-width: auto;
    padding: 0;
    width: auto;
  }
}
