// ==========================================================================
//  Icon component
// -> for icon sprites, vector graphics, etc.
// ==========================================================================

// Base
// --------------------------------------------------------------------------

[data-ui-icon] {
  // sass-lint:disable no-important
  // -> use important here to ensure fill is always inherited
  color: inherit;
  display: inline-block;
  fill: currentColor !important;
  height: 1.4em;
  margin-top: -0.15em; // scooch up a little on the baseline
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  vertical-align: middle;
  width: 1.4em;

  svg {
    fill: currentColor !important;
    margin: 0;
    max-height: 100%;
    width: 100%;
  }
}
