// ==========================================================================
//  Logo component
// ==========================================================================

// Base
// --------------------------------------------------------------------------

[data-ui-logo] {
  display: block;
  border: none; // override anchor tag borders
}


// Traits
// --------------------------------------------------------------------------

// The 'monogram' version of the logo appearing in the header
[data-ui-logo~='monogram'] {

  &[data-ui-logo~='jp'] {
    @include color('bg');
  }

  &[data-ui-logo~='bg'] {
    @include color('text' 'primary');
  }
}

// The 'full' version of the logo appearing in the footer
[data-ui-logo~='full'] {
  display: block;
  height: 1.625rem;
  width: 10.9375rem;

  &[data-ui-logo~='jay-perry'] {
    @include color('text' 'primary');
  }

  &[data-ui-logo~='works'] {
    @include color('text' 'tertiary');
  }
}
