/* ==========================================================================
//  Logo modules
// ========================================================================== */

/* Main logo
// -------------------------------------------------------------------------- */
.logo { display: block; }

.logo--jpw {
  display: block;
  @include rem(height, 26px);
  @include rem(width, 175px);
}
.logo--jpw-jay_perry { fill: theme('text' 'primary'); }
.logo--jpw-works { fill: theme('highlight'); }
