// ==========================================================================
// Main footer component
// ==========================================================================

@import "../config/border";
@import "../config/spacing";
@import "../config/breakpoints";
@import "../config/type";

// Base
// --------------------------------------------------------------------------

[data-ui-main-footer] {
  @include border('top');
  padding-top: space('wide');
  padding-bottom: space('wide');
}

// Submodules
// --------------------------------------------------------------------------

[data-ui-main-footer-lockup] {
  @include media('>small') {
    display: inline-block;
    // margin-top: -0.3em; // move up slightly so lowercase aligns with other elements
    vertical-align: top;
  }
}

[data-ui-main-footer-copyright] {
  @include color-fg('text-tertiary');
  @include font-accent;
  display: block;
  font-size: scale-type('eta');

  @include media('>small') {
    display: inline-block;
    margin-left: 1em;
    vertical-align: top;
  }
}
