// =========================================================================
// Post component
// ========================================================================= 

@import "../config/spacing";
@import "../config/layout_width";
@import "../base/heading";
@import "../base/text";
@import "../base/list";
@import "../components/cover";
@import "../components/gallery";

// Base
// ------------------------------------------------------------------------- 

.post {
  display: block;
}

// Elements
// -------------------------------------------------------------------------

// .post-cover {} -- see below

.post-header {
  margin-top: 2em;
  margin-bottom: 2em;

  .post-cover + & {
    margin-top: 0;
  }
}

.post-content {
  $margin: 1em;
  padding-bottom: $gutter-outside;

  * + * {
    margin-top: 1em;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    max-width: layout-w('default');

    &:first-child, &:first-of-type {
      @extend .lead;
    }

    &:last-child { margin-bottom: 0; }
  }

  > ul {
    @extend .gallery;
    @include rem(margin-top, fs(8));
    @include rem(margin-bottom, fs(8));

    &.small {
      @extend .gallery.small;
    }
    &.large {
      @extend .gallery.large;
    }
  }

  li {
    @extend .gallery-item;

    ul.small & {
      @extend %gallery-item--small;
    }
    ul.large & {
      @extend %gallery-item--large;
    }
  }
}

.post-meta {
  @include font-accent;
  @include scale-type('zeta');
  @include border(top bottom);
  display: block;
  padding: 1em 0;
  margin: 1em 0;
  text-transform: uppercase;
  color: theme(text tertiary);

  &.top {
    @include rem(margin-bottom, fs(6));
    border-top: none;
  }

  &.sidebar {
    @include media('>large') {
      $w: 200px;
      
      @include rem(width, $w);
      @include rem(margin-right, -($w + $gutter));
      float: right;
      border-bottom: none;
    }
  }
}

.post-date {
  @extend .date;
  display: block;

  @include media('>small') {
    @include border(right);
    display: inline;
    margin-right: 0.8em;
    padding-right: 0.8em;
  }

  .post-meta.sidebar & {
    @include media('>large') {
      display: block;
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}

.post-tags {
  @extend .tags;
  display: block;
  margin: 0.5em 0 0;

  @include media('>small') {
      display: inline;
      margin-top: 0.2em;
  }

  &.right {
      @include media('>small') {
        display: inline-block;
        margin-top: -0.2em;
        margin-left: 1em;
        float: right;
      }
    }

  .post-meta.sidebar & {
    @include media('>large') {
      display: block;
      margin: 0.5em 0 0;
    }
  }
}

.post-feature_image {
  margin: 1em 0;
  width: 100%;
}
