// ==========================================================================
//  Stat component
// -> a set of stats, or metadata/numbers, for a given piece of content
// ==========================================================================

@import "../config/type";
@import "../config/color";

// Base
// --------------------------------------------------------------------------

.stat {
  @include font-accent;
  @include scale-type('zeta');
  @include color('text' 'secondary');
  display: inline-block;
  vertical-align: baseline;
}


// Elements
// --------------------------------------------------------------------------

// a small group of stats, like a stat-label pair
.stat-group {
  margin: 0;

  .stat { display: block; }

  // &:container("width >= 150px") {
  //   .stat {
  //     display: inline-block;
  //   }

  //   .stat--label:after { content: ":"; }
  // }
}

// a list of stats
.stat-list {
  margin-left: 0;
  list-style: none;

  // &:container("width >= 300px") {
  //   font-size: 0;

  //   .stat-group {
  //     @include type-size-default;
  //     display: inline-block;
  //     // width: (100%/4);
  //     padding-right: 1.5em;
  //   }

  //   .stat {
  //     display: block;

  //     &:after { content: none; }
  //   }
  // }
}


// Modifiers
// --------------------------------------------------------------------------

.stat--label {
  @include color('text' 'tertiary');
}
