// ==========================================================================
//  Stat component
// -> a set of stats, or metadata/numbers, for a given piece of content
// ==========================================================================

@import "../config/type";
@import "../config/color";

// Base
// --------------------------------------------------------------------------

[data-ui-stats] {
  list-style: none;
  margin-left: 0;

  @supports (display: flex) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -(space());
    padding: space($split: true);
  }
}


// Elements
// --------------------------------------------------------------------------

// a small group of stats, like a stat-label pair
[data-ui-stats-group] {
  margin: 0;

  @supports (display: flex) {
    @include type-size-default;
    min-width: 8rem;
    padding: space($split: true);
  }
}

[data-ui-stats-item] {
  @include color-fg('secondary');
  @include font-accent;
  display: block;
  font-size: scale-type('zeta');
  margin-left: 0; // reset dt/dd default indent
  vertical-align: baseline;
}


// Traits
// --------------------------------------------------------------------------
[data-ui-stats-item~='label'] {
  @include color-fg('tertiary');

  &:after {
    content: ':';
  }
}
