// ==========================================================================
//  Stat component
// -> a set of stats, or metadata/numbers, for a given piece of content
// ==========================================================================

@import "../config/type";
@import "../config/color";

// Base
// --------------------------------------------------------------------------

[data-ui-stats] {
  margin-left: 0;
  list-style: none;

  @supports (display: flex) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: space($split: true);
    margin: -(space());
  }
}


// Elements
// --------------------------------------------------------------------------

// a small group of stats, like a stat-label pair
[data-ui-stats-group] {
  margin: 0;

  @supports (display: flex) {
    @include type-size-default;
    min-width: 8rem;
    padding: space($split: true);
  }
}

[data-ui-stats-item] {
  @include font-accent;
  @include scale-type('zeta');
  @include color('text' 'secondary');
  display: block;
  vertical-align: baseline;
  margin-left: 0; // reset dt/dd default indent
}


// Traits
// --------------------------------------------------------------------------
[data-ui-stats-item~='label'] {
  @include color('text' 'tertiary');

  &:after {
    content: ':';
  }
}
