/* =============================================================================
// Tag/tag list styles
// ========================================================================== */

@import "../core/all";

/* Base
// -------------------------------------------------------------------------- */

.tag {
    @include transition-default;
    @include border;
    @include font-accent;
    @include scale-type('zeta');
    @include color('text' 'tertiary');
    display: inline-block;
    padding: 0.15em 0.4em 0.05em;
    margin-left: 0;
    border-radius: 0.1em;
    vertical-align: bottom;

    &:hover, &:active {
      @include color('highlight');
      @include color('highlight', 'border-color');
    }

    a {
      font-family: inherit;
      font-size: inherit;
      color: inherit;

      &:hover, &:active { color: inherit; }
    }
}

// list of tags
.tag-group {
  display: inline-block;
  padding: 0;
  list-style: none;

  .tag {
    margin-top: 0;
    margin-right: 0.25em;

    &:last-child { margin-right: 0; }
  }
}
