/* =============================================================================
// Tag/tag list styles
// ========================================================================== */

@import "../core/all";

/* Base
// -------------------------------------------------------------------------- */

.tag {
    @include transition-default;
    @include border;
    @include font-accent;
    @include scale-type('zeta');
    @include color('text' 'tertiary');
    display: inline-block;
    padding: 0.15em 0.4em 0.05em;
    margin-left: 0;
    border-radius: 0.1em;
    vertical-align: middle;

    &:hover, &:active {
      @include color('highlight');
      @include color('highlight', 'border-color');
    }

    a {
      font-family: inherit;
      font-size: inherit;
      color: inherit;

      &:hover, &:active { color: inherit; }
    }
}

/* Subcomponents
// -------------------------------------------------------------------------- */

// a label for a list of tags
// .tag-label {
//   @include font-accent;
//   @include scale-type('zeta');
//   @include color('text' 'secondary');
//   display: block;
//   vertical-align: middle;
// }

// list of tags
.tag-group {
  display: block;
  position: relative;
  padding-left: 0;
  list-style: none;

  .tag {
    margin-top: 0;
    margin-right: 0.25em;
    margin-bottom: 0.5em;

    &:last-child { margin-right: 0; }
  }
}
