// ==========================================================================
// Tag component
// ==========================================================================

@import "../config/type";
@import "../config/color";
@import "../config/animation";

// Base
// -------------------------------------------------------------------------- 

.tag {
    @include transition-default;
    @include border;
    @include font-accent;
    @include scale-type('zeta');
    @include color('text' 'tertiary');
    display: inline-block;
    padding: 0.15em 0.4em 0.05em;
    margin-left: 0;
    border-radius: 0.1em;
    vertical-align: middle;

    &:hover, &:active {
      @include color('highlight');
      @include color('highlight', 'border-color');
    }

    a {
      font-family: inherit;
      font-size: inherit;
      color: inherit;

      &:hover, &:active { color: inherit; }
    }
}

// Subcomponents
// -------------------------------------------------------------------------- 

// a label for a list of tags
// .tag-label {
//   @include font-accent;
//   @include scale-type('zeta');
//   @include color('text' 'secondary');
//   display: block;
//   vertical-align: middle;
// }

// list of tags
.tag-group {
  display: block;
  position: relative;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  list-style: none;

  > li, .tag-group-item {
    display: inline-block;
    margin: 0 0.25em 0.5em 0;

    &:last-child { margin-right: 0; }
  }
}
