---
// assets
import '@styles/tokens/borders.css';
import '@styles/tokens/spacing.css';
import '@styles/utilities/type.css';
import arrow from '@icons/arrow-right.svg?raw';

// utils
import { linkResolver } from '@lib/routes';
import * as prismicHelpers from '@prismicio/helpers';

// components
import Heading from '@components/blocks/Heading.astro';
import Button from '@components/elements/Button.astro';
import RenderedText from '@components/elements/RenderedText.astro';

// types
import { LinkField, TitleField } from '@prismicio/types';
import { FormattedText } from '@lib/types';

export interface Action {
	label: string,
	link: LinkField,
};

export interface Props {
	title: TitleField,
	actions?: Action[],
	description?: FormattedText;
	class?: string,
};

const {
	title,
	actions,
	description,
	class: className = ''
} = Astro.props as Props;
---

<aside class={['callout', className].join(' ')}>
	<Heading
		class="type-scale-gamma"
		text={title}
	/>

	<slot>
		<RenderedText
			allowHTML={true}
			{...description}
		/>
	</slot>

	{actions?.length > 0 && (
		<footer>
			{actions.map(({label, link}) => (
				<Button
					iconRight={arrow}
					href={prismicHelpers.asLink(link, linkResolver)}
				>
					{label}
				</Button>
			))}
		</footer>
	)}
</aside>

<style>
	.callout {
		--color-surface: var(--color-well);

		background-color: var(--color-well);
		border-radius: var(--border-radius-round);
		display: flex;
		flex-direction: column;
		gap: var(--space-xnarrow);
		padding: var(--space-wide);
	}

	footer {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-xnarrow);
		justify-content: flex-end;
		padding-block-start: var(--space-medium);
	}
</style>
