---
import MainNav from '../components/MainNav.astro';

const { siteTitle = 'Jay Perry Works', pageTitle, path } = Astro.props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{siteTitle}{pageTitle && `| ${pageTitle}`}</title>
</head>
<body>
	<MainNav segment={path} />
  <slot />
</body>
</html>