---
title: home
---

<%= component "main_header", locals: {
  show_intro: true,
  intro: data.site.intro,
  status: data.site.status,
  theme: "reverse"
} %>

<!-- Work section -->
<% component "panel", locals: { heading: "Recent work", id: "work" } do %>
  <div class="l-wrapper l-wrapper--wide">
    <%= component "work_gallery", :locals => { :prints => blog("work").articles } %>

    <div class="t-centered margin-top-wide">
      <% component 'button_link', locals: {
        url: data.site.etsy_link,
        target: '_blank',
        size: 'large',
        role: 'primary'
      } do %>
        More prints available at <strong>Etsy</strong> &rsaquo;
      <% end %>
    </div>
  </div>
<% end %>

<!-- Blog section -->
<% if blog('writing').articles.length > 0 %>
  <% component 'panel', locals: { heading: 'Writing', id: 'writing' } do %>
    <div class="l-wrapper">
      <%= component "writing_feed", :locals => { :articles => blog("writing").articles[0...5] } %>

      <% if blog("writing").articles.length > 5 %>
        <div class="margin-top-wide padding-top-wide border-top t-centered">
          <% component 'button_link', locals: {
            url: '/writing',
            size: 'large',
            role: 'primary'
          } do %>
            More writing &rsaquo;
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
