---
title: Home
---

<ul>
    <% blog.articles.each do |print| %>
    <li data-year="<%= print.date.strftime('%Y') %>">
        <h3><a href="<%= print.url %>"><%= print.title %></a></h3>
    </li>
    <% end %>
</ul>
