---
title: home
---

<!-- Work section -->
<section class="panel">
    <h1 class="panel-slug">Work</h1>
    <div class="l-wrapper">
        <%= partial "components/work_list", :locals => { :prints => blog("work").articles } %>

        <div class="l-centered">
            <a class="button large l-has-margin top" href="https://www.etsy.com/shop/jayperry" target="_blank">More prints &amp; paintings available at <strong>Etsy</strong></a>
        </div>
    </div>
</section>

<!-- Blog section -->
<% if blog("writing").articles.length > 0 %>
    <section class="panel">
        <h1 class="panel-slug">Writing</h1>
        <div class="l-wrapper narrow">
            <%= partial "components/writing_list", :locals => { :articles => blog("writing").articles[0...5] } %>
        </div>
    </section>
<% end %>
