---
title: home
---

<%= component "main_header", locals: {
  hide_nav: true,
  show_intro: true,
  intro: data.site.intro,
  status: data.site.status,
  theme: "reverse"
} %>

<!-- Work section -->
<% component "panel", locals: { heading: "Recent work", id: "work" } do %>
  <% component 'wrapper', locals: { width: 'wide' } do %>
    <%= component "work_gallery", locals: {
      prints: blog("work").articles
    } %>

    <div class="t-centered margin-top-wide">
      <% component 'button_link', locals: {
        url: data.site.etsy_link,
        target: '_blank',
        size: 'large'
      } do %>
        More prints available at <strong>Etsy</strong> &rsaquo;
      <% end %>
    </div>
  <% end %>
<% end %>

<!-- Blog section -->
<% if blog('writing').articles.length > 0 %>
  <% component 'panel', locals: { heading: 'Writing', id: 'writing' } do %>
    <% component 'wrapper' do %>
      <%= component "writing_feed", locals: { articles: blog("writing").articles[0...5] } %>

      <% if blog("writing").articles.length > 5 %>
        <div class="margin-top-wide padding-top-wide border-top t-centered">
          <% component 'button_link', locals: {
            url: '/writing',
            size: 'large'
          } do %>
            More writing &rsaquo;
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
