---
title: home
---

<!-- Work section -->
<% component "panel", locals: { slug: "Recent work" } do %>
  <div class="l-wrapper l-wrapper--wide l-margin-top-wide">
    <%= component "work_gallery", :locals => { :prints => blog("work").articles } %>

    <div class="t-centered l-margin-top-wide">
      <a class="button button--large" href="https://www.etsy.com/shop/jayperry" target="_blank">
        More prints &amp; paintings available at <strong>Etsy</strong>
      </a>
    </div>
  </div>
<% end %>

<!-- Blog section -->
<% if blog("writing").articles.length > 0 %>
  <% component "panel", locals: { slug: "Writing" } do %>
    <div class="l-wrapper narrow">
      <%= component "writing_feed", :locals => { :articles => blog("writing").articles[0...5] } %>
    </div>
  <% end %>
<% end %>
