---
title: home
---

<%= component "main_header", locals: {
  show_intro: true,
  intro: data.site.intro,
  status: data.site.status
} %>

<!-- Work section -->
<% component "panel", locals: { heading: "Recent work", id: "work" } do %>
  <div class="l-wrapper l-wrapper--wide l-margin-top-wide">
    <%= component "work_gallery", :locals => { :prints => blog("work").articles } %>

    <div class="t-centered l-margin-top-wide">
      <% link_to "https://jayperry.etsy.com/", target: "_blank", data: { button: 'primary large' } do %>
        More prints available at <strong>Etsy</strong> &rsaquo;
      <% end %>
    </div>
  </div>
<% end %>

<!-- Blog section -->
<% if blog("writing").articles.length > 0 %>
  <% component "panel", locals: { heading: "Writing", id: "writing" } do %>
    <div class="l-wrapper">
      <%= component "writing_feed", :locals => { :articles => blog("writing").articles[0...5] } %>

      <% if blog("writing").articles.length > 5 %>
        <div class="l-margin-top-wide l-padding-top-wide border-top t-centered">
          <%= link_to "More writing &rsaquo;", "/writing.html", data: { button: 'primary large' } %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
