---
title: Prints &amp; paintings
---
<%= component 'main_header' %>

<% component 'panel', locals: {
  el: 'main',
  borders: 'none'
} do %>

  <% component 'wrapper', locals: {
    width: 'xxwide',
    centered: true
  } do %>
    <h1 class="padding-bottom"><%= current_page.data.title %></h1>
    <div class="overflow-hidden">
      <div data-columns class="gutter-wrapper gutter-wide">
       <div data-columns-item='sidebar' class="gutter">
         <% component 'wrapper', locals: {
           width: 'narrow',
           classes: 't-content'
         } do %>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vitae tempore praesentium libero, quos, deserunt animi qui, quas ducimus dolores unde! Beatae cum ullam, facere id officia tempore quaerat illo?</p>
         <% end %>
         <div class="padding-top-wide">
           <% component 'button_link', locals: {
             url: data.site.etsy_link,
             target: '_blank'
           } do %>
             More prints available at <strong>Etsy</strong> &rsaquo;
           <% end %>
         </div>
       </div>

       <div data-columns-item="main" class="gutter">
         <%= component 'pictures_gallery', locals: {
           pictures: blog('pictures').articles
         } %>
       </div>
     </div>
    </div>
  <% end %>
<% end %>
