<%
  # Main Footer component
  # - lives at the bottom of each page

  # Locals:
  show_bio ||= false # BOOLEAN (optional): show the bio card? (only shown on interior pages, usually)
%>

<footer class="c-bg-well padding-y-wide padding-x-outside border-seam-top" role="contentinfo" id="footer">
  <% component 'wrapper', locals: {
    width: 'xxwide',
    classes: 'overflow-hidden'
  } do %>
    <% if show_bio == 'whatever' %>
      <figure data-ui-card="multicolumn" class="gutter-wrapper margin-bottom-wide padding-bottom border-bottom">
        <div data-ui-card-figure="small" class="gutter t-align-center">
          <div style="display: inline-block; max-width: 200px;">
            <%= image_tag "portrait.jpg", alt: data.site.title %>
          </div>
        </div>
        <figcaption data-ui-card-content class="gutter">
          <div class="t-body"><%= render_markdown(data.site.bio_blurb) %></div>
          <% component 'button_link', locals: {
            url: '/about',
            role: 'text',
            classes: 'margin-top-narrow'
          } do %>
            More about Jay &rsaquo;
          <% end %>
          <dl class="tag-group margin-top padding-top border-top border--secondary">
            <dt class="t-accent-bold t-caps t-scale-eta t-leading-tight margin-bottom-narrow">Say hi</dt>
            <div class="gutter-wrapper gutter-xxxnarrow">
              <% data.site.social.each do |site| %>
                <dd class="display-inline-block no-margin gutter"><%= link_to site.name, site.link, class: "t-tag" %></dd>
              <% end %>
            </div>
          </dl>
        </figcaption>
      </figure>
    <% end %>

  <% end %>
</footer>
