//  Mixins and such for special effects
@import 'color';

// default box shadow
@mixin se-shadow(
  $position: 0 0,
  $blur: 0.5rem,
  $spread: 0
) {
  box-shadow: $position $blur $spread color('shadow');
  box-shadow: $position $blur $spread var(#{color-property('shadow')});
}
